// Colors
// ======
// @LandonSchropp's approach of naming color variables.
// - http://davidwalsh.name/sass-color-variables-dont-suck
// - http://www.color-blindness.com/color-name-hue/

// General colors palette
$colors: (
  transparent: transparent,
  white: #fff,
  black: #000,
  black-464444: #464444,
  red: #e1251b,
  red-f14e46: #f14e46,
  light-gray: #f8f8f8,
  gray-979797: #979797,
  oat: #e4e1d8,
  yellow: #fed019,
  white-smoke: #f2f2f2,
  gainsboro: #e0e0e0,
  silver: #bdbdbd,
  gray: #828282,
  puerto-rico: #4dba87,
  mine-shaft: #333,
  green: #7ab827,
  sky-d2ddf0: #D2DDF0,
  blue: #0961EA,
  bg-gmail: #0076fe,
  bg-facebook: #3a5997,
  gray-c2c2c2: #c2c2c2,
  gray-c3c3c3: #c3c3c3
);

// Theme generic colors
// Key: name of color
// Value: color value or map with default, hover, focus color values
$colors-theme: (
  primary: (
    default: map-get($colors, black),
    hover: map-get($colors, mine-shaft)
  ),
  secondary: (
    default: map-get($colors, red),
    hover: map-get($colors, red-f14e46),
  ),
  accent: (
    default: map-get($colors, black),
    hover: map-get($colors, mine-shaft),
  ),
  tertiary: map-get($colors, silver),
  success: map-get($colors, puerto-rico),
  warning: map-get($colors, oat),
  error: map-get($colors, red-f14e46)
);

$colors-border: (
  primary: map-get($colors, black),
  secondary: map-get($colors, red),
);

$colors-background: (
  primary: (
    default: map-get($colors, black),
    hover: map-get($colors, mine-shaft)
  ),
  secondary: (
    default: map-get($colors, red),
    hover: map-get($colors, red-f14e46)
  ),
  tertiary: map-get($colors, suva-gray)
);
