<template>
  <div class="category-list relative" :id="sliderId">
    <div class="block-title flex between-xs">
      <h2>
        {{ secTitle }}
        <div class="sec-subtitle" v-if="subTitle">
          {{ subTitle }}
        </div>
      </h2>
      <div class="swiper-arrows flex">
        <span :id="sliderId + '-button-prev'" class="swiper-button-prev" slot="button-prev">
          <img src="/assets/icons/right-arrow.png" alt="Prev">
        </span>
        <span :id="sliderId + '-button-next'" class="swiper-button-next" slot="button-next">
          <img src="/assets/icons/right-arrow.png" alt="Next">
        </span>
      </div>
    </div>
    <div class="category-swiper align-center">
      <swiper class="swiper flex" :options="swiperOption" :instance-name="sliderId">
        <swiper-slide v-for="(categoryList, index) in puppyData" :key="index">
          <router-link :to="categoryList.id">
            <span>
              <img :src="categoryList.image" alt="">
            </span>
            <h4>{{ categoryList.name }}</h4>
          </router-link>
        </swiper-slide>
      </swiper>
    </div>
  </div>
</template>

<script>
import NoSSR from 'vue-no-ssr';
import { Swiper, SwiperSlide } from 'vue-awesome-swiper'
import SwiperCore, { Navigation } from 'swiper';
import 'swiper/swiper.scss'

SwiperCore.use([Navigation]);

export default {
  components: {
    Swiper,
    SwiperSlide
  },
  data () {
    return {
      swiperOption: {
        slidesPerView: 'auto',
        // centeredSlides: true,
        grabCursor: true,
        navigation: {
          nextEl: ('#' + this.sliderId + '-button-next'),
          prevEl: ('#' + this.sliderId + '-button-prev')
        },
        breakpoints: this.sliderBreakPoints()
      }
    }
  },
  props: {
    sliderId: {
      type: String,
      default: ''
    },
    secTitle: {
      type: String,
      default: ' New Product'
    },
    subTitle: {
      type: String,
      default: ''
    },
    perPageCustom: {
      type: Array,
      default: () => []
    },
    puppyData: {
      type: Array,
      default: () => []
    }
  },
  methods: {
    sliderBreakPoints () {
      let breakPointsArr = {};
      let breakPointsScreens = [];
      let slidesPerViewArr = [];

      this.perPageCustom.forEach((perPage) => {
        breakPointsScreens.push(perPage[0]);
        slidesPerViewArr.push({
          slidesPerView: perPage[1][0],
          spaceBetween: perPage[1][1]
        });
      });
      breakPointsArr = Object.assign(...breakPointsScreens.map((k, i) => ({ [k]: slidesPerViewArr[i] })));
      return breakPointsArr;
    }
  }
}
</script>
<style lang="scss">
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$color-primary: color(primary);
$color-secondary: color(secondary);
$white: color(white);
$black: color(black);
$black-464444: color(black-464444);

.category-swiper{
  .swiper-slide{
    a{
      display: block;
      color:$color-primary;
      h3{
        font-size: 18px;
        padding: 15px 0 0 0;
      }
      span{
        position: relative;
        display: block;
        border-radius: 100%;
        overflow: hidden;
        img {
          display:block;
          width:100%;
        }
        margin-bottom: 20px;
      }
      &:hover{
        span{
          border-color: $white;
        }
      }
    }
  }
}
</style>
