<template>
  <div class="">
    <svg class="bg-svg" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1556 68.8" style="enable-background:new 0 0 1556 68.8;" xml:space="preserve">
      <path class="st0" d="M0,31.7C94.2,46.4,175.2,53.9,237.8,58c86.7,5.7,227,14.9,387.3-3.2c50.9-5.8,152.3-19.8,162.6-21.2 c72.1-10,105.5-15.4,132-19.1c114.6-15.9,207.9-14.2,295-12.6C1329,4.1,1443,14,1556,31.7v37H0V31.7z" />
    </svg>
    <div class="favorite-brands bg-cl-oat relative container small-space" v-if="brandData">
      <div>
        <div class="block-title flex between-xs">
          <h2>
            {{ secTitle }}
            <div class="sec-subtitle" v-if="subTitle">
              {{ subTitle }}
            </div>
          </h2>
          <div class="swiper-arrows flex">
            <span :id="sliderId + '-button-prev'" class="swiper-button-prev" slot="button-prev">
              <img src="/assets/icons/right-arrow.png" alt="Prev">
            </span>
            <span :id="sliderId + '-button-next'" class="swiper-button-next" slot="button-next">
              <img src="/assets/icons/right-arrow.png" alt="Next">
            </span>
          </div>
        </div>
        <div class="favorite-brands-swiper align-center">
          <no-ssr>
            <swiper class="swiper flex" :options="swiperOption" :instance-name="sliderId">
              <swiper-slide v-for="(brand, indx) in brandData[0]" :key="indx">
                <router-link :to="brand.brand_url">
                  <span>
                    <img :src="brand.brand_slider_image" :alt="brand.brand_value">
                  </span>
                </router-link>
              </swiper-slide>
            </swiper>
          </no-ssr>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import NoSSR from 'vue-no-ssr';
import { Swiper, SwiperSlide } from 'vue-awesome-swiper'
import SwiperCore, { Navigation } from 'swiper';
import 'swiper/swiper.scss'

SwiperCore.use([Navigation]);

export default {
  components: {
    'no-ssr': NoSSR,
    Swiper,
    SwiperSlide
  },
  data () {
    return {
      swiperOption: {
        slidesPerView: 'auto',
        grabCursor: true,
        navigation: {
          nextEl: ('#' + this.sliderId + '-button-next'),
          prevEl: ('#' + this.sliderId + '-button-prev')
        },
        breakpoints: this.sliderBreakPoints()
      }
    }
  },
  props: {
    sliderId: {
      type: String,
      default: ''
    },
    products: {
      type: null,
      default: () => []
    },
    secTitle: {
      type: String,
      default: ' New Product'
    },
    subTitle: {
      type: String,
      default: ''
    },
    perPageCustom: {
      type: Array,
      default: () => []
    },
    brandData: {
      type: Array,
      default: () => []
    }
  },
  methods: {
    sliderBreakPoints () {
      let breakPointsArr = {};
      let breakPointsScreens = [];
      let slidesPerViewArr = [];

      this.perPageCustom.forEach((perPage) => {
        breakPointsScreens.push(perPage[0]);
        slidesPerViewArr.push({
          slidesPerView: perPage[1][0],
          spaceBetween: perPage[1][1]
        });
      });
      breakPointsArr = Object.assign(...breakPointsScreens.map((k, i) => ({ [k]: slidesPerViewArr[i] })));
      return breakPointsArr;
    }
  }
}
</script>
<style lang="scss">
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$color-primary: color(primary);
$color-secondary: color(secondary);
$white: color(white);
$black: color(black);
$black-464444: color(black-464444);
$oat: color(oat);
.bg-svg{
  fill: $oat;
}
.favorite-brands-swiper{
  .swiper-slide{
    a{
      display: block;
      color:$color-primary;
      width: 100%;
      h3{
        font-size: 18px;
        padding: 15px 0 0 0;
      }
      span{
        border-radius: 15px;
        padding: 15px;
        background: $white;
        position: relative;
        padding-top: 100%;
        display: block;
        overflow: hidden;
        img {
        position: absolute;
        top: 50%;
        padding: 10px;
        left: 0;
        object-position: top;
        object-fit: cover;
        width: 100%;
        transform: translate(0,-50%);
        }
      }
    }
  }
  @media (max-width: 767px) {
    .swiper-container{
      overflow: visible;
    }
  }
}
</style>
