<template>
  <div :id="sliderId">
    <div class="product-slider" v-if="products">
      <div class="slider-container relative">
        <div class="block-title flex between-xs">
          <h2>
            {{ secTitle }}
            <div class="sec-subtitle" v-if="subTitle">
              {{ subTitle }}
            </div>
          </h2>
          <div class="swiper-arrows flex">
            <span :id="sliderId + '-button-prev'" class="swiper-button-prev" slot="button-prev">
              <img src="/assets/icons/right-arrow.png" alt="Prev">
            </span>
            <span :id="sliderId + '-button-next'" class="swiper-button-next" slot="button-next">
              <img src="/assets/icons/right-arrow.png" alt="Next">
            </span>
          </div>
        </div>
        <swiper class="swiper flex" :options="swiperOption" :instance-name="sliderId">
          <swiper-slide
            v-for="(product) in todayData"
            :key="product.id"
          >
            <product-tile :product="product" />
          </swiper-slide>
        </swiper>
      </div>
    </div>
  </div>
</template>

<script>
import NoSSR from 'vue-no-ssr';
import { Swiper, SwiperSlide } from 'vue-awesome-swiper'
import SwiperCore, { Navigation } from 'swiper';
import 'swiper/swiper.scss'
import ProductTile from 'theme/components/core/ProductTile'

let lastHero = 0
SwiperCore.use([Navigation]);

export default {
  name: 'ProductListingSlider',
  components: {
    Swiper,
    SwiperSlide,
    ProductTile
  },
  data () {
    return {
      swiperOption: {
        slidesPerView: 'auto',
        grabCursor: true,
        navigation: {
          nextEl: ('#' + this.sliderId + '-button-next'),
          prevEl: ('#' + this.sliderId + '-button-prev')
        },
        breakpoints: this.sliderBreakPoints()
      }
    }
  },
  props: {
    sliderId: {
      type: String,
      default: ''
    },
    secTitle: {
      type: String,
      default: ' New Product'
    },
    subTitle: {
      type: String,
      default: ''
    },
    perPageCustom: {
      type: Array,
      default: () => []
    },
    products: {
      type: Array,
      default: () => []
    },
    todayData: {
      type: Array,
      default: () => []
    }
  },
  methods: {
    wide (isOnSale, isNew, index) {
      let deltaCondition = index > 0 && ((index - 1) - lastHero) % 2 === 0
      // last image always shouldn't be big, we also need to count from last promoted to check if it will look ok
      let isHero = ((isOnSale === '1' || isNew === '1') && deltaCondition) || (index === this.products.length - 1 && (index - lastHero) % 2 !== 0)
      if (isHero) {
        lastHero = index
      }
      return isHero ? 'col-xs-12' : 'col-xs-6'
    },
    sliderBreakPoints () {
      let breakPointsArr = {};
      let breakPointsScreens = [];
      let slidesPerViewArr = [];

      this.perPageCustom.forEach((perPage) => {
        breakPointsScreens.push(perPage[0]);
        slidesPerViewArr.push({
          slidesPerView: perPage[1][0],
          spaceBetween: perPage[1][1]
        });
      });
      breakPointsArr = Object.assign(...breakPointsScreens.map((k, i) => ({ [k]: slidesPerViewArr[i] })));
      return breakPointsArr;
    }
  }
}
</script>
<style lang="scss">
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$oat: color(oat);
.bg-svg{
  fill: $oat;
}
.product-slider{
  overflow: hidden;
  .swiper-slide{
    padding:2px;
  }
  .product{
    margin-bottom:0px;
  }
}
</style>
