<template>
  <div class="sidebar">
    <div class="main-filter-sidebar">
      <div class="fcontent-1 filter-block availability">
        <h3 @click="openAccordian(1)">
          {{ $t('Availability') }}
          <span class="arrow" />
        </h3>
        <div class="filters-content">
          <Availability />
        </div>
      </div>
      <div class="fcontent-2 filter-block select-type">
        <h3 @click="openAccordian(2)">
          {{ $t('Food type') }}
          <span class="arrow" />
        </h3>
        <div class="filters-content">
          <select-type />
        </div>
      </div>
      <div class="fcontent-3 filter-block brands">
        <h3 @click="openAccordian(3)">
          {{ $t('Brands') }}
          <span class="arrow" />
        </h3>
        <div class="filters-content">
          <brands />
        </div>
      </div>
      <div class="fcontent-4 filter-block life-stage">
        <h3 @click="openAccordian(4)">
          {{ $t('Lifestage') }}
          <span class="arrow" />
        </h3>
        <div class="filters-content">
          <life-stage />
        </div>
      </div>
      <div class="fcontent-5 filter-block pet-size">
        <h3 @click="openAccordian(5)">
          {{ $t('Breed size') }}
          <span class="arrow" />
        </h3>
        <div class="filters-content">
          <pet-size />
        </div>
      </div>
      <div class="fcontent-6 filter-block health-benefits">
        <h3 @click="openAccordian(6)">
          {{ $t('Dietary requirements') }}
          <span class="arrow" />
        </h3>
        <div class="filters-content">
          <health-benefits />
        </div>
      </div>
      <!-- <h4 class="sidebar__header relative pt35 mb20 flex">
        <span> {{ $t('Filter') }} </span>
        <span
          class="weight-400 sidebar__header__clear pointer sans-serif flex lh25"
          @click="resetAllFilters"
          v-show="hasActiveFilters"
        >
          <i class="material-icons cl-accent mr5">
            cancel
          </i>
          {{ $t('Clear filters') }}
        </span>
      </h4> -->
      <!-- <div
        v-for="(filter, filterIndex) in availableFilters"
        :key="filterIndex"
      >
        <h5>
          {{ $t(filterIndex + '_filter') }}
        </h5>

        <div v-if="filterIndex==='color'">
          <color-selector
            context="category"
            code="color"
            v-for="(color, index) in filter"
            :key="index"
            :variant="color"
            :selected-filters="getCurrentFilters"
            @change="$emit('changeFilter', $event)"
          />
        </div>
        <div v-else-if="filterIndex==='size'">
          <size-selector
            context="category"
            code="size"
            class="size-select mr10 mb10"
            v-for="(size, index) in sortById(filter)"
            :key="index"
            :variant="size"
            :selected-filters="getCurrentFilters"
            @change="$emit('changeFilter', $event)"
          />
        </div>
        <div v-else-if="filterIndex==='price'">
          <price-selector
            context="category"
            class="price-select mb10 block"
            code="price"
            v-for="(price, index) in filter"
            :key="index"
            :id="price.id"
            :from="price.from"
            :to="price.to"
            :content="price.label"
            :variant="price"
            :selected-filters="getCurrentFilters"
            @change="$emit('changeFilter', $event)"
          />
        </div>
        <div v-else class="sidebar__inline-selecors">
          <generic-selector
            context="category"
            class="mr10 mb10 block"
            :code="filterIndex"
            v-for="(option, index) in filter"
            :key="index"
            :variant="option"
            :selected-filters="getCurrentFilters"
            @change="$emit('changeFilter', $event)"
          />
        </div>
      </div> -->
      <!-- add the custom controls to other available filters set in config.products.defaultFilters; must be numeric field in ES
      <div v-if="filters.erin_recommends && filters.erin_recommends.length">
        <h5>
          {{ $t('Erin recommends') }}
        </h5>
        <div
          class="size-select mr10 mb10"
          v-for="(er, index) in filters.erin_recommends"
          :key="index"
          :id="er.id"
          :label="er.label"
        >{{ er.label }}</div>
      </div>
      -->
    </div>
  </div>
</template>

<script>
// import ColorSelector from 'theme/components/core/ColorSelector'
// import SizeSelector from 'theme/components/core/SizeSelector'
// import PriceSelector from 'theme/components/core/PriceSelector'
// import GenericSelector from 'theme/components/core/GenericSelector'
import Availability from 'theme/components/core/blocks/Filters/Availability'
import SelectType from 'theme/components/core/blocks/Filters/SelectType'
import Brands from 'theme/components/core/blocks/Filters/Brands'
import LifeStage from 'theme/components/core/blocks/Filters/LifeStage'
import PetSize from 'theme/components/core/blocks/Filters/PetSize'
import HealthBenefits from 'theme/components/core/blocks/Filters/HealthBenefits'
import pickBy from 'lodash-es/pickBy'

export default {
  data () {
    return {
      isActive: false,
      activeAcordian: null
    }
  },
  components: {
    // ColorSelector,
    // SizeSelector,
    // PriceSelector,
    // GenericSelector,
    Availability,
    SelectType,
    Brands,
    LifeStage,
    PetSize,
    HealthBenefits
  },
  props: {
    filters: {
      type: Object,
      required: true
    }
  },
  computed: {
    hasActiveFilters () {
      return this.$store.getters['category-next/hasActiveFilters']
    },
    getCurrentFilters () {
      return this.$store.getters['category-next/getCurrentFilters']
    },
    availableFilters () {
      return pickBy(this.filters, (filter, filterType) => { return (filter.length && !this.$store.getters['category-next/getSystemFilterNames'].includes(filterType)) })
    }
  },
  methods: {
    resetAllFilters () {
      this.$store.dispatch('category-next/resetSearchFilters')
    },
    sortById (filters) {
      return [...filters].sort((a, b) => { return a.id - b.id })
    },
    openAccordian (digit) {
      if (this.activeAcordian !== null && this.activeAcordian !== digit) {
        document.getElementsByClassName(`fcontent-${this.activeAcordian}`)[0].classList.remove('active')
      }
      this.activeAcordian = this.activeAcordian === digit ? null : digit
      document.getElementsByClassName(`fcontent-${digit}`)[0].classList.toggle('active')
    }
  }
}
</script>

<style lang="scss" scoped>
.sidebar {
  &__header {
    justify-content: space-between;
    min-height: 47px;
    flex-wrap: wrap;
    &__clear {
      font-size: .8em;
      min-width: 102px;
      @media only screen and (min-width: 768px) and (max-width: 770px) {
        margin-top: 20px;
      }
    }
  }
  &__inline-selecors {
    display: flex;
  }
}
</style>
<style lang="scss">
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$gray: color(gray);
$oat: color(oat);
$gray-979797: color(gray-979797);
$blue: color(blue);
.main-filter-sidebar{
  .filter-block{
    border-bottom: solid 1px $gray-979797;
    padding: 0 25px;
    .data-block{
      padding-bottom:20px;
      .item-row{
        display: flex;
        align-items: center;
        padding-bottom: 15px;
        &:last-child{
          padding-bottom:0px;
        }
        strong{
          padding-left: 18px;
          font-size: 16px;
          font-weight:400;
          span{
            color: $gray;
          }
        }
      }
    }
    &.availability{
      .data-block{
        .item-row{
          strong{
            span{
              color:$blue;
            }
          }
        }
      }
    }
    .filters-content{
      display:none;
    }
    &.active{
      h3 {
        span {
          transform: rotate(-45deg);
        }
      }
      .filters-content{
        display:block;
      }
    }
  }
  h3{
    position: relative;
    margin: 20px 0;
    cursor: pointer;
    font-size: 16px;
    span{
      position: absolute;
      right: 0;
      top: 50%;
      margin-top: -10px;
      width: 10px;
      height: 10px;
      transform: rotate(135deg);
    }
  }
}
.select-box{
  background: transparent;
  border: solid 1px $gray-979797;
  width: 20px;
  height: 20px;
  position: relative;
  &.active{
    &::after{
      content: '';
      border: solid 2px #fff;
      border-left: 0;
      border-bottom: 0;
      width: 15px;
      height: 9px;
      display: block;
      position: absolute;
      transform: rotate(130deg);
      top: 5px;
      left: 4px;
    }
  }
}
</style>
