<template>
  <div class="">
    <div class="offer-banner-slider relative" v-if="bannerSlides != ''">
      <!-- <div v-html="category.description" /> -->
      <div class="swiper-arrows flex">
        <span :id="sliderId + '-button-prev'" class="swiper-button-prev" slot="button-prev">
          <img src="/assets/icons/right-arrow.png" alt="Prev">
        </span>
        <span :id="sliderId + '-button-next'" class="swiper-button-next" slot="button-next">
          <img src="/assets/icons/right-arrow.png" alt="Next">
        </span>
      </div>
      <div class="favorite-brands-swiper align-center">
        <no-ssr>
          <div class="swiper-container promotional-bar-menu flex">
            <div v-swiper:mySwiper="swiperOption">
              <div v-html="bannerSlides" class="swiper-wrapper" />
            </div>
          </div>
        </no-ssr>
      </div>
    </div>
  </div>
</template>

<script>
import NoSSR from 'vue-no-ssr';
import categoryBanner from 'theme/resource/banners/category-banner.json'
import { directive } from 'vue-awesome-swiper'
import SwiperCore, { Navigation } from 'swiper';
import 'swiper/swiper.scss'

SwiperCore.use([Navigation]);

export default {
  components: {
    'no-ssr': NoSSR
  },
  directives: {
    swiper: directive
  },
  data () {
    return {
      categoryBanner: categoryBanner,
      swiperOption: {
        slidesPerView: 'auto',
        grabCursor: true,
        navigation: {
          nextEl: ('#' + this.sliderId + '-button-next'),
          prevEl: ('#' + this.sliderId + '-button-prev')
        },
        breakpoints: this.sliderBreakPoints()
      }
    }
  },
  props: {
    sliderId: {
      type: String,
      default: ''
    },
    bannerSlides: {
      type: String,
      default: ''
    },
    perPageCustom: {
      type: Array,
      default: () => []
    }
  },
  methods: {
    sliderBreakPoints () {
      let breakPointsArr = {};
      let breakPointsScreens = [];
      let slidesPerViewArr = [];

      this.perPageCustom.forEach((perPage) => {
        breakPointsScreens.push(perPage[0]);
        slidesPerViewArr.push({
          slidesPerView: perPage[1][0],
          spaceBetween: perPage[1][1]
        });
      });
      breakPointsArr = Object.assign(...breakPointsScreens.map((k, i) => ({ [k]: slidesPerViewArr[i] })));
      return breakPointsArr;
    }
  }
}
</script>
<style lang="scss">
.offer-banner-slider{
  .swiper-arrows{
    display:none;
  }
  .swiper-slide{
    img{
      display:block;
      width:100%;
    }
  }
}
</style>
