<template>
  <div class="newsletters">
     <h3 class="col-xs-12 bold align-center py20">
        {{ $t('My newsletter') }}
      </h3>
    <!-- My newsletter body (both modes) -->

    <div class="newsletters-details">
      <h4 class="pb10">
        {{ $t('General agreement') }}
      </h4>
      <base-checkbox
        class="checkbox"
        id="generalAgreement"
        v-model="user.isSubscribed"
        @click="edit()"
      >
        {{ $t('I want to receive a newsletter, and agree to its terms') }}
      </base-checkbox>
    </div>
    <div class="p20">
      <button-full @click.native="updateNewsletter">
        {{ $t('Update my preferences') }}
      </button-full>
    </div>
  </div>
</template>

<script>
import { Newsletter } from '@vue-storefront/core/modules/newsletter/components/Newsletter'
import ButtonFull from 'theme/components/theme/ButtonFull.vue'
import BaseCheckbox from '../Form/BaseCheckbox.vue'
import i18n from '@vue-storefront/i18n'

export default {
  components: {
    ButtonFull,
    BaseCheckbox
  },
  data () {
    return {
    }
  },
  methods: {
    edit () {
      this.isEdited = true
    },
    async updateNewsletter () {
      if (this.user.isSubscribed) {
        const isSubscribed = await this.$store.dispatch('newsletter/subscribe', this.email)

        if (isSubscribed) {
          this.$store.dispatch('notification/spawnNotification', {
            type: 'success',
            message: i18n.t('You have been successfully subscribed to our newsletter!'),
            action1: { label: i18n.t('OK') }
          })
        }
        return
      }

      const isUnsubscribed = await this.$store.dispatch('newsletter/unsubscribe', this.email)
      if (isUnsubscribed) {
        this.$store.dispatch('notification/spawnNotification', {
          type: 'success',
          message: i18n.t('You have been successfully unsubscribed from our newsletter!'),
          action1: { label: i18n.t('OK') }
        })
      }
    }
  },
  mixins: [Newsletter]
}
</script>

<style lang="scss">
@import "~theme/css/base/global_vars";
@import "~theme/css/variables/colors";
@import "~theme/css/helpers/functions/color";
$color-icon-hover: color(secondary, $colors-background);
$white: color(white);
$black: color(black);
$red: color(red);
$gray-979797: color(gray-979797);
$gray: color(gray);

.newsletters {
  .btn {
    font-size: 18px;
    text-transform: capitalize;
    padding: 10px 24px 7px;
  }
  .btn-outline {
    border: solid 1px $black;
    color: $black;
    padding: 9px 24px 6px;
    background: $white;
    &:hover {
      background: $red;
      color: $white;
      border: solid 1px $red;
    }
  }
}
.newsletters-details {
  border: 1px solid $gray-979797;
  background: $white;
  padding: 20px;
  margin-left: -1px;
}
</style>
