<template>
  <div class="myprofile">
    <!-- My profile body (edit mode) -->
    <div v-if="isEdited">
      <h3 class="col-xs-12 bold align-center py20">
        {{ $t('Edit your profile') }}
      </h3>
      <div class="myaccount-form mb10">
        <div class="row">
          <base-input
            class="col-xs-12 col-md-6 mb10 edit-icon"
            type="text"
            name="first-name"
            label="true"
            autocomplete="given-name"
            :placeholder="$t('First name')"
            v-model.trim="currentUser.firstname"
            @input="$v.currentUser.firstname.$touch()"
            :validations="[
              {
                condition: !$v.currentUser.firstname.required,
                text: $t('Field is required')
              },
              {
                condition: !$v.currentUser.firstname.minLength,
                text: $t('Name must have at least 2 letters.')
              }
            ]"
          />

          <base-input
            class="col-xs-12 col-md-6 mb10 edit-icon"
            type="text"
            name="last-name"
            label="true"
            autocomplete="family-name"
            :placeholder="$t('Last name')"
            v-model.trim="currentUser.lastname"
            @input="$v.currentUser.lastname.$touch()"
            :validations="[{
              condition: !$v.currentUser.lastname.required,
              text: $t('Field is required')
            }]"
          />
          <base-input
            class="col-xs-12 col-md-12 mb10 edit-icon"
            type="email"
            name="email-address"
            autocomplete="email"
            label="true"
            :placeholder="$t('Email address')"
            v-model="currentUser.email"
            :validations="[
              {
                condition: !$v.currentUser.email.required,
                text: $t('Field is required')
              },
              {
                condition: !$v.currentUser.email.email,
                text: $t('Please provide valid e-mail address.')
              }
            ]"
          />
          <!-- Change password (edit mode) -->
          <base-checkbox
            class="col-xs-12"
            id="changePassword"
            v-model="changePassword"
          >
            {{ $t('Change my password') }}
          </base-checkbox>

          <template v-if="changePassword">
            <base-password
              class="col-xs-12 col-md-6 mb10 mt10 edit-icon"
              type="password"
              label="true"
              name="old-password"
              autocomplete="current-password"
              :placeholder="$t('Current password *')"
              v-model="oldPassword"
              @input="$v.oldPassword.$touch()"
              :validations="[{
                condition: !$v.oldPassword.required && $v.oldPassword.$error,
                text: $t('Field is required')
              }]"
            />

            <div class="hidden-xs hidden-sm col-md-6 mb10 mt10" />

            <base-password
              class="col-xs-12 col-md-6 mb10 edit-icon"
              type="password"
              label="true"
              name="password"
              autocomplete="new-password"
              :placeholder="$t('New password *')"
              v-model="password"
              @input="$v.password.$touch()"
              :validations="[{
                condition: !$v.password.required && $v.password.$error,
                text: $t('Field is required')
              }]"
            />

            <base-password
              class="col-xs-12 col-md-6 mb10 edit-icon"
              type="password"
              name="password-confirm"
              label="true"
              autocomplete="new-password"
              :placeholder="$t('Repeat new password *')"
              v-model="rPassword"
              @input="$v.rPassword.$touch()"
              :validations="[
                {
                  condition: !$v.rPassword.required && $v.rPassword.$error,
                  text: $t('Field is required')
                },
                {
                  condition: !$v.rPassword.sameAsPassword,
                  text: $t('Passwords must be identical.')
                }
              ]"
            />
          </template>

          <!-- Company information (edit mode) -->
          <base-checkbox
            class="col-xs-12 mb15"
            id="addCompany"
            v-model="addCompany"
          >
            {{ $t('I have a company and want to receive an invoice for every order') }}
          </base-checkbox>

          <template v-if="addCompany">
            <base-input
              class="col-xs-12 mb10 edit-icon"
              type="text"
              name="company-name"
              autocomplete="organization"
              label="true"
              :placeholder="$t('Company name *')"
              v-model.trim="userCompany.company"
              @input="$v.userCompany.company.$touch()"
              :validations="[{
                condition: !$v.userCompany.company.required && $v.userCompany.company.$error,
                text: $t('Field is required')
              }]"
            />

            <base-input
              class="col-xs-12 col-sm-6 mb10 edit-icon"
              type="text"
              name="street-address"
              label="true"
              autocomplete="address-line1"
              :placeholder="$t('Street name *')"
              v-model.trim="userCompany.street"
              @input="$v.userCompany.street.$touch()"
              :validations="[{
                condition: !$v.userCompany.street.required && $v.userCompany.street.$error,
                text: $t('Field is required')
              }]"
            />

            <base-input
              class="col-xs-12 col-sm-6 mb10 edit-icon"
              type="text"
              name="apartment-number"
              label="true"
              autocomplete="address-line2"
              :placeholder="$t('House/Apartment number *')"
              v-model.trim="userCompany.house"
              @input="$v.userCompany.house.$touch()"
              :validations="[{
                condition: !$v.userCompany.house.required && $v.userCompany.house.$error,
                text: $t('Field is required')
              }]"
            />

            <base-input
              class="col-xs-12 col-sm-6 mb10 edit-icon"
              type="text"
              name="city"
              label="true"
              autocomplete="address-level2"
              :placeholder="$t('City *')"
              v-model.trim="userCompany.city"
              @input="$v.userCompany.city.$touch()"
              :validations="[
                {
                  condition: !$v.userCompany.city.required && $v.userCompany.city.$error,
                  text: $t('Field is required')
                },
                {
                  condition: $v.userCompany.city.$error && $v.userCompany.city.required,
                  text: $t('Please provide valid city name')
                }
              ]"
            />

            <base-input
              class="col-xs-12 col-sm-6 mb10 edit-icon"
              type="text"
              label="true"
              name="state"
              autocomplete="address-level1"
              :placeholder="$t('State / Province')"
              v-model.trim="userCompany.region"
            />

            <base-input
              class="col-xs-12 col-sm-6 mb10 edit-icon"
              type="text"
              name="zip-code"
              label="true"
              autocomplete="postal-code"
              :placeholder="$t('Zip-code *')"
              v-model.trim="userCompany.postcode"
              @input="$v.userCompany.postcode.$touch()"
              :validations="[
                {
                  condition: !$v.userCompany.postcode.required && $v.userCompany.postcode.$error,
                  text: $t('Field is required')
                },
                {
                  condition: !$v.userCompany.postcode.minLength,
                  text: $t('Zip-code must have at least 3 letters.')
                }
              ]"
            />

            <base-select
              class="col-xs-12 col-md-6 mb10"
              name="countries"
              label="true"
              :options="countryOptions"
              :selected="userCompany.country"
              :placeholder="$t('Country *')"
              :validations="[
                {
                  condition: $v.userCompany.country.$error && !$v.userCompany.country.required,
                  text: $t('Field is required')
                }
              ]"
              v-model="userCompany.country"
              autocomplete="country-name"
              @blur="$v.userCompany.country.$touch()"
              @change="$v.userCompany.country.$touch()"
            />

            <base-input
              class="col-xs-12 col-sm-6 mb10 edit-icon"
              type="text"
              label="true"
              name="taxId"
              autocomplete="tax-id"
              :placeholder="$t('Tax ID *')"
              v-model.trim="userCompany.taxId"
              @input="$v.userCompany.taxId.$touch()"
              :validations="[
                {
                  condition: !$v.userCompany.taxId.required && $v.userCompany.taxId.$error,
                  text: $t('Field is required')
                },
                {
                  condition: !$v.userCompany.taxId.minLength,
                  text: $t('Tax ID must have at least 3 letters.')
                }
              ]"
            />

            <base-input
              class="col-xs-12 col-sm-6 mb10 edit-icon"
              type="text"
              label="true"
              name="phone-number"
              autocomplete="tel"
              :placeholder="$t('Phone Number')"
              v-model.trim="userCompany.phone"
            />
          </template>

          <div class="col-xs-12 col-sm-6 py10">
            <button-full
              @click.native="updateProfile"
              :disabled="checkValidation()"
            >
              {{ $t('Update my profile') }}
            </button-full>
          </div>
          <div class="col-xs-12 col-sm-6 flex middle-xs py10">
            <a href="#" @click="exitSection" class="btn btn-outline w-100">
              {{ $t('Cancel') }}
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- My profile summary -->
    <div class="row fs16 mb35" v-else>
      <h3 class="col-xs-12 bold align-center py20">
        {{ $t('Your profile') }}
      </h3>
      <div class="col-xs-12 h4">
        <div class="myaccount-form">
          <div class="profile-details">
            <div class="profile-details-row flex">
              <label>{{ $t('First name') }}</label>
              <p>
                : {{ currentUser.firstname }} {{ currentUser.lastname }}
              </p>
            </div>
            <div class="profile-details-row flex">
              <label>{{ $t('Email address') }}</label>
              <p>
                : {{ currentUser.email }}
              </p>
            </div>
            <div class="profile-details-row flex">
            <base-checkbox
              v-if="addCompany"
              id="addCompanyFilled"
              v-model="addCompany"
              disabled
            >
              {{ $t('I have a company and want to receive an invoice for every order') }}
            </base-checkbox>
            </div>
            <template v-if="addCompany">
              <div class="profile-details-row flex">
                <label>{{ $t('Company name') }}</label>
                <p>
                  : {{ userCompany.company }}
                </p>
              </div>
              <div class="profile-details-row flex">
                <label>{{ $t('House/Apartment number') }}</label>
                <p>
                  : {{ userCompany.street }}
                  <span v-if="userCompany.house">
                    {{ userCompany.house }}
                  </span>
                </p>
              </div>
              <div class="profile-details-row flex">
                <label>{{ $t('Zip-code') }}</label>
                <p>
                  : {{ userCompany.city }} {{ userCompany.postcode }}
                </p>
              </div>
              <div class="profile-details-row flex">
                <label>{{ $t('Country') }}</label>
                <p>
                  : <span v-if="userCompany.region">{{ userCompany.region }}, </span>
                  <span>
                    {{ getCountryName() }}
                  </span>
                </p>
              </div>
              <div class="profile-details-row flex" v-if="userCompany.taxId">
                <label>{{ $t('Tax ID') }}</label>
                <p>
                  : {{ userCompany.taxId }}
                </p>
              </div>
              <div class="profile-details-row flex">
                <label>{{ $t('Phone Number') }}</label>
                <p>
                  : {{ userCompany.phone }}
                </p>
              </div>
            </template>
          </div>
          <div class="col-xs-12 col-md-6 p0 pt20">
            <a href="#" v-if="!isEdited" class="btn w-100" @click.prevent="edit">
              <span class="pr5">
                {{ $t('Edit your profile') }}
              </span>
            </a>
         </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { required, minLength, email, sameAs } from 'vuelidate/lib/validators'
import MyProfile from '@vue-storefront/core/compatibility/components/blocks/MyAccount/MyProfile'
import { unicodeAlpha, unicodeAlphaNum } from '@vue-storefront/core/helpers/validators'
import BaseCheckbox from 'theme/components/core/blocks/Form/BaseCheckbox'
import BaseSelect from 'theme/components/core/blocks/Form/BaseSelect'
import BaseInput from 'theme/components/core/blocks/Form/BaseInput'
import BasePassword from 'theme/components/core/blocks/Form/BasePassword'
import ButtonFull from 'theme/components/theme/ButtonFull'

export default {
  components: {
    BaseCheckbox,
    BaseSelect,
    BaseInput,
    BasePassword,
    ButtonFull
  },
  mixins: [MyProfile],
  computed: {
    countryOptions () {
      return this.countries.map((item) => {
        return {
          value: item.code,
          label: item.name
        }
      })
    }
  },
  methods: {
    checkValidation () {
      if (this.changePassword && this.addCompany) {
        return this.$v.$invalid
      } else if (this.changePassword && !this.addCompany) {
        return this.$v.currentUser.$invalid || this.$v.password.$invalid || this.$v.rPassword.$invalid
      } else if (!this.changePassword && this.addCompany) {
        return this.$v.currentUser.$invalid || this.$v.userCompany.$invalid
      } else {
        return this.$v.currentUser.$invalid
      }
    }
  },
  validations: {
    currentUser: {
      firstname: {
        required,
        minLength: minLength(2),
        unicodeAlpha
      },
      lastname: {
        required,
        unicodeAlpha
      },
      email: {
        required,
        email
      }
    },
    oldPassword: {
      required
    },
    password: {
      required
    },
    rPassword: {
      required,
      sameAsPassword: sameAs('password')
    },
    userCompany: {
      company: {
        required
      },
      country: {
        required
      },
      street: {
        required,
        unicodeAlphaNum
      },
      house: {
        required,
        unicodeAlphaNum
      },
      postcode: {
        required,
        minLength: minLength(3)
      },
      city: {
        required,
        unicodeAlpha
      },
      taxId: {
        required,
        minLength: minLength(3)
      }
    }
  }
}
</script>

<style lang="scss">
@import "~theme/css/base/global_vars";
@import "~theme/css/variables/colors";
@import "~theme/css/helpers/functions/color";
$color-icon-hover: color(secondary, $colors-background);
$white: color(white);
$black: color(black);
$red: color(red);
$gray-979797: color(gray-979797);
$gray: color(gray);
$gray-c3c3c3: color(gray-c3c3c3);

.myprofile {
  .btn {
    font-size: 18px;
    text-transform: capitalize;
    padding: 10px 24px 7px;
  }
  .btn-outline {
    border: solid 1px $black;
    color: $black;
    padding: 9px 24px 6px;
    background: $white;
    &:hover {
      background: $red;
      color: $white;
      border: solid 1px $red;
    }
  }
  .icon{
    right: 44px;
    top: 28px;
    font-size: 19px;
    color: $gray-c3c3c3;
  }
}
.profile-details{
  .profile-details-row{
    padding-bottom:10px;
    label{
      font-weight:600;
      width: 23%;
    }
    p{
      width: 78%;
      padding-left: 10px;
      padding-bottom:0;
    }
  }
}
.myaccount-form {
  max-width: 720px;
  margin: auto;
  @media (max-width: 767px) {
    padding: 0 20px;
  }
  .select-wrapper {
    display: flex;
    flex-wrap: wrap;
    select {
      &:first-child {
        height: 30px;
        border: solid 1px $gray;
        font-size: 16px;
        padding: 0px 7px;
        line-height: 29px;
      }
    }
    select:focus ~ label,
    select:not(.empty) ~ label {
      color: $black;
    }
    label {
      position: static;
      order: -1;
      padding-bottom: 5px;
      color: $black;
    }
    &::after {
      top: 35px;
      right: 23px;
    }
  }
  .base-input {
    .relative {
      display: flex;
      flex-wrap: wrap;
      input {
        &:first-child {
          height: 30px;
          border: solid 1px $gray;
          font-size: 16px;
          padding: 7px;
        }
      }
      input:focus {
        border: solid 1px $red;
      }
    }
    label {
      position: static;
      order: -1;
      padding-bottom: 5px;
      color: $black;
    }
    input:focus ~ label,
    input:not(.empty) ~ label {
      color: $black;
    }
  }
  @media (max-width: 767px) {
    .checkbox {
      label {
        font-size: 16px;
        padding-left: 26px;
      }
    }
  }
  .edit-icon{
    .relative{
      &::after{
        content: '';
        display: inline-block;
        background: url(/assets/icons/edit-icon.png) no-repeat;
        background-size: auto;
        width:20px;
        height:20px;
        background-size: cover;
        position: absolute;
        top: 50%;
        margin-top:2px;
        right: 5px;
      }
    }
  }
}
.profile-details {
  border: 1px solid $gray-979797;
  background: $white;
  padding: 20px;
  margin-left: -1px;
}
</style>
