<template>
  <div class="shipping-details" :class="{ 'active' : !isEdited }">
    <div v-if="isEdited">
      <h3 class="bold align-center py20">
            {{ $t('Edit address') }}
        </h3>
      <div class="myaccount-form">
        <div class="row">
          <template>
            <base-input
              class="col-xs-12 col-sm-6 mb10"
              type="text"
              name="first-name"
              autocomplete="given-name"
              :placeholder="`${$t('First name')} *`"
              v-model.trim="shippingDetails.firstName"
              @input="$v.shippingDetails.firstName.$touch()"
              :validations="[
                {
                  condition: !$v.shippingDetails.firstName.required && $v.shippingDetails.firstName.$error,
                  text: $t('Field is required')
                },
                {
                  condition: !$v.shippingDetails.firstName.minLength,
                  text: $t('Name must have at least 2 letters.')
                }
              ]"
            />

            <base-input
              class="col-xs-12 col-sm-6 mb10"
              type="text"
              name="last-name"
              autocomplete="family-name"
              :placeholder="`${$t('Last name')} *`"
              v-model.trim="shippingDetails.lastName"
              @input="$v.shippingDetails.lastName.$touch()"
              :validations="[{
                condition: !$v.shippingDetails.lastName.required && $v.shippingDetails.lastName.$error,
                text: $t('Field is required')
              }]"
            />

            <base-checkbox
              v-if="hasBillingAddress()"
              class="col-xs-12 mb10 checkbox"
              id="addCompanyFilled"
              v-model="useCompanyAddress"
            >
              {{ $t("Use my company's address details") }}
            </base-checkbox>

            <base-input
              class="col-xs-12 col-sm-12 mb10"
              type="text"
              name="street-address"
              autocomplete="address-line1"
              :placeholder="`${$t('Street name')} *`"
              v-model.trim="shippingDetails.street"
              @input="$v.shippingDetails.street.$touch()"
              :validations="[{
                condition: !$v.shippingDetails.street.required && $v.shippingDetails.street.$error,
                text: $t('Field is required')
              }]"
            />

            <base-input
              class="col-xs-12 col-sm-12 mb10"
              type="text"
              name="apartment-number"
              autocomplete="address-line2"
              :placeholder="`${$t('House/Apartment number')} *`"
              v-model.trim="shippingDetails.house"
              @input="$v.shippingDetails.house.$touch()"
              :validations="[{
                condition: !$v.shippingDetails.house.required && $v.shippingDetails.house.$error,
                text: $t('Field is required')
              }]"
            />

            <base-input
              class="col-xs-12 col-sm-12 mb10"
              type="text"
              name="city"
              autocomplete="address-level2"
              :placeholder="`${$t('City')} *`"
              v-model.trim="shippingDetails.city"
              @input="$v.shippingDetails.city.$touch()"
              :validations="[
                {
                  condition: !$v.shippingDetails.city.required && $v.shippingDetails.city.$error,
                  text: $t('Field is required')
                },
                {
                  condition: $v.shippingDetails.city.$error && $v.shippingDetails.city.required,
                  text: $t('Please provide valid city name')
                }
              ]"
            />

            <base-input
              class="col-xs-12 col-sm-12 mb10"
              type="text"
              name="state"
              autocomplete="address-level1"
              :placeholder="$t('State / Province')"
              v-model.trim="shippingDetails.region"
            />

            <base-input
              class="col-xs-12 col-sm-12 mb10"
              type="text"
              name="zip-code"
              autocomplete="postal-code"
              :placeholder="`${$t('Zip-code')} *`"
              v-model.trim="shippingDetails.postcode"
              @input="$v.shippingDetails.postcode.$touch()"
              :validations="[
                {
                  condition: !$v.shippingDetails.postcode.required && $v.shippingDetails.postcode.$error,
                  text: $t('Field is required')
                },
                {
                  condition: !$v.shippingDetails.postcode.minLength,
                  text: $t('Zip-code must have at least 3 letters.')
                }
              ]"
            />

            <base-select
              class="col-xs-12 col-sm-12 mb10"
              name="countries"
              :options="countryOptions"
              :selected="shippingDetails.country"
              :placeholder="$t('Country *')"
              :validations="[
                {
                  condition: $v.shippingDetails.country.$error && !$v.shippingDetails.country.required,
                  text: $t('Field is required')
                }
              ]"
              v-model="shippingDetails.country"
              autocomplete="country-name"
              @blur="$v.shippingDetails.country.$touch()"
              @change="$v.shippingDetails.country.$touch()"
            />

            <base-input
              class="col-xs-12 col-sm-12 mb10"
              type="text"
              name="phone-number"
              autocomplete="tel"
              :placeholder="$t('Phone Number')"
              v-model.trim="shippingDetails.phone"
            />
            <div class="col-xs-6 col-sm-6 mb10">
              <base-checkbox
              class="checkbox"
              id="checkbox"
            >
              {{ $t("Primary address") }}
            </base-checkbox>
            </div>
            <div class="col-xs-6 col-sm-6 delete-address flex mb10">
              <a href="#">
                <span class="material-icons">cancel</span> {{ $t("Delete address") }}
              </a>
            </div>
            <div class="col-xs-12 col-sm-6 mb10">
              <button
                @click.native="updateDetails"
                :disabled="$v.$invalid"
                 class="btn w-100"
              >
                {{ $t('Save changes') }}
              </button>
            </div>
            <div class="col-xs-12 col-sm-6  mb10">
              <a href="#" @click="exitSection"  class="btn btn-outline w-100">
                {{ $t('Cancel') }}
              </a>
            </div>
          </template>
        </div>
      </div>
    </div>
    <!-- My shipping details summary -->
    <div  v-else>
      <h3 class="bold align-center py20">
          {{ $t('Your saved addresses') }}
      </h3>
      <div class="shipping-summary flex" v-if="shippingDetails.street">
        <div class="shipping-locations">
          <router-link to="#">
            <img src="/assets/maps.jpg">
          </router-link>
        </div>
        <div class="shipping-details">
          <base-checkbox
            v-if="hasBillingAddress()"
            class="checkbox"
            id="product12"
          >
            {{ $t("Primary address") }}
          </base-checkbox>
          <p class="bold mb10">
            {{ shippingDetails.firstName }} {{ shippingDetails.lastName }}
          </p>
          <p>
            {{ shippingDetails.street }}
            <span v-if="shippingDetails.house"> {{ shippingDetails.house }}</span>
          </p>
          <p>
            {{ shippingDetails.city }} {{ shippingDetails.postcode }}
          </p>
          <p>
            <span v-if="shippingDetails.region">{{ shippingDetails.region }}, </span>
            {{ getCountryName() }}
          </p>
          <p>
            {{ shippingDetails.phone }}
          </p>
        </div>
        <div class="edite-links flex end-md" v-if="!isEdited">
            <a href="#" class="flex p10" @click.prevent="edit">
              <img src="/assets/icons/right-arrow.png" width="9" >
            </a>
          </div>
      </div>
      <div class="shipping-empty align-center " v-else>
        <h2 class="bold pb20">{{ $t('You don’t have any saved addresses at the moment.') }}</h2>
        <p>Adding addresses will make it quicker for you next time you checkout.</p>
      </div>
      <div class="p20">
      <button  class="btn w-100">+ Add new address</button>
      </div>
    </div>
  </div>
</template>

<script>
import { required, minLength } from 'vuelidate/lib/validators'
import MyShippingDetails from '@vue-storefront/core/compatibility/components/blocks/MyAccount/MyShippingDetails'
import { unicodeAlpha, unicodeAlphaNum } from '@vue-storefront/core/helpers/validators'

import ButtonFull from 'theme/components/theme/ButtonFull'
import Tooltip from 'theme/components/core/Tooltip'
import BaseCheckbox from 'theme/components/core/blocks/Form/BaseCheckbox'
import BaseInput from 'theme/components/core/blocks/Form/BaseInput'
import BaseSelect from 'theme/components/core/blocks/Form/BaseSelect'

export default {
  components: {
    ButtonFull,
    Tooltip,
    BaseCheckbox,
    BaseInput,
    BaseSelect
  },
  mixins: [MyShippingDetails],
  computed: {
    countryOptions () {
      return this.countries.map((item) => {
        return {
          value: item.code,
          label: item.name
        }
      })
    }
  },
  validations: {
    shippingDetails: {
      firstName: {
        required,
        minLength: minLength(2),
        unicodeAlpha
      },
      lastName: {
        required
      },
      country: {
        required
      },
      street: {
        required,
        unicodeAlphaNum
      },
      house: {
        required,
        unicodeAlphaNum
      },
      postcode: {
        required,
        minLength: minLength(3)
      },
      city: {
        required,
        unicodeAlpha
      }
    }
  }
}
</script>

<style lang="scss">
@import '~theme/css/base/global_vars';
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$color-icon-hover: color(secondary, $colors-background);
$white: color(white);
$black: color(black);
$red: color(red);
$gray-979797: color(gray-979797);
$gray: color(gray);

.shipping-details{
  .btn{
    font-size: 18px;
    text-transform: capitalize;
    padding: 10px 24px 7px;
  }
  .btn-outline{
    border:  solid 1px $black;
    color: $black;
    padding: 9px 24px 6px;
    background:$white;
    &:hover{
      background:$red;
      color: $white;
      border:  solid 1px $red;
    }
  }
  .delete-address{
    align-items: center;
    a{
      margin-left: auto;
      span{
        display: inline-block;
        vertical-align: middle;
        font-size: 19px;
        color: $red;
      }
    }
  }
}
.myaccount-form{
  max-width: 720px;
  margin: auto;
  @media (max-width:767px) {
    padding:0 20px;
  }
  .select-wrapper{
    display: flex;
    flex-wrap: wrap;
    select{
        &:first-child{
          height: 30px;
          border:  solid 1px $gray;
          font-size: 16px;
          padding: 0px 7px;
          line-height: 29px;
        }
      }
      select:focus ~ label, select:not(.empty) ~ label{
        color: $black;
      }
      label{
        position: static;
        order: -1;
        padding-bottom: 5px;
        color: $black;
    }
    &::after{
      top: 35px;
      right: 23px;
    }
  }
  .base-input{
    .relative{
      display: flex;
      flex-wrap: wrap;
      input{
        &:first-child{
          height: 30px;
          border:  solid 1px $gray;
          font-size: 16px;
          padding: 7px;
        }
      }
      input:focus{
        border:  solid 1px $red;
      }
    }
    label{
        position: static;
        order: -1;
        padding-bottom: 5px;
        color: $black;
    }
    input:focus ~ label, input:not(.empty) ~ label{
       color: $black;
    }
  }
   @media (max-width:767px) {
    .checkbox{
      label{
        font-size: 16px;
        padding-left: 26px;
      }
    }
  }
}
.shipping-details{
  .shipping-summary{
    border: 1px solid $gray-979797;
    margin:1px 0 -1px -1px;
    background: $white;
    padding: 20px;
    position: relative;
    .shipping-locations{
      border: 1px solid $gray-979797;
      width: 150px;
      display: table;
      a{
        line-height: 0;
        display: block;
        img{
          width: 100%;
        }
      }
      @media (max-width:767px) {
        width:120px;
      }
    }
    .shipping-details{
      width: calc(100% - 150px);
      padding-left: 20px;
      @media (max-width:767px) {
        padding-left: 10px;
        width: calc(100% - 120px);
        p{
          font-size: 14px;
          line-height: 17px;
          &.bold{
            margin-bottom: 6px;
          }
        }
      }
      .checkbox{
        position: absolute;
        right: 30px;
        top: 16px;
        @media (max-width:767px) {
          position: static;
          text-align: right;
          margin:-5px -17px -5px 0;
        }
        label{
          padding-left:0;
          padding-right:30px;
          &::before{
            left:inherit;
            right:0;
          }
           &::after{
             left:inherit;
             right:5px;
           }
        }
      }
      p{
        padding:0 0 2px 0;
      }
    }
    .edite-links{align-self: center;}
  }
  .btn[data-v-7c607e8b] {
      font-size: 18px;
      font-weight: bold;
      padding: 8px 24px 8px;
  }
}
</style>
