<template>
  <div class="payment-methods">
    <div v-if="isCardEdit">
      <h3 class="bold align-center py20">
        {{ $t('Add payment method') }}
      </h3>
      <div class="myaccount-form">
        <div class="row">
          <base-select
            class="col-xs-12 col-sm-6 mb10"
            name="countries"
            :options="select"
            :placeholder="$t('Card type *')"
          />
          <base-input
            class="col-xs-12 col-sm-12 mb10"
            type="text"
            name="Name on card"
            :placeholder="$t('Name on card')"
          />
          <base-input
            class="col-xs-12 col-sm-12 mb10"
            type="text"
            name="Card number"
            :placeholder="$t('Card number')"
          />
          <base-input
            class="col-xs-12 col-sm-6 mb10"
            type="text"
            name="Expiry date"
            :placeholder="$t('Expiry date')"
          />
          <base-input
            class="col-xs-12 col-sm-6 mb10"
            type="text"
            name="CVV"
            :placeholder="$t('CVV')"
          />
          <base-checkbox  class="checkbox col-xs-12 col-sm-12 mb10" id="primarycards">
            {{ $t("Set as Primary card") }}
          </base-checkbox>
          <div class="col-xs-12 col-sm-12 mb10" @click="isCardEdit=true">
          <a href="#" @click="isCardEdit=false"  class="btn btn-outline w-100">
            {{ $t('Save card') }}
          </a>
        </div>
          <base-checkbox  class="checkbox col-xs-12 col-sm-12" id="billingaddress">
            {{ $t("Billing address same as primary address") }}
          </base-checkbox>
        </div>
      </div>
    </div>
    <div v-else>
      <h3 class="bold align-center py20">
        {{ $t('Your saved cards') }}
      </h3>
      <div v-if="PaymentMethods.length>0">
        <div class="payment-methods-row flex" v-for="(PaymentMethod, index) in PaymentMethods" :key="index">
          <div class="payment-icon">
            <img :src="PaymentMethod.image" alt="">
          </div>
          <div class="payment-methods-text">
            <h4 class="mb10">{{ PaymentMethod.visa}}</h4>
            <p>{{ PaymentMethod.visano}}</p>
            <p>{{ PaymentMethod.exp}}</p>
            <p>{{ PaymentMethod.name}}</p>
          </div>
          <div class="payment-delete">
            <base-checkbox
              class="checkbox"
              id="primarycard"
            >
              {{ $t("Primary card") }}
            </base-checkbox>
            <p class=""><a href="#">Delete card <span  class="material-icons">cancel</span></a></p>
          </div>
        </div>
      </div>
      <div class="shipping-empty align-center" v-else>
        <h2 class="bold pb20">{{ $t('You don’t have any saved cards at the moment.') }}</h2>
        <p>{{ $t('Adding addresses will make it quicker for you next time you checkout.') }}</p>
      </div>
      <div class="p20" @click="isCardEdit=true">
        <button  class="btn w-100" @click.prevent="edit">+ Add new card</button>
      </div>
    </div>
  </div>
</template>
<script>
import PaymentMethods from 'theme/resource/PaymentMethods.json'
import { required, minLength } from 'vuelidate/lib/validators'
import MyShippingDetails from '@vue-storefront/core/compatibility/components/blocks/MyAccount/MyShippingDetails'
import { unicodeAlpha, unicodeAlphaNum } from '@vue-storefront/core/helpers/validators'
import BaseCheckbox from 'theme/components/core/blocks/Form/BaseCheckbox'
import BaseInput from 'theme/components/core/blocks/Form/BaseInput'
import BaseSelect from 'theme/components/core/blocks/Form/BaseSelect'

export default {
  data () {
    return {
      isCardEdit: false,
      PaymentMethods: PaymentMethods
    }
  },
  components: {
    BaseCheckbox,
    BaseInput,
    BaseSelect
  },
  computed: {
    countryOptions () {
      return this.countries.map((item) => {
        return {
          value: item.code,
          label: item.name
        }
      })
    }
  },
  validations: {
    shippingDetails: {
      firstName: {
        required,
        minLength: minLength(2),
        unicodeAlpha
      },
      lastName: {
        required
      },
      country: {
        required
      },
      street: {
        required,
        unicodeAlphaNum
      },
      house: {
        required,
        unicodeAlphaNum
      },
      postcode: {
        required,
        minLength: minLength(3)
      },
      city: {
        required,
        unicodeAlpha
      }
    }
  }
}
</script>

<style lang="scss">
@import '~theme/css/base/global_vars';
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$color-icon-hover: color(secondary, $colors-background);
$white: color(white);
$black: color(black);
$red: color(red);
$gray-979797: color(gray-979797);
$gray: color(gray);

#my_account{
  .select-wrapper{
    &::after{
      border: 0;
      content: '';
      display: inline-block;
      background: url(/assets/icons/down-arrow.png) no-repeat;
      width: 16px;
      height: 9px;
    }
  }
}
.payment-methods{
  .payment-methods-row{
    border: 1px solid $gray-979797;
    margin:1px 0 -2px -1px;
    background: $white;
    padding: 20px;
    position: relative;
    @media (max-width:767px) {
      padding:20px 13px;
    }
    .payment-icon{
      width: 150px;
      display: table;
      text-align:center;
      line-height: 0;
      align-self: center;
      @media (max-width:767px) {
        width: 80px;
        img{
          width: 63px;
        }
      }
    }
    .payment-methods-text{
      padding-left: 20px;
      p{
        padding:0 0 2px 0;
        @media (max-width:767px) {
          font-size: 14px;
        }
      }
      h4{
        @media (max-width:767px) {
          font-size: 16px;
        }
      }
    }
    .payment-delete{
       margin-left: auto;
       margin-top: auto;
      .checkbox{
          position: absolute;
          right: 30px;
          top: 16px;
          @media (max-width:767px) {
            right: 16px;
          }
          label{
            padding-left:0;
            padding-right:30px;
            &::before{
              left:inherit;
              right:0;
            }
            &::after{
              left:inherit;
              right:5px;
            }
          }
        }
        p{
          margin-top: auto;
          margin-left: auto;
          span{
            color: $red;
            font-size: 19px;
            vertical-align: middle;
            display: inline-block;
          }
          @media (max-width:767px) {
            font-size: 12px;
          }
        }
      }
    .edite-links{align-self: center;}
  }

.myaccount-form {
  max-width: 720px;
  margin: auto;
  @media (max-width: 767px) {
    padding: 0 20px;
  }
  .select-wrapper {
    display: flex;
    flex-wrap: wrap;
    select {
      &:first-child {
        height: 30px;
        border: solid 1px $gray;
        font-size: 16px;
        padding: 0px 7px;
        line-height: 29px;
      }
    }
    select:focus ~ label,
    select:not(.empty) ~ label {
      color: $black;
    }
    label {
      position: static;
      order: -1;
      padding-bottom: 5px;
      color: $black;
    }
    &::after {
      top: 35px;
      right: 23px;
    }
  }
  .base-input {
    .relative {
      display: flex;
      flex-wrap: wrap;
      input {
        &:first-child {
          height: 30px;
          border: solid 1px $gray;
          font-size: 16px;
          padding: 7px;
        }
      }
      input:focus {
        border: solid 1px $red;
      }
    }
    label {
      position: static;
      order: -1;
      padding-bottom: 5px;
      color: $black;
    }
    input:focus ~ label,
    input:not(.empty) ~ label {
      color: $black;
    }
  }
  @media (max-width: 767px) {
    .checkbox {
      label {
        font-size: 16px;
        padding-left: 26px;
      }
    }
  }
}
  .btn{
      font-size: 18px;
      font-weight: bold;
      padding: 8px 24px 8px;
      text-transform: capitalize;
  }
}
</style>
