<template>
  <div>
    <h3 class="bold align-center py20">
      {{ tableTitle }}
    </h3>
    <div class="px20">
      <no-ssr>
        <table class="w-100 mb20">
          <thead>
            <tr>
              <th
                class="p10"
                v-for="(headerText, index) in tableHeaderText"
                :key="index"
              >
                {{ headerText }}
              </th>
            </tr>
          </thead>
          <tbody v-if="VouchersData.length>0">
            <tr v-for="(voucher, index) in VouchersData" :key="index">
              <td class="p10">
                {{ voucher.voucher_no }}
              </td>
              <td class="p10">
                {{ voucher.issued_date }}
              </td>
              <td class="p10">
                {{ voucher.expiry_date }}
              </td>
              <td class="p10">
                {{ voucher.status }}
              </td>
            </tr>
          </tbody>
          <tbody v-else>
            <tr>
              <td colspan="4">
                <p class="align-center pt20">{{ $t('You don’t have any online orders, if you think you should please check the in-store tab for in-store orders or you can always get in touch with us for help.') }}</p>
              </td>
            </tr>
          </tbody>
        </table>
      </no-ssr>
    </div>
    <div class="petclub-points-banner hidden-xs">
      <cms-block identifier="petclub-voucher-image" />
    </div>
  </div>
</template>

<script>
import NoSSR from 'vue-no-ssr';
import PetclubVouchers from 'theme/resource/PetclubVouchers.json';
import CmsBlock from 'theme/components/core/blocks/Cms/Block.vue';

export default {
  data () {
    return {
      tableTitle: '',
      VouchersData: [],
      tableHeaderText: []
    };
  },
  components: {
    'no-ssr': NoSSR,
    CmsBlock
  },
  methods: {
    setClubVouchersData (data) {
      this.tableHeaderText = data.tableHeader;
      this.VouchersData = data.content;
      this.tableTitle = data.tableTitle;
    }
  },
  created () {
    this.setClubVouchersData(PetclubVouchers);
  }
};
</script>
