<template>
  <div class="petclubpoints">
    <div class="showpointsbarwrap">
      <show-points-bar
        title="You have earned"
        :min="0"
        :max="1000"
        :fillbarwidth="PointsBarWidth"
        :earned="totalEarnedPoints"
        :remaining="remainingPoints"
      />
    </div>
    <h3 class="bold align-center py20">
      {{ tableTitle }}
    </h3>
    <div class="px20">
      <no-ssr>
        <table class="w-100 mb20">
          <thead>
            <tr>
              <th class="p10" v-for="(headerText, index) in tableHeaderText" :key="index">
                {{ headerText }}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(pointsData, index) in ClubPoints" :key="index">
              <td class="p10">
                {{ pointsData.activity }}
              </td>
              <td class="p10">
                {{ pointsData.dates }}
              </td>
              <td class="p10">
                {{ pointsData.points_earned }}
              </td>
              <td class="p10">
                {{ pointsData.points_expiry }}
              </td>
            </tr>
          </tbody>
        </table>
      </no-ssr>
    </div>
    <div class="petclub-points-banner hidden-xs">
      <cms-block identifier="petclub-points-image" />
    </div>
  </div>
</template>

<style lang="scss">
.petclub-points-banner p {
  max-width: 462px;
  margin-left: auto;
  margin-right: auto;
}
</style>

<script>
import NoSSR from 'vue-no-ssr';
import petclubPoints from 'theme/resource/PetclubPoints.json';
import ShowPointsBar from '../../ShowPointsBar.vue';
import CmsBlock from 'theme/components/core/blocks/Cms/Block.vue';

export default {
  data () {
    return {
      tableTitle: '',
      ClubPoints: [],
      tableHeaderText: [],
      minPoint: 0,
      maxPoint: 1000
    };
  },
  components: {
    'no-ssr': NoSSR,
    'show-points-bar': ShowPointsBar,
    CmsBlock
  },
  computed: {
    totalEarnedPoints () {
      var totalPoints = 0;
      const pointsData = this.ClubPoints;
      var dataObj = pointsData.map(d => d.points_earned);
      totalPoints = dataObj.reduce((a, b) => { return parseInt(a) + parseInt(b); })
      if (totalPoints > this.maxPoint) {
        return totalPoints - this.maxPoint
      }
      return totalPoints;
    },
    remainingPoints () {
      return parseInt(this.maxPoint) - this.totalEarnedPoints
    },
    PointsBarWidth () {
      return parseInt(this.totalEarnedPoints) * parseInt(100) / parseInt(this.maxPoint)
    }
  },
  methods: {
    setClubPointsData (data) {
      this.tableHeaderText = data.tableHeader;
      this.ClubPoints = data.content;
      this.tableTitle = data.tableTitle;
    }
  },
  created () {
    this.setClubPointsData(petclubPoints);
  }
};
</script>
