<template>
  <div class="w-100">
    <div
      class="store-block"
      v-for="(storeItem, index) in storeLists"
      :key="index"
    >
      <div class="store-information">
        <div class="flex middle-xs store-info-head">
          <img :src="storeItem.image" alt="">
          <div>
            <h3>
              {{ storeItem.name }}
            </h3>
            <span
              class="flex middle-xs"
              v-for="(storeCloseTime, indx) in storeItem.store_close_time"
              :key="indx"
            >
              <img :src="storeCloseTime.image" alt="">
              <strong>
                {{ storeCloseTime.title }}
              </strong>
              ({{ storeCloseTime.time }})
            </span>
          </div>
        </div>
        <p class="gotham">
          {{ storeItem.address }}
        </p>
        <div class="flex store-contact-info gotham">
          <div class="open-time-list">
            <ul>
              <li
                v-for="(storeOpenTime, indx) in storeItem.weekly_time_list"
                :key="indx"
              >
                <span>
                  {{ storeOpenTime.title }}
                </span>
                {{ storeOpenTime.time }}
              </li>
            </ul>
          </div>
          <div class="contact-info">
            <ul>
              <li
                v-for="(contactInfo, indx) in storeItem.contact_info"
                :key="indx"
              >
                <router-link :to="contactInfo.link">
                  <img :src="contactInfo.icon" alt="">
                  <span>
                    {{ contactInfo.info }}
                  </span>
                </router-link>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ButtonFull from 'theme/components/theme/ButtonFull.vue';

export default {
  name: 'StoresList',
  props: {
    storeLists: {
      type: Array,
      required: true,
      default: () => []
    }
  }
  // mounted () {
  //   this.onAccountStoreButton();
  // },
  // methods: {
  //   onAccountStoreButton (event) {
  //     this.$parent.getAcntStoreList(accountStoreList.length)
  //   }
  // }
};
</script>
<style lang="scss" scoped>
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$white: color(white);
$black: color(black);
$red: color(red);
$oat: color(oat);

.store-block {
  padding: 0 10px 20px 10px;
  width: 50%;
  .store-information {
    border: 1px solid $oat;
    padding: 20px;
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
    .store-info-head {
      > img {
        border-radius: 100%;
        max-width: 60px;
        border: solid 4px $red;
        margin-right: 25px;
      }
      span {
        font-size: 16px;
        padding: 8px 0 0 0;
        strong {
          padding: 0 8px 0 6px;
        }
      }
      h3 {
        font-size: 21px;
      }
    }
    p {
      font-size: 16px;
      margin: 0;
      padding: 25px 0 0 0;
    }
    .store-contact-info {
      margin: 25px 0 0 0;
      align-items: center;
      > div {
        width: 50%;
        padding-top: 5px;
        padding-bottom: 5px;
        &.open-time-list {
          border-right: solid 1px #c2c2c2;
          ul {
            li {
              font-size: 14px;
              line-height: 1.2;
              padding: 5px 0;
              span {
                display: inline-block;
                min-width: 40px;
              }
            }
          }
        }
        &.contact-info {
          padding-left: 10px;
          ul {
            li {
              padding: 10px 0;
              a {
                display: flex;
                align-items: center;
                font-size: 14px;
                img {
                  margin-right: 10px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1380px) {
  .store-block {
    width: 50%;
  }
}
@media (max-width: 992px) {
 .store-block {
      padding: 0 0 5px 0;
      width: 100%;
      .store-information {
        padding: 10px;
      }
    }
}

</style>
