<template>
  <div class="stores">
    <h3 class="col-xs-12 bold align-center py20">
      {{ $t('All Stores') }}
    </h3>
    <div class="all-store-info" v-if="accountStoreList.length > 0">
      <div class="store-list flex">
        <Storelist :store-lists="accountStoreList" />
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-6">
          <button class="btn w-100">
            {{ $t('Change your store') }}
          </button>
        </div>
      </div>
    </div>
    <div v-else class="stores empty-msg align-center px20">
      <h2>
        {{ $t('You don’t have any favourite products at the moment.') }}
      </h2>
      <p class="pb20">
        {{ $t("You can favourite any product when your browsing the Jollyes website and they will show up here for quick and easy access later. ") }}
      </p>
    </div>
  </div>
</template>

<script>
import Storelist from 'theme/components/core/blocks/MyAccount/Storelist.vue';
import accountStoreListData from 'theme/resource/account-store-list.json';
export default {
  data () {
    return {
      accountStoreList: accountStoreListData
    };
  },
  components: {
    Storelist
  }
};
</script>

<style lang="scss" scoped>
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$white: color(white);
$black: color(black);
$red: color(red);
$oat: color(oat);
.stores{
  h2{
    font-size:21px;
    margin-bottom:20px;
    font-weight: 700;
  }
}
.all-store-info {
  padding: 0 20px;
  .btn {
    font-size: 18px;
    text-transform: capitalize;
    padding: 9px 24px 9px;
  }
  @media (max-width: 992px) {
   padding: 0 10px;
   .btn {
     margin: 15px 0 20px;

   }
  }
}
.store-list {
  flex-wrap: wrap;
  margin: 0 -10px;
}
@media (max-width: 992px) {
  .store-list {
    margin-left: auto;
    margin-right: auto;
    max-width: 580px;
  }
}
</style>
