<template>
  <div id="category">
    <category-banner-slider class="category-banner container p0" :banner-slides="getCurrentCategory.promotionalbanner" :slider-id="'category-banner'" :per-page-custom="[['auto', [1, 0]]]" />
    <breadcrumbs />
    <div class="sub-category small-space container">
      <div class="block-title flex between-xs">
        <h2>
          {{ getCurrentCategory.name }}
          <div class="sec-subtitle" v-if="getCurrentCategory.description" v-html="getCurrentCategory.description" />
        </h2>
      </div>
    </div>
    <SubCategorySlider :category="SubChildCatData" class="sub-category small-space container" :slider-id="'sub-category'" :per-page-custom="[[200, ['auto', 15]], [768, [6, 20]], [1200, [8, 30]]]" />

    <div class="container">
      <div class="flex">
        <div class="col-md-3 p0 start-xs category-filters mobile-filters brdr-right-1 brdr-cl-gray-979797 hidden-md" v-show="mobileFilters">
          <div class="close-container absolute w-100 hidden-md">
            <i class="material-icons p15 close cl-accent" @click="closeFilters">close</i>
          </div>
          <sidebar :filters="getAvailableFilters" @changeFilter="changeFilter" />
        </div>
        <!-- <div class="col-md-3 start-xs mobile-filters" v-show="mobileFilters">
          <div class="close-container absolute w-100">
            <i class="material-icons p15 close cl-accent" @click="closeFilters">close</i>
          </div>
          <sidebar class="mobile-filters-body" :filters="getAvailableFilters" @changeFilter="changeFilter" />
          <div class="relative pb20 pt15">
            <div class="brdr-top-1 brdr-cl-primary absolute divider w-100" />
          </div>
          <button-full
            class="mb20 btn__filter"
            @click.native="closeFilters"
          >
            {{ $t('Filter') }}
          </button-full>
        </div> -->
        <div class="col-md-9 products-list p0 small-space bg-cl-light-gray">
          <div class="sorting-row">
            <p class="count-items">
              {{ $t('{count} items', { count: getCategoryProductsTotal }) }}
              {{ $t('found in:') }}
              <strong>
                {{ getCurrentCategory.name }}
                <span class="close-icon" />
              </strong>
            </p>
            <div class="sorting">
              <sort-by
                :has-label="true"
                @change="changeFilter"
                :value="getCurrentSearchQuery.sort"
              />
            </div>
          </div>
          <div class="row m0 swap-div">
            <div class="mobile-sorting col-xs-6">
              <sort-by
                @change="changeFilter"
                :value="getCurrentSearchQuery.sort"
              />
            </div>
            <div class="col-xs-6 mobile-filter hidden-md">
              <button
                class="mobile-filters-button cl-balck fs-medium-small bg-cl-white"
                @click="openFilters"
              >
                {{ $t('Filters') }}
              </button>
            </div>
          </div>
          <div v-if="isCategoryEmpty" class="hidden-xs">
            <h4 data-testid="noProductsInfo">
              {{ $t('No products found!') }}
            </h4>
            <p>{{ $t('Please change Your search criteria and try again. If still not finding anything relevant, please visit the Home page and try out some of our bestsellers!') }}</p>
          </div>
          <lazy-hydrate :trigger-hydration="!loading" v-if="isLazyHydrateEnabled">
            <product-listing :columns="defaultColumn" :products="getCategoryProducts" class="product-row1" :total-products="getCategoryProductsTotal" :category="getCurrentCategory" />
          </lazy-hydrate>
          <!-- <product-listing v-else :columns="defaultColumn" :products="getCategoryProducts" />
          <favorite-brands class="category-favorite-bands bg-cl-light-gray" :sec-title="'Our favourite brands'" :slider-id="'category-favorite-bands'" :per-page-custom="[[200, [4, 20]], [768, ['auto', 20]], [1380, ['auto', 42]]]" />
          <perfect-puppy class="bottom-space" />
          <lazy-hydrate :trigger-hydration="!loading" v-if="isLazyHydrateEnabled">
            <product-listing :columns="defaultColumn" :products="getCategoryProducts" />
          </lazy-hydrate>
          <lazy-hydrate :trigger-hydration="!loading" v-if="isLazyHydrateEnabled">
            <product-listing-slider class="category-product-slider bottom-space container small-space bg-cl-oat" :per-page-custom="[[200, ['auto', 10]], [768, [3, 15]], [992, [4, 30]], [1200, [4, 30]]]" :sec-title="'Customer favourites'" :products="getCategoryProducts" :slider-id="'customer-favourites'" />
          </lazy-hydrate>
          <lazy-hydrate :trigger-hydration="!loading" v-if="isLazyHydrateEnabled">
            <product-listing :columns="defaultColumn" :products="getCategoryProducts" />
          </lazy-hydrate>
          <lazy-hydrate :trigger-hydration="!loading" v-if="trendingProducts && trendingProducts.length > 0 && isLazyHydrateEnabled">
            <product-listing-slider class="category-product-slider container small-space bg-cl-oat" :per-page-custom="[[200, ['auto', 10]], [768, [3, 15]], [992, [4, 30]], [1200, [4, 30]]]" :sec-title="'Trending now'" :products="trendingProducts" :slider-id="'trending-now'" />
          </lazy-hydrate>
          <lazy-hydrate :trigger-hydration="!loading" v-if="exclusiveProducts && exclusiveProducts.length > 0 && isLazyHydrateEnabled">
            <product-listing-slider class="category-product-slider container exclusive-jollyes-main" :per-page-custom="[[200, ['auto', 10]], [768, [3, 15]], [992, [4, 30]], [1200, [4, 30]]]" :sec-title="'Exclusive to Jollyes'" :products="exclusiveProducts" :slider-id="'exclusive-jollyes'" />
          </lazy-hydrate> -->
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import LazyHydrate from 'vue-lazy-hydration'
import Sidebar from '../components/core/blocks/Category/Sidebar.vue'
import ProductListing from '../components/core/ProductListing.vue'
import Breadcrumbs from '../components/core/Breadcrumbs.vue'
import SortBy from '../components/core/SortBy.vue'
import { isServer } from '@vue-storefront/core/helpers'
import { Logger } from '@vue-storefront/core/lib/logger'
import { getSearchOptionsFromRouteParams } from '@vue-storefront/core/modules/catalog-next/helpers/categoryHelpers'
import config from 'config'
import Columns from '../components/core/Columns.vue'
import ButtonFull from 'theme/components/theme/ButtonFull.vue'
import { mapGetters } from 'vuex'
import onBottomScroll from '@vue-storefront/core/mixins/onBottomScroll'
import rootStore from '@vue-storefront/core/store';
import { catalogHooksExecutors } from '@vue-storefront/core/modules/catalog-next/hooks'
import { localizedRoute, currentStoreView } from '@vue-storefront/core/lib/multistore'
import { htmlDecode } from '@vue-storefront/core/filters'
import FavoriteBrands from 'theme/components/core/blocks/Category/FavoriteBrands'
import ProductListingSlider from 'theme/components/core/blocks/Category/ProductListingSlider'
import SubCategorySlider from 'theme/components/core/blocks/Category/SubCategorySlider'
import CategoryBannerSlider from 'theme/components/theme/blocks/Category/CategoryBannerSlider'
import PerfectPuppy from 'theme/components/theme/blocks/Home/PerfectPuppy'
import { prepareQuery } from '@vue-storefront/core/modules/catalog/queries/common'

const THEME_PAGE_SIZE = 24

const composeInitialPageState = async (store, route, forceLoad = false) => {
  try {
    const filters = getSearchOptionsFromRouteParams(route.params)
    const cachedCategory = store.getters['category-next/getCategoryFrom'](route.path)
    const currentCategory = cachedCategory && !forceLoad ? cachedCategory : await store.dispatch('category-next/loadCategory', { filters })
    const pageSize = store.getters['url/isBackRoute'] ? store.getters['url/getCurrentRoute'].categoryPageSize : THEME_PAGE_SIZE
    await store.dispatch('category-next/loadCategoryProducts', { route, category: currentCategory, pageSize })
    const breadCrumbsLoader = store.dispatch('category-next/loadCategoryBreadcrumbs', { category: currentCategory, currentRouteName: currentCategory.name, omitCurrent: true })

    if (isServer) await breadCrumbsLoader
    catalogHooksExecutors.categoryPageVisited(currentCategory)
  } catch (e) {
    Logger.error('Problem with setting Category initial data!', 'category', e)()
  }
}

export default {
  components: {
    LazyHydrate,
    ButtonFull,
    ProductListing,
    Breadcrumbs,
    Sidebar,
    SortBy,
    // Columns,
    FavoriteBrands,
    ProductListingSlider,
    SubCategorySlider,
    CategoryBannerSlider,
    PerfectPuppy
  },
  mixins: [onBottomScroll],
  data () {
    return {
      SlideHtml: null,
      mobileFilters: false,
      defaultColumn: 4,
      loadingProducts: false,
      trendingProducts: [],
      exclusiveProducts: [],
      loading: true,
      parentIDofChild: 0,
      lastLevelChild: null,
      SubChildCatData: []
    }
  },
  computed: {
    ...mapGetters({
      getCurrentSearchQuery: 'category-next/getCurrentSearchQuery',
      getCategoryProducts: 'category-next/getCategoryProducts',
      getCurrentCategory: 'category-next/getCurrentCategory',
      getCategoryProductsTotal: 'category-next/getCategoryProductsTotal',
      getAvailableFilters: 'category-next/getAvailableFilters',
      getCategories: 'category-next/getCategories'
    }),
    isLazyHydrateEnabled () {
      return config.ssr.lazyHydrateFor.includes('category-next.products')
    },
    isCategoryEmpty () {
      return this.getCategoryProductsTotal === 0
    }
  },
  async asyncData ({ store, route, context }) { // this is for SSR purposes to prefetch data - and it's always executed before parent component methods
    if (context) context.output.cacheTags.add('category')
    await composeInitialPageState(store, route)
  },
  async beforeRouteEnter (to, from, next) {
    if (isServer) next() // SSR no need to invoke SW caching here
    else if (!from.name) { // SSR but client side invocation, we need to cache products and invoke requests from asyncData for offline support
      next(async vm => {
        vm.loading = true
        await composeInitialPageState(vm.$store, to, true)
        await vm.$store.dispatch('category-next/cacheProducts', { route: to }) // await here is because we must wait for the hydration
        vm.loading = false
      })
    } else { // Pure CSR, with no initial category state
      next(async vm => {
        vm.loading = true
        vm.$store.dispatch('category-next/cacheProducts', { route: to })
        vm.loading = false
      })
    }
  },
  watch: {
    '$route' (nV, oV) {
      this.SubChildCatData = []
      this.parentIDofChild = 0;
      this.getSubCategory()
    }
  },
  methods: {
    openFilters () {
      this.mobileFilters = true
    },
    closeFilters () {
      this.mobileFilters = false
    },
    async changeFilter (filterVariant) {
      this.$store.dispatch('category-next/switchSearchFilters', [filterVariant])
    },
    columnChange (column) {
      this.defaultColumn = column
    },
    async onBottomScroll () {
      if (this.loadingProducts) return
      this.loadingProducts = true
      try {
        await this.$store.dispatch('category-next/loadMoreCategoryProducts')
      } catch (e) {
        Logger.error('Problem with fetching more products', 'category', e)()
      } finally {
        this.loadingProducts = false
      }
    },
    async getSubCategory () {
      if (this.getCurrentCategory.children_count === 0) {
        this.parentIDofChild = this.getCurrentCategory.parent_id
        this.lastLevelChild = this.getCategories.filter(e => e.id === this.parentIDofChild)
        // let childCatData = await this.$store.dispatch('category/list', {
        //   parent: this.parentIDofChild,
        //   sort: ''
        // });
        // this.lastLevelChild =
        //   childCatData && childCatData.items.length > 0
        //     ? childCatData.items
        //     : null;
      }
      if (this.parentIDofChild > 0 && this.lastLevelChild.length > 0) {
        this.SubChildCatData = this.lastLevelChild[0].children_data
      } else {
        this.SubChildCatData = this.getCurrentCategory.children_data
      }
    }
  },
  created () {
    this.getSubCategory()
  },
  destroyed () {
    this.SubChildCatData = [];
  },
  async mounted () {
    // Trendind product query
    let trendingData = prepareQuery({ filters: [
      { 'key': 'inchoo_featured_product', 'value': { 'eq': 1 } },
      { 'key': 'category_ids', 'value': { 'eq': this.getCurrentCategory.id } }
    ] });
    const trendingDataResult = await this.$store.dispatch('product/list', {
      query: trendingData,
      size: 8
    });
    this.trendingProducts = trendingDataResult.items.length > 0 ? trendingDataResult.items : [];
    // Trendind product query
    let exclusiveProd = prepareQuery({ filters: [
      { 'key': 'inchoo_featured_product', 'value': { 'eq': 1 } },
      { 'key': 'category_ids', 'value': { 'eq': this.getCurrentCategory.id } }
    ] });
    const exclusiveProdResult = await this.$store.dispatch('product/list', {
      query: exclusiveProd,
      size: 8
    });
    this.exclusiveProducts = exclusiveProdResult.items.length > 0 ? exclusiveProdResult.items : [];
  },
  metaInfo () {
    const storeView = currentStoreView()
    const { meta_title, meta_description, name, slug } = this.getCurrentCategory
    const meta = meta_description ? [
      { vmid: 'description', name: 'description', content: htmlDecode(meta_description) }
    ] : []
    /* const categoryLocaliedLink = localizedRoute({
      name: 'category-amp',
      params: { slug }
    }, storeView.storeCode)
    const ampCategoryLink = this.$router.resolve(categoryLocaliedLink).href */

    return {
      // link: [ { rel: 'amphtml', href: ampCategoryLink } ],
      title: htmlDecode(meta_title || name),
      meta
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$gray-979797: color(gray-979797);
  .btn {
    &__filter {
      min-width: 100px;
    }
  }
  .divider {
    width: calc(100vw - 8px);
    bottom: 20px;
    left: -36px;
  }

  .mobile-sorting {
    display: none;
  }

  .category-title {
    line-height: 65px;
  }

  .sorting {
    label {
      margin-right: 10px;
    }
  }

  @media (max-width: 767px) {
    .category-title {
      margin: 0;
      font-size: 36px;
      line-height: 40px;
    }

    .products-list {
      width: 100%;
      max-width: none;
      flex-basis: auto;
    }

    .mobile-filters-button {
      display: block;
      height: 45px;
      background-image: url(/assets/icons/icon-filter.png);
      background-repeat: no-repeat;
      border: 1px solid $gray-979797;
      padding-left: 40px;
      background-position: 0 calc(100% - 2px);
      text-align: left;
      width: 100%;
      font-size: 14px;
    }

    .sorting {
      display: none;
      select {
        width: 100%;
      }
    }

    .mobile-sorting {
      display: block;
      padding-right: 7.5px;
    }

    .mobile-filter {
      padding-left: 7.5px;
    }

    .product-listing {
      justify-content: center;
      margin-top: 25px;
      padding-left: 10px;
      padding-right: 10px;
    }

    .mobile-filters {
      position: fixed;
      background-color: #F2F2F2;
      z-index: 5;
      padding: 0 40px;
      left: 0;
      width: 100%;
      height: 100%;
      top: 0;
      box-sizing: border-box;
      overflow-y: auto;
      .sidebar {
        position: relative;
        top: 50px;
        display: flex;
        align-items: self-end;
        height: 100%;
        width: 100%;
        .main-filter-sidebar {
          width: 100%;
          height: auto;
        }
      }
    }

    .mobile-filters-body {
      padding-top: 50px;
    }
  }

  .close-container {
    left: 0;
  }

  .close {
    margin-left: auto;
  }
</style>

<style lang="scss">
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$red: color(red);
$oat: color(oat);

.category-banner{
  overflow: hidden;
}
.sub-category{
  padding-left:15px;
  padding-right:15px;
  .block-title{
    text-align:center;
    h2{
      width:100%;
      .sec-subtitle{
        font-size:18px;
        max-width:740px;
        margin:15px auto 0;
      }
    }
    .swiper-arrows{
      display:none;
    }
  }
  .category-swiper{
    max-width:1140px;
    margin:0 auto;
    .swiper-slide{
      span{
        display:inline-flex;
        position: relative;
        &:after{
          content:'';
          position: absolute;
          width:100%;
          height:100%;
          border: solid 10px $red;
          border-radius: 100%;
          opacity:0;
          transition: all 0.3s ease;
        }
        img{
          border-radius: 100%;
          filter: grayscale(100%);
          max-width: 100%;
        }
      }
      &:hover,
      .active{
        span{
          &:after{
            opacity:1;
          }
          img{
            filter: grayscale(0);
          }
        }
      }
    }
  }
  @media (max-width: 767px) {
    .block-title{
      h2{
        .sec-subtitle{
          font-size:14px;
        }
      }
    }
    .category-swiper{
      margin-right:-15px;
      .swiper-slide{
        max-width:80px;
        a{
          span{
            margin-bottom:15px;
          }
        }
      }
    }
  }
}
.product-image {
  max-height: unset !important;
}
.category-promotional-banner{
  .promotional-banner{
    align-items: flex-end;
    .banner-img{
      margin-top: 20px;
      width: 51%;
      img{
        display: block;
        max-width: 100%;
      }
    }
    .banner-info{
      padding-left: 85px;
      padding-bottom: 75px;
      width: 49%;
      h2{
        font-size: 76px;
        padding-bottom:20px;
      }
      h3{
        font-size: 33px;
        padding-bottom:15px;
      }
      p{
        font-size: 23px;
        line-height: 1.3;
      }
    }
    @media (max-width: 1360px) {
      .banner-info{
        padding-left: 45px;
        h2{
          font-size: 55px;
          padding-bottom:10px;
        }
        h3{
          font-size: 29px;
        }
        p{
          font-size: 20px;
        }
      }
    }
    @media (min-width: 992px) {
      .banner-info{
        order: 2;
      }
    }
    @media (max-width: 992px) {
      &.d-flex{
        display: block;
      }
      .banner-img{
        width: 100%;
        display: flex;
        justify-content: center;
      }
      .banner-info{
        width: 100%;
        padding: 0;
        text-align: center;
      }
    }
  }
  @media (max-width: 767px) {
    .promotional-banner{
      .banner-info{
        padding-top: 25px;
      }
    }
  }
}
.sorting-row{
  display: flex;
  justify-content: space-between;
  align-items:center;
  padding:0 15px 25px;
  .count-items{
    padding: 0;
    > strong{
      padding-left: 10px;
    }
  }
  .close-icon{
    background: url(/assets/icons/close-icon.png);
    width: 19px;
    height: 18px;
    display: inline-flex;
    vertical-align: middle;
    margin-top: -8px;
    background-size: 100% auto;
    font-size: 13px;
  }
}
.product-listing{
  @media (max-width: 767px) {
    > div{
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}
.exclusive-to-jollyes{
  .bg-svg{
    display: none;
  }
}
.category-favorite-bands{
  overflow: hidden;
  .swiper-slide{
    max-width:160px;
  }
}
 @media (max-width: 767px) {
   .mobile-sorting {
     .select1 {
      width: 100%;
      padding-left: 10px;
      font-size: 14px;
      height: 45px;
    }
   }
   .main-filter-sidebar {
      width: 100%;
      height: auto;
    }
 }
 @media (min-width: 768px) {
 .category-filters.mobile-filters {
    display: block !important;
  }
 }
</style>
