<template>
  <div id="checkout" class="bg-cl-light-gray py20">
    <div class="container">
      <div class="row" v-show="!isThankYouPage">
        <div class="col-lg-9 col-xs-12 checkout-left">
          <DeliveryOption />
          <personal-details
            class="line relative checkout-box px15 py15 bg-cl-white mb20 brdr-1 brdr-cl-gray"
            :is-active="activeSection.personalDetails"
            :focused-field="focusedField"
          />
          <shipping class="line relative checkout-box px15 py15 bg-cl-white mb20 brdr-1 brdr-cl-gray" :is-active="activeSection.shipping" v-if="!isVirtualCart" />
          <payment class="line relative checkout-box px15 py15 bg-cl-white mb20 brdr-1 brdr-cl-gray" :is-active="activeSection.payment" />
          <order-review class="line relative checkout-box px15 bg-cl-white mb20 brdr-1 brdr-cl-gray" :is-active="activeSection.orderReview" />
          <div id="custom-steps" />
        </div>
        <div class="col-lg-3 bg-cl-transparent cart-right">
          <cart-summary />
        </div>
      </div>
    </div>
    <thank-you-page v-show="isThankYouPage" />
  </div>
</template>

<script>
import Checkout from '@vue-storefront/core/pages/Checkout'

import PersonalDetails from 'theme/components/core/blocks/Checkout/PersonalDetails'
import Shipping from 'theme/components/core/blocks/Checkout/Shipping'
import Payment from 'theme/components/core/blocks/Checkout/Payment'
import OrderReview from 'theme/components/core/blocks/Checkout/OrderReview'
import CartSummary from 'theme/components/core/blocks/Checkout/CartSummary'
import ThankYouPage from 'theme/components/core/blocks/Checkout/ThankYouPage'
import { registerModule } from '@vue-storefront/core/lib/modules'
import { OrderModule } from '@vue-storefront/core/modules/order'
import DeliveryOption from '../components/core/DeliveryOption.vue'

export default {
  components: {
    PersonalDetails,
    Shipping,
    Payment,
    OrderReview,
    CartSummary,
    ThankYouPage,
    DeliveryOption
  },
  mixins: [Checkout],
  beforeCreate () {
    registerModule(OrderModule)
  },
  mounted () {
    this.$store.commit('ui/setMicrocart', false)
    this.$store.commit('ui/setSidebar', false)
  },
  label: {
    type: Boolean,
    required: false,
    default: true
  },
  methods: {
    notifyEmptyCart () {
      this.$store.dispatch('notification/spawnNotification', {
        type: 'warning',
        message: this.$t('Shopping cart is empty. Please add some products before entering Checkout'),
        action1: { label: this.$t('OK') }
      })
    },
    notifyOutStock (chp) {
      this.$store.dispatch('notification/spawnNotification', {
        type: 'error',
        message: chp.name + this.$t(' is out of stock!'),
        action1: { label: this.$t('OK') }
      })
    },
    notifyNotAvailable () {
      this.$store.dispatch('notification/spawnNotification', {
        type: 'error',
        message: this.$t('Some of the ordered products are not available!'),
        action1: { label: this.$t('OK') }
      })
    },
    notifyStockCheck () {
      this.$store.dispatch('notification/spawnNotification', {
        type: 'warning',
        message: this.$t('Stock check in progress, please wait while available stock quantities are checked'),
        action1: { label: this.$t('OK') }
      })
    },
    notifyNoConnection () {
      this.$store.dispatch('notification/spawnNotification', {
        type: 'warning',
        message: this.$t('There is no Internet connection. You can still place your order. We will notify you if any of ordered products is not available because we cannot check it right now.'),
        action1: { label: this.$t('OK') }
      })
    }
  }
}
</script>

<style lang="scss">
@import '~theme/css/base/text';
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$bg-secondary: color(secondary, $colors-background);
$color-tertiary: color(tertiary);
$color-secondary: color(secondary);
$color-error: color(error);
$white: color(white);
$black: color(black);
$gray-979797: color(gray-979797);
$blue: color(blue);
$green: color(green);

#checkout {
  .radioStyled {
      display: block;
      position: relative;
      padding-left: 35px;
      margin-bottom: 12px;
      cursor: pointer;
      font-size: 16px;
      line-height: 30px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

      input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
      }

      .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        border-radius: 50%;
        border: 1px solid $bg-secondary;

        &:after {
          content: "";
          position: absolute;
          display: none;
          top: 3px;
          left: 3px;
          width: 17px;
          height: 17px;
          border-radius: 50%;
          background: $color-secondary;
        }
      }

      input:checked ~ .checkmark:after {
        display: block;
      }
    }
  .checkout-left {
    label:not(.qty-element-label) {
      display: inline-flex;
    }
    @media (min-width: 990px) {
      padding-right: 5px;
    }
  }
  ul.products {
    li {
      &:last-child {
        padding-bottom: 0;
      }
    }
  }
  .cart-sidebar {
    width: 100%;
    .prices {
      .link {
        display: inline-block;
      }
    }
  }
  .product-border {
    .product-image {
      @media (min-width: 768px) {
        height: 152px;
        width: 152px;
      }
    }
  }
  .order-review {
    .cart-box {
      padding: 0 15px;
    }
    .cart-list {
      padding: 20px 15px;
    }
  }
  input:checked + label {
    &:before {
      background-color: $green;
      border-color: transparent;
      top: 4px;
    }
    &:after {
      background-color: transparent;
      border-width: 2px;
    }
  }
  input[type="checkbox"] + label {
    &:after {
      top: 10px;
    }
  }
  input + label {
    &:before {
      top: 5px;
    }
  }
  .billing-save {
    label {
      @media (max-width: 767px) {
        margin-top: 10px;
      }
      font-size: 16px;
      display: block;
    }
  }
  .icon-view {
    font-size: 16px;
    i {
      font-size: 18px;
      margin-left: 5px;
    }
    .width {
      min-width: 90px;
    }
    .billing-width {
      min-width: 135px;
    }
  }
  @media (max-width: 767px) {
    .h3 {
      font-size: 18px;
    }
  }
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .number-circle {
    width: 35px;
    height: 35px;
    @media (max-width: 768px) {
      width: 25px;
      height: 25px;
      line-height: 25px;
    }
  }
  .base-input {
    input {
      border: 1px solid $gray-979797;
      padding: 8px 10px;
      height: 40px;
      font-size: 14px;
      + {
        label {
          top: -10px;
          background: $white;
          font-size: 14px;
          padding: 2px 4px;
          left: 6px;
          color: $black;
        }
      }
      label {
        top: 14px;
        left: 10px;
        color: $black;
      }
    }
    input.empty {
      + {
        label {
          top: 10px;
          left: 5px;
          color: $black;
        }
      }
    }
    &.input-right {
      @media (min-width: 767px) {
        padding-right: 0;
      }
    }
  }
  .checkout-box {
    h3 {
      font-size: 21px;
      @media (max-width: 1024px) {
        font-size: 18px;
      }
    }
    .icon {
      margin-right: 10px;
    }
    @media (max-width: 767px) {
      margin-bottom: 15px;
    }
  }
  .button-container {
    .btn {
      text-transform: none;
      font-size: 16px;
      padding: 10px
    }
  }
}
.checkout-title {
  @media (max-width: 767px) {
    background-color: $bg-secondary;
    margin-bottom: 25px;
    h1 {
      font-size: 36px;
    }
  }
}
</style>
