<template>
  <div id="home">
    <main-banner-slider :banner-data="banner" />

    <special-offer />

    <what-you-need />

    <shop-by-department />

    <lazy-hydrate :trigger-hydration="!loading" v-if="isLazyHydrateEnabled">
      <product-listing-slider class="exclusive-to-jollyes container small-space bg-cl-oat" :per-page-custom="[[200, ['auto', 10]], [768, [3, 15]], [992, [4, 40]], [1200, [5, 45]]]" :sec-title="'Can’t buy better'" :sub-title="'Fantastic deals only at Jollyes'" :products="getEverythingNewCollection" :slider-id="'buy-better'" :today-data="getExclusiveJollyes" />
    </lazy-hydrate>

    <perfect-puppy />

    <div class="container small-space perfect-pk">
      <div class="row">
        <div class="col-md-6 col-xs-12">
          <category-slider :sec-title="'The perfect start for your puppy'" :slider-id="'perfect-puppy'" :per-page-custom="[[200, [4, 20]], [768, ['auto', 20]], [1380, ['auto', 45]]]" :puppy-data="dataPuppy" />
        </div>
        <div class="col-md-6 col-xs-12">
          <category-slider :sec-title="'The perfect start for your kitten'" :slider-id="'perfect-kitten'" :per-page-custom="[[200, [4, 20]], [768, ['auto', 20]], [1380, ['auto', 45]]]" :puppy-data="dataKitten" />
        </div>
      </div>
    </div>

    <div class="container small-space bg-cl-oat customer-best-deals">
      <div class="row">
        <div class="col-md-6 col-xs-12">
          <product-listing-slider :slider-id="'customer-favourites'" :per-page-custom="[[200, ['auto', 10]], [768, ['auto', 20]], [1380, ['auto', 45]]]" :sec-title="'Customer favourites'" :products="getEverythingNewCollection" :today-data="bestSellingData" v-if="bestSellingData"/>
        </div>
        <div class="col-md-6 col-xs-12">
          <product-listing-slider :slider-id="'best-deals'" :per-page-custom="[[200, ['auto', 10]], [768, ['auto', 20]], [1380, ['auto', 45]]]" :sec-title="'Today’s best deals'" :products="getEverythingNewCollection" :today-data="todayDealData" />
        </div>
      </div>
    </div>

    <product-listing-slider class="latest-treatments container small-space bg-cl-light-gray" :per-page-custom="[[200, ['auto', 10]], [768, [3, 15]], [992, [4, 40]], [1200, [5, 45]]]" :sec-title="'Try our latest at home spa treatments'" :products="getEverythingNewCollection" :slider-id="'latest-treatments'" :today-data="getCoolingRangeProducts" />

    <dog-grooming />

    <whiskas-ocean />

    <product-listing-slider class="best-for-dogs container small-space bg-cl-light-gray" :per-page-custom="[[200, ['auto', 10]], [768, [3, 15]], [992, [4, 40]], [1200, [5, 45]]]" :sec-title="'Best buys for dogs'" :sub-title="'Want to know more? Expert advices from Jollyes the Pet People'" :products="getEverythingNewCollection" :slider-id="'best-for-dogs'" :today-data="getBestDogProducts" />

    <favorite-brands class="favorite-bands-home bg-cl-light-gray container p0" :sec-title="'Our favourite brands'" :slider-id="'favorite-bands'" :per-page-custom="[[200, [4, 20]], [768, ['auto', 20]], [1380, ['auto', 60]]]" :brand-data="brand" />

    <community-pet />

    <onboard />
  </div>
</template>

<script>
// query constructor
import { isServer, onlineHelper } from '@vue-storefront/core/helpers'
import LazyHydrate from 'vue-lazy-hydration'

// Theme core components
// import ProductListing from 'theme/components/core/ProductListing'
// import HeadImage from 'theme/components/core/blocks/MainSlider/HeadImage'
import MainBannerSlider from 'theme/components/core/blocks/MainSlider/MainBannerSlider'
// import MainSlider from 'theme/components/core/blocks/MainSlider/MainSlider'
// Theme local components
import Onboard from 'theme/components/theme/blocks/Home/Onboard'
import SpecialOffer from 'theme/components/theme/blocks/Home/SpecialOffer'
import WhatYouNeed from 'theme/components/theme/blocks/Home/WhatYouNeed'
import PerfectPuppy from 'theme/components/theme/blocks/Home/PerfectPuppy'
import ShopByDepartment from 'theme/components/theme/blocks/Home/ShopByDepartment'
import DogGrooming from 'theme/components/theme/blocks/Home/DogGrooming.vue'
import WhiskasOcean from 'theme/components/theme/blocks/Home/WhiskasOcean'
// import PromotedOffers from 'theme/components/theme/blocks/PromotedOffers/PromotedOffers'
// import TileLinks from 'theme/components/theme/blocks/TileLinks/TileLinks'
import { Logger } from '@vue-storefront/core/lib/logger'
import { mapGetters } from 'vuex'
import config from 'config'
import { registerModule } from '@vue-storefront/core/lib/modules'
import { RecentlyViewedModule } from '@vue-storefront/core/modules/recently-viewed'
import CommunityPet from '../components/theme/blocks/Home/CommunityPet.vue'
import ProductListingSlider from 'theme/components/core/blocks/Category/ProductListingSlider'
import CategorySlider from 'theme/components/core/blocks/Category/CategorySlider'
import FavoriteBrands from '../components/core/blocks/Category/FavoriteBrands.vue'
import { prepareQuery } from '@vue-storefront/core/modules/catalog/queries/common'

export default {
  data () {
    return {
      loading: true,
      banner: [],
      brand: [],
      productData: [],
      dataPuppy: [],
      dataKitten: [],
      todayDealData: [],
      coolingRange: [],
      bestSellingData: []
      // defaultColumn: 8
    }
  },
  components: {
    // MainSlider,
    MainBannerSlider,
    Onboard,
    // ProductListing,
    // TileLinks,
    LazyHydrate,
    SpecialOffer,
    WhatYouNeed,
    PerfectPuppy,
    ShopByDepartment,
    WhiskasOcean,
    DogGrooming,
    CommunityPet,
    ProductListingSlider,
    FavoriteBrands,
    CategorySlider
  },
  async created () {
    await this.$store.dispatch('banner/list', {});
    this.banner = this.$store.getters['banner/getBannerList'] || [];

    await this.$store.dispatch('brand/brandlist', {});
    this.brand = this.$store.getters['brand/getBrandList'] || [];
    await this.$store.dispatch('bestSelling/bestSelling', {});
    const sellingData = this.$store.getters['bestSelling/getBestSellinglist'] || [];
    this.bestSellingData = sellingData.slice(0, 8)
  },
  computed: {
    ...mapGetters('user', ['isLoggedIn']),
    ...mapGetters('homepage', ['getEverythingNewCollection']),
    ...mapGetters({
      getCategoryProducts: 'category-next/getCategoryProducts'
    }),
    categories () {
      return this.getCategories
    },
    isCategoryEmpty () {
      return this.getCategoryProductsTotal === 0
    },
    isOnline () {
      return onlineHelper.isOnline
    },
    isLazyHydrateEnabled () {
      return config.ssr.lazyHydrateFor.some(
        field => ['homepage', 'homepage.new_collection'].includes(field)
      )
    },
    getBestDogProducts () {
      return this.productData.filter((item) => item.category.some((ele) => ele.name === 'Dog'))
    },
    getCoolingRangeProducts () {
      return this.productData.filter((item) => item.category.some((ele) => ele.name === 'Default Category'))
    },
    getExclusiveJollyes () {
      const key = 'brands';
      const data = [...new Map(this.productData.map(item =>
        [item[key], item])).values()];
      return data.slice(0, 4)
    }
  },
  beforeCreate () {
    registerModule(RecentlyViewedModule)
  },
  async beforeMount () {
    if (this.$store.state.__DEMO_MODE__) {
      const onboardingClaim = await this.$store.dispatch('claims/check', { claimCode: 'onboardingAccepted' })
      if (!onboardingClaim) { // show onboarding info
        this.$bus.$emit('modal-toggle', 'modal-onboard')
        this.$store.dispatch('claims/set', { claimCode: 'onboardingAccepted', value: true })
      }
    }
  },
  async mounted () {
    if (!this.isLoggedIn && localStorage.getItem('redirect')) this.$bus.$emit('modal-show', 'modal-signup')
    let featuredQuery = prepareQuery({ filters: [{ 'key': 'inchoo_featured_product', 'value': { 'eq': 1 } }, { 'key': 'life_stage', 'value': { 'eq': 5617 } }] });
    const featuredQueryResult = await this.$store.dispatch('product/list', {
      query: featuredQuery,
      size: 10
    });
    this.dataPuppy =
    featuredQueryResult.items.length > 0 ? featuredQueryResult.items : [];

    let kitten = prepareQuery({ filters: [{ 'key': 'inchoo_featured_product', 'value': { 'eq': 1 } }, { 'key': 'life_stage', 'value': { 'eq': 5579 } }] });
    const kittenResult = await this.$store.dispatch('product/list', {
      query: kitten,
      size: 10
    });
    this.dataKitten =
    kittenResult.items.length > 0 ? kittenResult.items : [];

    let todayDeal = prepareQuery({ filters: [{ 'key': 'inchoo_featured_product', 'value': { 'eq': 1 } }, { 'key': 'on_promotion', 'value': { 'eq': 1 } }] });
    const todayDealResult = await this.$store.dispatch('product/list', {
      query: todayDeal,
      size: 10
    });
    this.todayDealData =
    todayDealResult.items.length > 0 ? todayDealResult.items : [];

    let productData = prepareQuery({ filters: [{ 'key': 'inchoo_featured_product', 'value': { 'eq': 1 } }] });
    const coolingRangeResult = await this.$store.dispatch('product/list', {
      query: productData,
      size: 12
    });
    this.productData =
    coolingRangeResult.items.length > 0 ? coolingRangeResult.items : [];
  },
  watch: {
    isLoggedIn () {
      const redirectObj = localStorage.getItem('redirect')
      if (redirectObj) this.$router.push(redirectObj)
      localStorage.removeItem('redirect')
    }
  },
  async asyncData ({ store, route, context }) { // this is for SSR purposes to prefetch data
    if (context) context.output.cacheTags.add(`home`)
    Logger.info('Calling asyncData in Home Page (core)')()

    await Promise.all([
      store.dispatch('homepage/fetchNewCollection'),
      store.dispatch('promoted/updateHeadImage'),
      store.dispatch('promoted/updatePromotedOffers'),
      store.dispatch('banner/list', {})
    ])
  },
  beforeRouteEnter (to, from, next) {
    if (!isServer && !from.name) { // Loading products to cache on SSR render
      next(vm =>
        vm.$store.dispatch('homepage/fetchNewCollection').then(res => {
          vm.loading = false
        })
      )
    } else {
      next()
    }
  },
  metaInfo () {
    return {
      title: this.$route.meta.title || this.$i18n.t('Home Page'),
      meta: this.$route.meta.description ? [{ vmid: 'description', name: 'description', content: this.$route.meta.description }] : []
    }
  }
}
</script>

<style lang="scss">
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$oat: color(oat);
.new-collection {
  @media (max-width: 767px) {
    padding-top: 0;
  }
}
.favorite-bands-home {
  .favorite-brands {
    background-color: $oat;
    .favorite-brands-swiper {
      max-width: 100%;
      padding: 0;
      overflow: hidden;
      h3 {
        display: none;
      }
    }
  }
  .swiper-slide{
    width: 160px;
  }
}
.exclusive-to-jollyes,
.latest-treatments,
.best-for-dogs{
  @media (max-width: 767px) {
    .product-slider{
      .swiper-slide{
        max-width:182px;
      }
    }
    .swiper-arrows{
      padding-right:15px;
    }
    &.container{
      padding-right:0;
    }
  }
}

.perfect-pk{
  .row{
    margin-left: -25px;
    margin-right: -25px;
    > div{
      padding-left: 25px;
      padding-right: 25px;
    }
  }
  .block-title{
    h2{
      max-width: 270px;
    }
  }
  @media (min-width: 1380px) {
    .swiper-slide{
      width: 150px;
    }
  }
  @media only screen and (min-width: 768px) and (max-width: 1380px) {
    .swiper-slide{
      width: 120px;
    }
  }
  @media (max-width: 767px) {
    .row{
      margin-left: -15px;
      margin-right: -15px;
      > div{
        padding-left: 15px;
        padding-right: 15px;
      }
    }
    h4{
      font-size: 14px;
    }
    .category-swiper{
      .swiper-slide{
        a{
          span{
            margin-bottom: 10px;
          }
        }
      }
    }
    #perfect-puppy{
      margin-bottom: 20px;
    }
  }
}

.customer-best-deals{
  .row{
    margin-left: -25px;
    margin-right: -25px;
    > div{
      padding-left: 25px;
      padding-right: 25px;
    }
  }
  @media (min-width: 768px) {
    .swiper-slide{
      width: 240px;
    }
  }
  @media (max-width: 767px) {
    .swiper-slide{
      width: 182px;
    }
    .swiper-arrows{
      padding-right:15px;
    }
    .row{
      margin-left: -15px;
      margin-right: -15px;
      > div{
        padding-left: 15px;
        padding-right: 0;
      }
    }
    #customer-favourites{
      margin-bottom:20px;
    }
  }
}

</style>
