<template>
  <div id="product">
    <section class="product-top-section">
      <div class="container">
        <div class="row m0 breadcrumbs">
          <div class="col-xs-12">
            <breadcrumbs
              class="hidden-xs"
            />
          </div>
        </div>
        <div class="row m0 hidden-md">
          <div class="col-xs-12">
            <h2
              class="mb5 mt0 product-name" data-testid="productName"
            >
              {{ getCurrentProduct.name | htmlDecode }}
              <web-share
                :title="getCurrentProduct.name | htmlDecode"
                text="Check this product!"
                class="web-share"
              />
            </h2>
          </div>
        </div>
        <section class="row m0 mt10 mb20 between-xs ">
          <div class="col-xs-12 col-md-6 col-lg-5 center-xs middle-xs image">
            <no-ssr>
              <product-thumb-gallery
                :gallery="getProductGallery"
                :product-name="getCurrentProduct.name"
                @loaded="carouselLoaded = true"
              />
            </no-ssr>
          </div>
          <div class="col-xs-12 col-md-6 col-lg-7 data">
            <h1
              class="mb20 mt0 cl-mine-shaft product-name hidden-xs"
              data-testid="productName"
            >
              {{ getCurrentProduct.name | htmlDecode }}
              <web-share
                :title="getCurrentProduct.name | htmlDecode"
                text="Check this product!"
                class="web-share"
              />
            </h1>
            <!-- <div
              class="mb20 uppercase cl-secondary"
              :content="getCurrentProduct.sku"
            >
              {{ $t('SKU: {sku}', { sku: getCurrentProduct.sku }) }}
            </div> -->
            <div class="row product-details-price">
              <div class="col-xs-12 col-lg-6">
                <div class="product-reviews-summary short flex middle-sm hidden-xs">
                  <div class="rating-summary">
                    <span class="rating-result" style="width:100%" />
                  </div>
                  <span class="reviews-actions">{{ $t ('(1,000 reviews)') }}</span>
                </div>
                <special-offer />
                <div class="price-tag flex">
                  <p class="price-list actual">
                    {{ $t('Price') }}
                    <span>
                      <product-price
                        v-if="getCurrentProduct.type_id !== 'grouped'"
                        :product="getCurrentProduct"
                        :custom-options="getCurrentCustomOptions"
                      />
                    </span>
                  </p>
                  <p class="price-list last">
                    {{ $t('List price') }} <span>£399</span>
                  </p>
                  <p class="price-list save">
                    {{ $t('Save') }} <span>£100</span>
                  </p>
                </div>
                <div class="price-actual flex">
                  <span>
                    <product-price
                      v-if="getCurrentProduct.type_id !== 'grouped'"
                      :product="getCurrentProduct"
                      :custom-options="getCurrentCustomOptions"
                    />
                  </span>
                  <div class="price-sub">
                    <img src="assets/icons/icon-subscribe-red.png" alt="icon_subscribe">
                    <p class="p0">
                      {{ $t('Subscribe & save to get 5% off') }}
                      <span>
                        {{ $t('Select in cart for discount') }}
                      </span>
                    </p>
                  </div>
                </div>
                <div class="row">
                  <select-product-weight />
                </div>
              </div>
              <div class="col-xs-12 col-lg-5 col-lg-offset-1">
                <!-- <product-quantity
                  class="row m0 mb35"
                  v-if="getCurrentProduct.type_id !== 'grouped' && getCurrentProduct.type_id !== 'bundle'"
                  v-model="getCurrentProduct.qty"
                  :max-quantity="maxQuantity"
                  :loading="isStockInfoLoading"
                  :is-simple-or-configurable="isSimpleOrConfigurable"
                  :show-quantity="manageQuantity"
                  :check-max-quantity="manageQuantity"
                  @error="handleQuantityError"
                /> -->
                <div class="addtocart-quantity">
                  <quantity-box
                    v-model.number="getCurrentProduct.qty"
                    :aria-label="'Quantity'"
                    :has-label="true"
                    :custom-width="10"
                    class="product-quantity h5 cl-primary lh25 qty"
                    size="lg"
                  />
                  <add-to-cart
                    :product="getCurrentProduct"
                    :disabled="isAddToCartDisabled"
                    class="btn addtocart uppercase"
                  />
                </div>
                <div class="row m0 delivery-section">
                  <delivery-option />
                </div>
              </div>
            </div>
            <div>
              <div class="cl-primary variants" v-if="getCurrentProduct.type_id =='configurable'">
                <div
                  class="error"
                  v-if="getCurrentProduct.errors && Object.keys(getCurrentProduct.errors).length > 0"
                >
                  {{ getCurrentProduct.errors | formatProductMessages }}
                </div>
                <div class="h5" v-for="option in getProductOptions" :key="option.id">
                  <div class="variants-label" data-testid="variantsLabel">
                    {{ option.label }}
                    <span
                      class="weight-700"
                    >{{ getOptionLabel(option) }}</span>
                  </div>
                  <div class="row top-xs m0 pt15 pb40 variants-wrapper">
                    <div v-if="option.label == 'Color'">
                      <color-selector
                        v-for="filter in getAvailableFilters[option.attribute_code]"
                        :key="filter.id"
                        :variant="filter"
                        :selected-filters="getSelectedFilters"
                        @change="changeFilter"
                      />
                    </div>
                    <div class="sizes" v-else-if="option.label == 'Size'">
                      <size-selector
                        class="mr10 mb10"
                        v-for="filter in getAvailableFilters[option.attribute_code]"
                        :key="filter.id"
                        :variant="filter"
                        :selected-filters="getSelectedFilters"
                        @change="changeFilter"
                      />
                    </div>
                    <div :class="option.attribute_code" v-else>
                      <generic-selector
                        class="mr10 mb10"
                        v-for="filter in getAvailableFilters[option.attribute_code]"
                        :key="filter.id"
                        :variant="filter"
                        :selected-filters="getSelectedFilters"
                        @change="changeFilter"
                      />
                    </div>
                    <span
                      v-if="option.label == 'Size'"
                      @click="openSizeGuide"
                      class="p0 ml30 inline-flex middle-xs no-underline h5 action size-guide pointer cl-secondary"
                    >
                      <i class="pr5 material-icons">accessibility</i>
                      <span>{{ $t('Size guide') }}</span>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <product-links
              v-if="getCurrentProduct.type_id =='grouped'"
              :products="getCurrentProduct.product_links"
            />
            <product-bundle-options
              v-if="getCurrentProduct.bundle_options && getCurrentProduct.bundle_options.length > 0"
              :product="getCurrentProduct"
            />
            <product-custom-options
              v-else-if="getCurrentProduct.custom_options && getCurrentProduct.custom_options.length > 0"
              :product="getCurrentProduct"
            />
            <!-- <div class="row py40 add-to-buttons">
              <div class="col-xs-6 col-sm-3 col-md-6">
                <AddToWishlist :product="getCurrentProduct" />
              </div>
              <div class="col-xs-6 col-sm-3 col-md-6">
                <AddToCompare :product="getCurrentProduct" />
              </div>
            </div> -->
          </div>
        </section>
      </div>
    </section>
    <section class="product-details-tabs container p0">
      <div class="row m0">
        <div class="col-xs-12">
          <tabs class="product-details-tabs">
            <tab :title="$t('Product details')" class="row m0">
              <div class="product-detail-left col-lg-8 small-space" v-if="getCurrentProduct">
                <div class="product-desc mb30">
                  <h2>{{ getCurrentProduct.name }}</h2>
                  <div v-html="getCurrentProduct.description" />
                </div>
              </div>
            </tab>
            <tab :title="$t('Ingredients')" class="row m0">
              <div class="product-detail-left col-lg-8 small-space" v-if="getCurrentProduct">
                <div class="product-desc mb30">
                  <div v-html="getCurrentProduct.nutrition" />
                </div>
              </div>
            </tab>
            <tab :title="$t('Feeding guide')" class="row m0">
              <div class="product-detail-left col-lg-12 small-space" v-if="getCurrentProduct">
                <div class="product-desc mb15">
                  <div class="feeding-weight" v-html="getCurrentProduct.feedingguide" />
                </div>
              </div>
            </tab>
            <tab :title="$t('More from brand')">
              <div class="small-space container" v-if="dataPuppy">
                <product-listing-slider class="latest-treatments container small-space bg-cl-light-gray" :per-page-custom="[[200, ['auto', 10]], [768, [3, 15]], [992, [4, 40]], [1200, [5, 45]]]" :sect-itle="'More brand product'" :today-data="dataPuppy" :slider-id="'more-brand-product'" />
              </div>
            </tab>
            <tab :title="$t('Delivery & returns')">
              <div class="product-detail-left col-lg-12 small-space" v-if="deliveryData">
                <div class="product-desc mb15">
                  <h2>{{ deliveryData[0].label }}</h2>
                </div>
              </div>
            </tab>
          </tabs>
        </div>
      </div>
    </section>
    <!-- <section class="container px15 pt50 pb35 cl-accent details">
      <h2 class="h3 m0 mb10 serif lh20 details-title">
        {{ $t('Product details') }}
      </h2>
      <div class="h4 details-wrapper" :class="{'details-wrapper--open': detailsOpen}">
        <div class="row between-md m0">
          <div class="col-xs-12 col-sm-6">
            <div class="lh30 h5" v-html="getCurrentProduct.description" />
          </div>
          <div class="col-xs-12 col-sm-5">
            <ul class="attributes p0 pt5 m0">
              <product-attribute
                :key="attr.attribute_code"
                v-for="attr in getCustomAttributes"
                :product="getCurrentProduct"
                :attribute="attr"
                empty-placeholder="N/A"
              />
            </ul>
          </div>
          <div class="details-overlay" @click="showDetails" />
        </div>
      </div>
    </section> -->
    <related-products :type="getCurrentProduct.id" />
    <product-review />
    <lazy-hydrate when-idle>
      <reviews
        :product-name="getCurrentProduct.name"
        :product-id="getCurrentProduct.id"
        v-show="isOnline"
        :product="getCurrentProduct"
      />
    </lazy-hydrate>
  </div>
</template>

<script>
import i18n from '@vue-storefront/i18n'
import VueOfflineMixin from 'vue-offline/mixin'
import config from 'config'
import RelatedProducts from 'theme/components/core/blocks/Product/Related.vue'
import Reviews from 'theme/components/core/blocks/Reviews/Reviews.vue'
import AddToCart from 'theme/components/core/AddToCart.vue'
import GenericSelector from 'theme/components/core/GenericSelector'
import ColorSelector from 'theme/components/core/ColorSelector.vue'
import SizeSelector from 'theme/components/core/SizeSelector.vue'
import Breadcrumbs from 'theme/components/core/Breadcrumbs.vue'
import ProductAttribute from 'theme/components/core/ProductAttribute.vue'
import ProductQuantity from 'theme/components/core/ProductQuantity.vue'
import QuantityBox from 'theme/components/core/QuantityBox.vue'
import ProductLinks from 'theme/components/core/ProductLinks.vue'
import ProductCustomOptions from 'theme/components/core/ProductCustomOptions.vue'
import ProductBundleOptions from 'theme/components/core/ProductBundleOptions.vue'
import ProductGallery from 'theme/components/core/ProductGallery'
import Spinner from 'theme/components/core/Spinner'
import PromotedOffers from 'theme/components/theme/blocks/PromotedOffers/PromotedOffers'
import focusClean from 'theme/components/theme/directives/focusClean'
import WebShare from 'theme/components/theme/WebShare'
import BaseInputNumber from 'theme/components/core/blocks/Form/BaseInputNumber'
import SizeGuide from 'theme/components/core/blocks/Product/SizeGuide'
import AddToWishlist from 'theme/components/core/blocks/Wishlist/AddToWishlist'
import AddToCompare from 'theme/components/core/blocks/Compare/AddToCompare'
import { mapGetters } from 'vuex'
import LazyHydrate from 'vue-lazy-hydration'
import { ProductOption } from '@vue-storefront/core/modules/catalog/components/ProductOption.ts'
import { getAvailableFiltersByProduct, getSelectedFiltersByProduct } from '@vue-storefront/core/modules/catalog/helpers/filters'
import { isOptionAvailableAsync } from '@vue-storefront/core/modules/catalog/helpers/index'
import { localizedRoute, currentStoreView } from '@vue-storefront/core/lib/multistore'
import { htmlDecode } from '@vue-storefront/core/filters'
import { ReviewModule } from '@vue-storefront/core/modules/review'
import { RecentlyViewedModule } from '@vue-storefront/core/modules/recently-viewed'
import { registerModule, isModuleRegistered } from '@vue-storefront/core/lib/modules'
import { onlineHelper, isServer, productJsonLd } from '@vue-storefront/core/helpers'
import { catalogHooksExecutors } from '@vue-storefront/core/modules/catalog-next/hooks'
import ProductPrice from 'theme/components/core/ProductPrice'
import { doPlatformPricesSync } from '@vue-storefront/core/modules/catalog/helpers'
import { filterChangedProduct } from '@vue-storefront/core/modules/catalog/events'
import SpecialOffer from 'theme/components/core/blocks/Offers/SpecialOffer'
import SelectProductWeight from 'theme/components/core/SelectProductWeight.vue'
import DeliveryOption from '../components/core/DeliveryOption.vue'
import ProductReview from '../components/theme/blocks/Reviews/ProductReview'
import tabs from 'theme/components/theme/Tabs.vue'
import tab from 'theme/components/theme/Tab.vue'
import ProductThumbGallery from 'theme/components/core/ProductThumbGallery'
import NoSSR from 'vue-no-ssr'
import { prepareQuery } from '@vue-storefront/core/modules/catalog/queries/common'
import ProductListingSlider from 'theme/components/core/blocks/Category/ProductListingSlider'

export default {
  components: {
    AddToCart,
    // AddToCompare,
    // AddToWishlist,
    Breadcrumbs,
    ColorSelector,
    GenericSelector,
    // ProductAttribute,
    ProductBundleOptions,
    ProductCustomOptions,
    // ProductGallery,
    ProductLinks,
    // PromotedOffers,
    RelatedProducts,
    Reviews,
    SizeSelector,
    WebShare,
    // SizeGuide,
    LazyHydrate,
    // ProductQuantity,
    ProductPrice,
    SpecialOffer,
    QuantityBox,
    SelectProductWeight,
    DeliveryOption,
    ProductReview,
    tabs,
    tab,
    ProductThumbGallery,
    ProductListingSlider,
    'no-ssr': NoSSR
  },
  mixins: [ProductOption],
  directives: { focusClean },
  beforeCreate () {
    registerModule(ReviewModule)
    registerModule(RecentlyViewedModule)
  },
  data () {
    return {
      productData: [],
      dataPuppy: [],
      deliveryData: [],
      detailsOpen: false,
      maxQuantity: 0,
      quantityError: false,
      isStockInfoLoading: false,
      hasAttributesLoaded: false,
      manageQuantity: true,
      activeAcordian: null
    }
  },
  computed: {
    ...mapGetters({
      getCurrentCategory: 'category-next/getCurrentCategory',
      getCurrentProduct: 'product/getCurrentProduct',
      getProductGallery: 'product/getProductGallery',
      getCurrentProductConfiguration: 'product/getCurrentProductConfiguration',
      attributesByCode: 'attribute/attributeListByCode',
      getCurrentCustomOptions: 'product/getCurrentCustomOptions',
      getAttributeListByCode: 'attribute/getAttributeListByCode'
    }),
    getOptionLabel () {
      return (option) => {
        const configName = option.attribute_code ? option.attribute_code : option.label.toLowerCase()
        return this.getCurrentProductConfiguration[configName] ? this.getCurrentProductConfiguration[configName].label : configName
      }
    },
    isOnline (value) {
      return onlineHelper.isOnline
    },
    getProductOptions () {
      if (
        this.getCurrentProduct.errors &&
        Object.keys(this.getCurrentProduct.errors).length &&
        Object.keys(this.getCurrentProductConfiguration).length
      ) {
        return []
      }
      return this.getCurrentProduct.configurable_options
    },
    getOfflineImage () {
      return {
        src: this.getThumbnail(this.getCurrentProduct.image, config.products.thumbnails.width, config.products.thumbnails.height),
        error: this.getThumbnail(this.getCurrentProduct.image, config.products.thumbnails.width, config.products.thumbnails.height),
        loading: this.getThumbnail(this.getCurrentProduct.image, config.products.thumbnails.width, config.products.thumbnails.height)
      }
    },
    getCustomAttributes () {
      return Object.values(this.attributesByCode || [])
        .filter(
          a => a.is_visible && a.is_user_defined && (parseInt(a.is_visible_on_front) || a.is_visible_on_front === true) && this.getCurrentProduct[a.attribute_code]
        )
        .sort((a, b) => { return a.attribute_id > b.attribute_id })
    },
    getAvailableFilters () {
      return getAvailableFiltersByProduct(this.getCurrentProduct)
    },
    getSelectedFilters () {
      return getSelectedFiltersByProduct(this.getCurrentProduct, this.getCurrentProductConfiguration)
    },
    isSimpleOrConfigurable () {
      return ['simple', 'configurable'].includes(this.getCurrentProduct.type_id)
    },
    isAddToCartDisabled () {
      if (this.quantityError || this.isStockInfoLoading) {
        return false
      }

      return this.isOnline && !this.maxQuantity && this.manageQuantity && this.isSimpleOrConfigurable
    },
    storeView () {
      return currentStoreView()
    },
    getJsonLd () {
      return productJsonLd(this.getCurrentProduct, this.getCurrentProductConfiguration.color && this.getCurrentProductConfiguration.color.label, this.$store.state.storeView.i18n.currencyCode, this.getCustomAttributes)
    }
  },
  async mounted () {
    await this.$store.dispatch('recently-viewed/addItem', this.getCurrentProduct)

    let featuredQuery = prepareQuery({ filters: [{ 'key': 'brands', 'value': { 'eq': this.getCurrentProduct.brands } }] });
    const featuredQueryResult = await this.$store.dispatch('product/list', {
      query: featuredQuery,
      size: 8
    });
    const brandData =
    featuredQueryResult.items.length > 0 ? featuredQueryResult.items : [];
    this.dataPuppy = brandData.filter(item => item.id !== this.getCurrentProduct.id)
    this.deliveryData = this.getAttributeListByCode.delivery_type &&
    this.getAttributeListByCode.delivery_type.options.filter(item => item.value === this.getCurrentProduct.delivery_type)
  },
  async asyncData ({ store, route, context }) {
    if (context) context.output.cacheTags.add('product')
    const product = await store.dispatch('product/loadProduct', { parentSku: route.params.parentSku, childSku: route && route.params && route.params.childSku ? route.params.childSku : null })
    const loadBreadcrumbsPromise = store.dispatch('product/loadProductBreadcrumbs', { product })
    if (isServer) await loadBreadcrumbsPromise
    catalogHooksExecutors.productPageVisited(product)
  },
  beforeRouteEnter (to, from, next) {
    if (isServer) {
      next()
    } else {
      next((vm) => {
        vm.getQuantity()
      })
    }
  },
  watch: {
    isOnline: {
      handler (isOnline) {
        if (isOnline) {
          this.getQuantity()
        }
      }
    }
  },
  methods: {
    showDetails (event) {
      this.detailsOpen = true
      event.target.classList.add('hidden')
    },
    notifyOutStock () {
      this.$store.dispatch('notification/spawnNotification', {
        type: 'error',
        message: this.$t(
          'The product is out of stock and cannot be added to the cart!'
        ),
        action1: { label: this.$t('OK') }
      })
    },
    notifyWrongAttributes () {
      this.$store.dispatch('notification/spawnNotification', {
        type: 'warning',
        message: this.$t(
          'No such configuration for the product. Please do choose another combination of attributes.'
        ),
        action1: { label: this.$t('OK') }
      })
    },
    async changeFilter (variant) {
      const selectedConfiguration = Object.assign({ attribute_code: variant.type }, variant)
      await filterChangedProduct(selectedConfiguration, this.$store, this.$router)
      this.getQuantity()
    },
    openSizeGuide () {
      this.$bus.$emit('modal-show', 'modal-sizeguide')
    },
    isOptionAvailable (option) { // check if the option is available
      const currentConfig = Object.assign({}, this.getCurrentProductConfiguration)
      currentConfig[option.type] = option
      return isOptionAvailableAsync(this.$store, { product: this.getCurrentProduct, configuration: currentConfig })
    },
    async getQuantity () {
      if (this.isStockInfoLoading) return // stock info is already loading
      this.isStockInfoLoading = true
      try {
        if (config.products.alwaysSyncPricesClientSide) {
          doPlatformPricesSync([this.getCurrentProduct]);
        }
        const res = await this.$store.dispatch('stock/check', {
          product: this.getCurrentProduct,
          qty: this.getCurrentProduct.qty
        })

        this.manageQuantity = res.isManageStock
        this.maxQuantity = res.isManageStock ? res.qty : null
      } finally {
        this.isStockInfoLoading = false
      }
    },
    handleQuantityError (error) {
      this.quantityError = error
    }
  },
  metaInfo () {
    const storeView = currentStoreView()
    return {
      /* link: [
        { rel: 'amphtml',
          href: this.$router.resolve(localizedRoute({
            name: this.getCurrentProduct.type_id + '-product-amp',
            params: {
              parentSku: this.getCurrentProduct.parentSku ? this.getCurrentProduct.parentSku : this.getCurrentProduct.sku,
              slug: this.getCurrentProduct.slug,
              childSku: this.getCurrentProduct.sku
            }
          }, storeView.storeCode)).href
        }
      ], */
      title: htmlDecode(this.getCurrentProduct.meta_title || this.getCurrentProduct.name),
      meta: this.getCurrentProduct.meta_description ? [{ vmid: 'description', name: 'description', content: htmlDecode(this.getCurrentProduct.meta_description) }] : []
    }
  }
}
</script>

<style lang="scss">
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$white: color(white);
$bg-secondary: color(secondary, $colors-background);
$black: color(black);
$gray-979797: color(gray-979797);
$light-gray: color(light-gray);
$oat: color(oat);
$red-f14e46: color(red-f14e46);
$red: color(red);

.product {
  &__add-to-compare {
    display: none;
    @media (min-width: 767px) {
      display: block;
    }
  }
}

.breadcrumbs {
  @media (max-width: 767px) {
    margin: 15px 0;
    padding: 20px 0 0;
  }
}
label {
  margin: 5px 0 10px;
  font-size: 14px;
  display: block;
}
.product-name {
    font-size: 21px;
    color: $black;
}
.product-details-price {
  .delivery-option {
    .delivery-box {
      margin-top: 15px;
      display: block;
      .delivery-item {
        width: 100%;
        h2 {
          span {
            font-size: 13px;
          }
        }
      }
    }
  }
  .product-reviews-summary {
    padding: 10px 0;
    @media (min-width: 768px) {
      display: flex;
    }
    &.short{
      .rating-summary{
        background: url(/assets/icons/star.png);
        width: 100px;
        height: 20px;
        .rating-result{
          background: url(/assets/icons/star-active.png);
          display: block;
          height: 20px;
        }
      }
      .reviews-actions{
        font-size: 14px;
        line-height: 1.2;
        margin-left: 5px;
      }
    }
  }
}
.product-details-price {
  .special-offer {
    padding: 7px 15px;
    font-size: 16px;
    border-width: 1px;
    margin-bottom: 15px;
  }
}
.price-tag {
  margin-bottom: 15px;
  border-bottom: 1px solid $gray-979797;
  .price-list {
    font-size: 14px;
    color:$gray-979797;
    min-width: 100px;
    span {
      font-size: 21px;
      color: $black;
      display: block;
      font-weight: bold;
    }
    &:not(:last-child) {
      border-right: 1px solid $gray-979797;
      padding: 0 20px 0 0;
      margin: 0 20px 15px 0;
    }
    &.last {
      span {
        color: $gray-979797;
      }
    }
  }
}
.price-actual {
    align-items: center;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid $gray-979797;
    > span {
      font-size: 21px;
      font-weight: bold;
    }
    .price-sub {
      display: flex;
      align-items: center;
      margin-left: 15px;
      p {
        font-size: 14px;
        margin-left: 10px;
        span {
          display: block;
          color: $gray-979797;
          font-size: 13px;
          margin-top: 3px
        }
      }
    }
}

.btn {
  &.addtocart {
    padding: 10px 15px;
    font-weight: 600;
    font-size: 14px;
    width: 100%;
  }
  &:hover {
    background-color: $red-f14e46;
    opacity: 1;
  }
}

.error {
  color: $red;
  font-weight: bold;
  padding-bottom: 15px;
}

.data {
  @media (max-width: 767px) {
    border-bottom: 1px solid $bg-secondary;
  }
}

.image {
  @media (max-width: 1023px) {
    margin-bottom: 20px;
  }
}

.product-name {
  @media (max-width: 767px) {
    font-size: 18px;
  }
}

.variants-label {
  @media (max-width: 767px) {
    font-size: 14px;
  }
}

.variants-wrapper {
  @media (max-width: 767px) {
    padding-bottom: 30px;
  }

  .sizes {
    @media (max-width: 767px) {
      width: 100%;
    }
  }

  .size-guide {
    height: 40px;
    @media (max-width: 767px) {
      width: 100%;
      margin-left: 0;
    }
  }
}

.product-top-section {
  .container {
    padding-left: 0;
    padding-right: 0;
  }
  @media (max-width: 767px) {
    padding: 0;
    background-color: $white;
  }
}

.add-to-buttons {
  @media (max-width: 767px) {
    padding-top: 30px;
    margin-bottom: 40px;
  }
}

.details {
  @media (max-width: 767px) {
    padding: 50px 15px 15px;
  }
}

.details-title {
  padding: 0 8px;

  @media (max-width: 767px) {
    font-size: 18px;
    margin: 0;
  }
}

.details-wrapper {
  @media (max-width: 767px) {
    position: relative;
    max-height: 140px;
    overflow: hidden;
    transition: all 0.3s ease;
    font-size: 14px;
  }

  &--open {
    max-height: none;
  }
}

.details-overlay {
  @media (max-width: 767px) {
    position: absolute;
    height: 75%;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0;
    cursor: pointer;
    background: linear-gradient(rgba($white, 0), rgba($white, 1));
    &.hidden {
      display: none;
    }
  }
}

.attributes {
  list-style-type: none;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s;
}

.fade-enter,
.fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.product-image {
  mix-blend-mode: multiply;
  width: 460px;
}

.web-share {
  float: right;
}
.feeding-weight {
  span {
    border: 1px solid $oat;
    padding: 1px;
  }
}
.table-details {
  table {
    border-collapse: collapse;
    thead {
      tr {
        background-color: $light-gray;
        th {
          padding: 10px 20px;
          font-size: 16px;
          text-align: left;
        }
      }
    }
    tbody {
      tr {
          border-bottom: 1px solid $gray-979797;
        td {
          font-size: 16px;
          font-weight: bold;
          padding: 10px 15px;
          background: $white;
          &:first-child {
            color: $gray-979797;
            width: 250px;
            font-weight: normal;
            @media (max-width: 767px) {
              width: 180px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .product-details-price {
     > div {
      width: 100%;
      max-width: 100%;
      flex-basis: 100%;
      margin-left: 0;
    }
  }
}
@media (max-width: 992px) {
  .addtocart-quantity {
    display: flex;
    align-items: flex-end;
    .product-quantity {
      width: 48%;
      margin-right: 2%;
      .qty-element {
        margin-bottom: 0;
      }
    }
    .btn.addtocart {
      width: 48%;
      margin-left: 2%;
      margin-top: 2%;
    }
  }
}
.product-details-tabs {
  .tabs__header {
    padding: 0 6.5%;
    position: relative;
    &:after {
      content: "";
      position: absolute;
      background: $gray-979797;
      bottom: 0;
      height: 1px;
      width: 100%;
      left: 0;
      right: 0;
      z-index: -1;
    }
    li {
      padding: 30px 5px;
      width: 20%;
      text-align: center;
      cursor: pointer;
      color: $black;
      border: 1px solid $gray-979797;
      border-right-color: transparent;
      background-color: $light-gray;
      &.tab__selected {
        background-color: $white;
        border: 1px solid $gray-979797;
        border-bottom-color: $white;
        border-right: 1px solid transparent;
        z-index: 1;
      }
      &:last-child {
        border-right: 1px solid $gray-979797;
      }
    }
  }
  .product-detail-left {
    h2 {
      font-size: 21px;
      font-weight: bold;
      color: $black;
      margin-bottom: 15px;
    }
    p {
      color: $black;
      line-height: 1.5;
    }
    ul {
      li {
        color: $black;
        font-size: 16px;
        margin: 15px 0;
        position: relative;
        padding-left: 20px;
        &:after {
          content: "";
          position: absolute;
          border-radius: 50%;
          background: $red;
          height: 7px;
          width: 7px;
          left: 0;
          top: 5px;
        }
      }
    }
}
.product-detail-right {
  background-color:$light-gray;
  padding: 20px 30px;
  ul {
    li {
      border-top: 1px solid $gray-979797;
      padding: 25px 0;
      display: flex;
      justify-content: start;
      font-weight: bold;
      color: $black;
      font-size: 16px;
      span {
        min-width: 200px;
        display: inline-block;
        vertical-align: top;
        color: $gray-979797;
      }
    }
    .notes {
      p {
        font-size: 14px;
        color: $gray-979797;
      }
    }
  }
  .notes {
    font-size: 14px;
    color: $gray-979797;
  }
}
.product-details-tabs-content {
  display: none;
  &.active {
    display: block;
  }
}
}

.product-details-tabs {
  @media (max-width: 1024px) {
    .product-detail-right {
      padding: 15px 20px;
      ul {
        li {
          padding: 15px 0;
          font-size: 14px;
          span {
            min-width: 150px;
          }
        }
      }
    }
  }
  @media (max-width: 768px) {
    padding: 0;
    .product-desc {
      margin-bottom: 15px;
    }
    .product-detail-right {
      width: 100%;
      padding: 25px 15px;
      ul {
        li {
          font-size: 16px;
        }
      }
    }
    .tab {
      padding: 0 15px;
      h2 {
        margin-bottom: 15px;
        font-size: 18px;
      }
    }
    .tabs__header {
      padding: 0 15px;
      overflow-y: auto;
      flex-wrap: nowrap;
      li {
        min-width: 160px;
        padding: 20px 5px;
        border-top: none;
        &.tab__selected {
          border-top: none;
        }
      }
    }
  }
}
</style>
