<template>
  <div class="store-detail">
    <div class="container bg-cl-light-gray">
      <button class="back-btn">
        <span class="arrow" />
        {{ $t('Back') }}
      </button>
      <div class="store-head relative flex middle-xl">
        <span class="round-img small">
          <img src="/assets/sl-store-img.png" alt="Store image">
        </span>
        <div class="store-address">
          <h2>
            {{ $t('Ellesmere Port') }}
          </h2>
          <p>
            {{ $t('The Port Arcades Shopping Centre, Ellesmere Port, Cheshire, CH65 0AP') }}
          </p>
        </div>
        <div class="make-local-store">
          <span>
            {{ $t('Your local store') }}
          </span>
          <label class="on-off-btn">
            <input type="checkbox">
            <span class="checkmark" />
          </label>
        </div>
      </div>
      <div class="store-block1 flex" v-for="(storeItem, index) in storeContactInfo" :key="index">
        <div class="hours border-box">
          <h4>
            {{ $t(storeItem.hours) }}
          </h4>
          <ul class="open-time-list">
            <li v-for="(storeOpenTime, indx) in storeItem.weekly_time_list" :key="indx">
              <span>
                {{ storeOpenTime.title }}
              </span>
              {{ storeOpenTime.time }}
            </li>
          </ul>
        </div>
        <div class="contact border-box">
          <h4>
            {{ storeItem.contact }}
          </h4>
          <ul class="contact-info">
            <li v-for="(contactInfo, indx) in storeItem.contact_info" :key="indx">
              <router-link :to="contactInfo.link">
                <img :src="contactInfo.icon" :alt="contactInfo.info">
                <span>
                  {{ contactInfo.info }}
                </span>
              </router-link>
            </li>
          </ul>
          <h4>
            {{ storeItem.social }}
          </h4>
          <ul class="social-media">
            <li v-for="(socialMedia, indx) in storeItem.social_media" :key="indx">
              <router-link :to="socialMedia.link">
                <img :src="socialMedia.icon" :alt="socialMedia.name">
              </router-link>
            </li>
          </ul>
        </div>
        <div class="map">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3720.2666940605236!2d72.82048031534738!3d21.181561987919146!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be04efd6c49be93%3A0xf7f61d1fcb814eb6!2sAureate%20Labs!5e0!3m2!1sen!2sin!4v1609995871067!5m2!1sen!2sin" width="700" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0" />
        </div>
      </div>
      <div class="store-information">
        <h2 class="small-space">
          {{ $t('Store Information') }}
        </h2>
        <div class="service-info">
          <div class="border-box" v-for="(serviceInfo, index) in serviceInformation" :key="index">
            <h3>
              {{ $t(serviceInfo.name) }}
            </h3>
            <ul class="flex">
              <li v-for="(serviceItem, indx) in serviceInfo.service_list" :key="indx">
                <span class="round-img">
                  <img :src="serviceItem.image" :alt="serviceItem.title">
                </span>
                <h4>
                  {{ serviceItem.title }}
                </h4>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="special-hours-services">
        <h2 class="small-space">
          {{ $t('Services with Special Hours') }}
        </h2>
        <div class="special-services">
          <div class="services-block" v-for="(services, index) in specialServices" :key="index">
            <div class="services-acc border-box" :class="['accordion-'+index]" :ref="'accordion-'+index">
              <h3 class="accordion-header flex middle-xs" @click="toggleAccordion(index)">
                <span class="round-img small">
                  <img :src="services.image" :alt="services.name">
                </span>
                {{ services.name }}
              </h3>
              <div class="accordion-body">
                <div class="flex opening-hours" v-for="(openingHours, indx) in services.opening_hours" :key="indx">
                  <span>
                    <img :src="openingHours.image" :alt="openingHours.name">
                  </span>
                  <div class="hours-list">
                    <h4>
                      {{ $t(openingHours.title) }}
                    </h4>
                    <ul>
                      <li v-for="(timeList, time) in openingHours.weekly_time_list" :key="time">
                        <span>
                          {{ timeList.title }}
                        </span>
                        {{ timeList.time }}
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="services-offered" v-for="(servicesOffered, indx) in services.services_offered" :key="indx">
                  <h4>{{ servicesOffered.title }}</h4>
                  <ul class="flex">
                    <li class="round-img" v-for="(offeredList, offer) in servicesOffered.offered_list" :key="offer">
                      <img :src="offeredList.image" :alt="offeredList.name">
                    </li>
                  </ul>
                  <p>
                    {{ servicesOffered.description }}
                  </p>
                  <router-link :to="servicesOffered.button_link" class="btn black">
                    {{ servicesOffered.button_text }}
                  </router-link>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <store-photo-gallery class="small-space" :secTitle="'Store images'" :slider-id="'store-photo-gallery'" :per-page-custom="[[200, ['auto', 20]]]" />
      <store-events />
      <jollyes-team class="small-space" :secTitle="'Meet the Jollyes Ellesmere Port team'" :slider-id="'jollyes-team'" :per-page-custom="[[200, [2, 10]], [576, [3, 15]], [992, [4, 20]], [1200, [6, 20]]]" />
    </div>
  </div>
</template>

<script>
import footerNavigation from 'theme/resource/footer-navigation.json'
import storeContactInfo from 'theme/resource/store-contact-info.json'
import serviceInformation from 'theme/resource/service-information.json'
import specialServices from 'theme/resource/special-services.json'
import StorePhotoGallery from 'theme/components/theme/blocks/Store/StorePhotoGallery'
import StoreEvents from 'theme/components/theme/blocks/Store/StoreEvents'
import JollyesTeam from 'theme/components/theme/blocks/Store/JollyesTeam'
export default {
  data () {
    return {
      footerNavigation: footerNavigation,
      storeContactInfo: storeContactInfo,
      serviceInformation: serviceInformation,
      specialServices: specialServices
    }
  },
  components: {
    StorePhotoGallery,
    StoreEvents,
    JollyesTeam
  },
  mounted () {
    this.toggleAccordionOnMount();
    window.addEventListener('resize', this.toggleAccordionOnResize);
  },
  destroyed () {
    window.removeEventListener('resize', this.toggleAccordionOnResize);
  },
  methods: {
    toggleAccordion (index) {
      this.$refs['accordion-' + index][0].classList.toggle('is-open');
    },
    toggleAccordionOnResize () {
      if (screen.width > 991) {
        Object.values(this.$el.getElementsByClassName('services-acc')).forEach((accord) => {
          accord.classList.add('is-open');
        });
      } else {
        Object.values(this.$el.getElementsByClassName('services-acc')).forEach((accord) => {
          accord.classList.remove('is-open');
        });
      }
    },
    toggleAccordionOnMount () {
      Object.values(this.$el.getElementsByClassName('services-acc')).forEach((accord) => {
        accord.classList.remove('is-open');
      });
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$light-gray: color(light-gray);
$oat: color(oat);
$white: color(white);
$black: color(black);
$red: color(red);
$gray-cccccc: color(gray-cccccc);
$gray-c2c2c2: color(gray-c2c2c2);
$gray-8b8b8b: color(gray-8b8b8b);
.round-img{
  overflow: hidden;
  border-radius: 100%;
  border: solid 6px $red;
  width: 100px;
  height: 100px;
  padding: 15px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  &.small{
    width: 65px;
    height: 65px;
    border-width: 4px;
    padding: 0;
  }
  img{
    max-width: 100%;
    max-height: 100%;
  }
}
.back-btn{
  background: transparent;
  border: 0;
  font-size: 16px;
  display: flex;
  align-items: center;
  padding: 25px 0;
  span{
    transform: rotate(225deg);
    margin-right: 15px;
  }
}
.store-head{
  padding-right: 180px;
  span{
    margin-right: 30px;
  }
  h2{
    margin-bottom: 5px;
  }
  p{
    padding: 0;
  }
  .make-local-store{
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;
    bottom: 5px;
    span{
      margin-right: 10px;
    }
  }
  @media (max-width: 1199px) {
    padding: 0 0 0 80px;
    min-height: 65px;
    > span{
      position: absolute;
      left: 0;
    }
    .make-local-store{
      bottom: inherit;
      top: -42px;
    }
  }
}
.store-block1{
  padding: 20px 0 0 0;
  h4{
    margin-bottom: 20px;
  }
  .hours{
    padding-left: 5%;
    padding-right: 5%;
    width: 25%;
    ul{
      li{
        font-size: 14px;
        line-height: 1.1;
        padding: 0 0 15px;
        &:last-child{
          padding-bottom: 0;
        }
        span{
          color: $gray-8b8b8b;
          display: inline-block;
          min-width: 65px;
        }
      }
    }
  }
  .contact{
    padding-left: 5%;
    padding-right: 5%;
    width: 25%;
    .contact-info{
      padding-bottom: 5px;
      li{
        padding: 0 0 15px;
        a{
          display: flex;
          align-items: center;
          font-size: 14px;
          img{
            margin-right: 20px;
          }
        }
      }
    }
    .social-media{
      display: flex;
      li{
        margin-right: 10px;
      }
    }
  }
  .map{
    width: 50%;
    border: 1px solid $oat;
    overflow: hidden;
    iframe{
      width: 100%;
      display: block;
    }
  }
  @media (max-width: 1380px) {
    .hours,
    .contact{
      padding-left: 3%;
      padding-right: 3%;
    }
  }
  @media (max-width: 1199px) {
    flex-wrap: wrap;
    h4{
      font-size: 16px;
    }
    .hours{
      margin-right: 2%;
    }
    .hours,
    .contact{
      padding: 20px;
      width: 49%;
    }
    .map{
      width: 100%;
      margin-top: 20px;
    }
  }
  @media (max-width: 767px) {
    .hours,
    .contact{
      width: 100%;
      margin: 0 0 20px;
    }
    .map{
      margin-top: 0;
    }
  }
}
.store-information{
  .service-info{
    ul{
      li{
        text-align: center;
        padding-right: 45px;
        padding-top: 20px;
        h4{
          padding-top: 15px;
        }
      }
    }
  }
  @media (max-width: 1199px) {
    .service-info{
      ul{
        flex-wrap: wrap;
        li{
          padding: 15px 10px;
        }
      }
    }
  }
  @media (max-width: 767px) {
    .service-info{
      .border-box{
        margin-bottom: 20px;
        &:last-child{
          margin-bottom: 0px;
        }
      }
      h3{
        font-size: 16px;
      }
      ul{
        li{
          h4{
            font-size: 14px;
          }
        }
      }
    }
  }
  @media (max-width: 576px) {
    .service-info{
      ul{
        margin-left: -10px;
        margin-right: -10px;
        li{
          width: 33.333333%;
          padding: 15px 10px;
        }
      }
    }
  }
}
.special-services{
  .services-block{
    .services-acc{
      h3{
        position: relative;
        cursor: pointer;
        span{
          margin-right: 20px;
          padding: 10px;
        }
        &:after{
          content: '';
          position: absolute;
          border-top: solid 2px $black;
          border-right: solid 2px $black;
          width: 10px;
          height: 10px;
          display: inline-flex;
          transform: rotate(135deg);
          right: 5px;
          top: 50%;
          margin-top: -6px;
        }
      }
      .accordion-body{
        display: none;
        padding: 20px 0 0 0;
        > div{
          width: 50%;
        }
        h4{
          margin-bottom: 25px;
        }
        .opening-hours{
          > span{
            max-width: 395px;
            img{
              max-width: 100%;
            }
          }
          .hours-list{
            padding-left: 60px;
            ul{
              li{
                padding: 0 0 10px;
                span{
                  font-size: 16px;
                  display: inline-flex;
                  min-width: 60px;
                }
                &:last-child{
                  padding-bottom: 0px;
                }
              }
            }
          }
        }
        .services-offered{
          padding: 0 0 0 35px;
          ul{
            padding-bottom: 20px;
            li{
              margin: 0 20px 0 0;
            }
          }
        }
      }
      &.is-open{
        .accordion-body{
          display: flex;
        }
        h3:after{
          transform: rotate(-45deg);
        }
      }
    }
  }
  @media (max-width: 1380px) {
    .services-block{
      .services-acc{
        .accordion-body{
          flex-wrap:wrap;
          .opening-hours{
            > span{
              max-width: 320px;
            }
            .hours-list{
              padding-left: 15px;
              h4{
                margin-bottom: 15px;
              }
            }
          }
          .services-offered{
            padding: 0;
          }
        }
      }
    }
  }
  @media (max-width: 1190px) {
    .services-block{
      .services-acc{
        .accordion-body{
          .opening-hours{
            width: 100%;
            > span{
              width: 65%;
              max-width: 65%;
              img{
                width: 100%;
                display: block;
              }
            }
            .hours-list{
              width: 35%;
              padding-left: 25px;
            }
          }
          .services-offered{
            width: 100%;
            padding: 20px 0 0;
          }
        }
      }
    }
  }
  @media (max-width: 767px) {
    .services-block{
      .services-acc{
        h3{
          font-size: 16px;
        }
        .accordion-body{
          h4{
            font-size: 16px;
          }
          .opening-hours{
            flex-wrap: wrap;
            > span{
              width: 100%;
              max-width: 520px;
            }
            .hours-list{
              width: 100%;
              padding:20px 0 0 0;
            }
          }
          .services-offered{
            width: 100%;
            padding: 20px 0 0;
            h4{
              margin-bottom: 15px;
            }
            ul{
              margin: 0 -7px;
              li{
                margin: 0 7px;
                width: 75px;
                height: 75px;
              }
            }
          }
        }
      }
    }
  }
}
</style>
<style lang="scss">
#store-photo-gallery{
  .store-swiper{
    margin-right:-25px;
    .swiper-slide{
      max-width:150px;
    }
    @media (max-width: 767px) {
      margin-right: -15px;
    }
  }
}
</style>
