<template>
  <div>
    <div class="find-store">
      <div class="container align-center">
        <h2>
          {{ $t('Find a Store') }}
        </h2>
        <div class="locator-form flex middle-xs center-xs">
          <input type="text" class="form-control" name="" value="" :placeholder="$t('Enter Town or Postcode')">
          <span>
            {{ $t('or') }}
          </span>
          <select class="select" v-model="selected">
            <option v-for="(option, index) in options" v-bind:value="option.value" :key="index">
              {{ option.text }}
            </option>
          </select>
        </div>
      </div>
    </div>
    <div class="container all-store-info">
      <div class="store-list flex">
        <div class="store-block" v-for="(storeItem, index) in storeList" :key="index">
          <div class="store-information">
            <div class="flex middle-xs store-info-head">
              <img :src="storeItem.image" alt="">
              <div>
                <h3>
                  {{ storeItem.name }}
                </h3>
                <span class="flex middle-xs" v-for="(storeCloseTime, indx) in storeItem.store_close_time" :key="indx">
                  <img :src="storeCloseTime.image" alt="">
                  <strong>
                    {{ storeCloseTime.title }}
                  </strong>
                  ({{ storeCloseTime.time }})
                </span>
              </div>
            </div>
            <p class="gotham">
              {{ storeItem.address }}
            </p>
            <div class="flex store-contact-info gotham">
              <div class="open-time-list">
                <ul>
                  <li v-for="(storeOpenTime, indx) in storeItem.weekly_time_list" :key="indx">
                    <span>
                      {{ storeOpenTime.title }}
                    </span>
                    {{ storeOpenTime.time }}
                  </li>
                </ul>
              </div>
              <div class="contact-info">
                <ul>
                  <li v-for="(contactInfo, indx) in storeItem.contact_info" :key="indx">
                    <router-link :to="contactInfo.link">
                      <img :src="contactInfo.icon" alt="">
                      <span>
                        {{ contactInfo.info }}
                      </span>
                    </router-link>
                  </li>
                </ul>
              </div>
            </div>
            <div class="flex between-xs btn-box" v-for="(button, indx) in storeItem.store_links" :key="indx">
              <router-link class="btn black" :to="button.name1_link">
                {{ button.name1 }}
              </router-link>
              <router-link class="btn flex middle-xs" :to="button.name2_link">
                <img :src="button.name2_icon" alt="">
                <span>
                  {{ button.name2 }}
                </span>
              </router-link>
            </div>
          </div>
        </div>
      </div>
    </div>
    <pagination />
  </div>
</template>

<script>
import storeList from 'theme/resource/store-list.json'
import Pagination from '../components/core/Pagination.vue'
export default {
  data () {
    return {
      storeList: storeList,
      selected: 'A',
      options: [
        { text: 'Filter by Service', value: 'A' },
        { text: 'Two', value: 'B' },
        { text: 'Three', value: 'C' }
      ]
    }
  },
  components: {
    Pagination
  }
}
</script>

<style lang="scss" scoped>
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$white: color(white);
$black: color(black);
$red: color(red);
$oat: color(oat);
.find-store{
  > div{
    background:$oat url(/assets/locator-banner.png) no-repeat left 110px bottom;
    padding: 75px 0 80px;
    h2{
      margin-bottom: 25px;
      font-size: 36px;
    }
    .locator-form{
      .form-control,
      .select{
        max-width: 300px;
      }
      span{
        padding: 0 18px;

      }
    }
  }
}
.all-store-info{
  max-width: 1320px;
  margin: 0 auto;
}
.store-list{
  flex-wrap: wrap;
  padding: 10px 0;
  margin-left: -10px;
  margin-right: -10px;
  .store-block{
    padding: 10px;
    width: 33.333333%;
    .store-information{
      border: 1px solid $oat;
      padding: 20px;
      ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
      }
      .store-info-head{
        > img{
          border-radius: 100%;
          max-width: 60px;
          border: solid 4px $red;
          margin-right: 25px;
        }
        span{
          font-size: 16px;
          padding: 8px 0 0 0;
          strong{
            padding: 0 8px 0 6px;
          }
        }
        h3{
          font-size: 21px;
        }
      }
      p{
        font-size: 16px;
        margin: 0;
        padding: 25px 0 0 0;
      }
      .store-contact-info{
        margin: 25px 0;
        align-items: center;
        > div{
          width: 50%;
          padding-top: 5px;
          padding-bottom: 5px;
          &.open-time-list{
            border-right:solid 2px #c2c2c2;
            ul{
              li{
                font-size: 14px;
                line-height: 1.2;
                padding: 5px 0;
                span{
                  display: inline-block;
                  min-width: 40px;
                }
              }
            }
          }
          &.contact-info{
            padding-left:10px;
            ul{
              li{
                padding: 10px 0;
                a{
                  display: flex;
                  align-items: center;
                  font-size: 14px;
                  img{
                    margin-right: 10px;
                  }
                }
              }
            }
          }
        }
      }
      .btn-box{
        .btn{
          text-transform:inherit;
          display: inline-flex;
          align-items: center;
          img{
            margin-right: 5px;
          }
        }
      }
    }
  }
}
@media (max-width: 1380px) {
  .store-list{
    .store-block{
      width: 50%;
    }
  }
}
@media (max-width: 992px) {
  .find-store{
    > div{
      background-image: none;
    }
  }
  .store-list{
    margin-left: auto;
    margin-right: auto;
    max-width: 580px;
    .store-block{
      padding: 5px 0;
      width: 100%;
      .store-information{
        padding: 10px;
      }
    }
  }
}
@media (max-width: 767px) {
  .find-store{
    > div{
      padding: 20px 0 25px;
      h2{
        font-size: 24px;
        margin-bottom: 15px;
      }
      .locator-form{
        display: block;
        max-width: 300;
        margin: 0 auto;
        span{
          padding: 10px 0;
          display: block;
          font-size: 16px;
        }
      }
    }
  }
}
</style>
