<template>
  <section class="productreview-section">
      <div class="container">
          <div class="productreview-box  align-center">
            <h2>{{ 'Product Reviews' }}</h2>
            <p>{{ 'ProBalance Chicken & Kangaroo Large Breed Puppy Food' }}</p>
            <h3>{{ '4.6 out of 5' }}</h3>
            <div class="product-reviews-summary">
              <div class="rating-summary">
                <span class="rating-result" style="width:100%" />
              </div>
              <span class="reviews-actions">(1,000 reviews)</span>
            </div>
            <div class="rating-chart">
                <div class="rating-chart-rating rating-chart-star-5">
                  <div class="rating-chart-label">5 stars</div>
                  <div class="rating-chart-bar">
                    <div class="rating-chart-bar-var" style="width:40%"></div>
                  </div>
                </div>
                <div class="rating-chart-rating rating-chart-star-4">
                  <div class="rating-chart-label">4 stars</div>
                  <div class="rating-chart-bar">
                    <div class="rating-chart-bar-var" style="width:40%"></div>
                  </div>
                </div>
                <div class="rating-chart-rating rating-chart-star-3">
                  <div class="rating-chart-label">3 stars</div>
                  <div class="rating-chart-bar">
                    <div class="rating-chart-bar-var" style="width:25%"></div>
                  </div>
                </div>
                <div class="rating-chart-rating rating-chart-star-2">
                  <div class="rating-chart-label">2 stars</div>
                  <div class="rating-chart-bar">
                    <div class="rating-chart-bar-var" style="width:15%"></div>
                  </div>
                </div>
                <div class="rating-chart-rating rating-chart-star-1">
                  <div class="rating-chart-label">1 star</div>
                  <div class="rating-chart-bar">
                    <div class="rating-chart-bar-var" style="width:5%"></div>
                  </div>
                </div>
            </div>
            <span class="write-review btn ripple" @click="openbox(1)" :class="{ 'active' : boxactive}">
              {{ 'WRITE A REVIEW' }}
            </span>
            <add-review class="showreview" :class="{ 'active' : boxactive}" />
          </div>
      </div>
      <div class="productreview-filter bg-cl-light-gray">
          <div class="container">
            <div class="productreview-filter-box d-flex between-xs">
              <p class="productreview-showing">
                Showing 1 - 3 of 265 reviews
              </p>
              <div class="productreview-filter-sort flex">
                <p class="productreview-filterby">
                  Filter by:
                  <select>
                    <option>All stars</option>
                    <option>5 stars</option>
                    <option>4 stars</option>
                    <option>3 stars</option>
                    <option>2 stars</option>
                    <option>1 star</option>
                  </select>
                </p>
                <p class="productreview-sortby ml30">
                  Sort by:
                  <select>
                    <option>Recent Rated</option>
                    <option>Top Rated</option>
                    <option>Most Popular Rated</option>
                  </select>
                </p>
              </div>
            </div>
          </div>
      </div>
  </section>
</template>

<script>
import AddReview from './AddReview.vue'
export default {
  data () {
    return {
      boxactive: false
    }
  },
  methods: {
    openbox (index) {
      this.boxactive = !this.boxactive;
    }
  },
  components: {
    AddReview
  }
}
</script>

<style lang="scss" scoped>
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$mine-shaft: color(mine-shaft);
$white: color(white);
$black: color(black);
$light-gray: color(light-gray);
$yellow: color(yellow);
$red: color(red);
$black-464444: color(black-464444);
.write-review {
  background: $black;
  line-height: 1;
  padding: 15px 20px 13px;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  &.active, &:hover {
    background: $black-464444;
  }
}
.productreview-section {
  padding: 20px 0 0;
  .showreview {
    display: none;
    &.active {
      display: block;
      text-align: left;
    }
  }
  .productreview-box {
      max-width: 550px;
      margin: 0 auto;
      padding: 0 15px;
      h2 {
        font-size: 21px;
        margin-bottom: 15px;
      }
      p {
        font-size: 16px;
      }
      h3 {
        font-size: 18px;
      }
      .product-reviews-summary {
        padding: 10px 0;
        display: flex;
        justify-content: center;
        .rating-summary {
          background: url(/assets/icons/star.png);
          width: 100px;
          height: 20px;
          .rating-result {
            background: url(/assets/icons/star-active.png);
            display: block;
            height: 20px;
          }
        }
        .reviews-actions {
          margin-left: 5px;
          line-height: 1.5;
          font-size: 14px;
          color: $black;
        }
      }
      .rating-chart {
        margin: 15px 0 25px;
        .rating-chart-rating {
          display: flex;
          margin-bottom: 15px;
          align-items: center;
          .rating-chart-label {
            min-width: 60px;
            margin-right: 10px;
            text-align: right;
          }
          .rating-chart-bar {
            display: block;
            background-color: $light-gray;
            position: relative;
            height: 30px;
            width: 100%;
            .rating-chart-bar-var {
              background-color: $yellow;
              position: absolute;
              left: 0;
              top: 0;
              height: 100%;
            }
          }
        }
      }
  }
  .productreview-filter {
    margin-top: 30px;
    .productreview-filter-box {
      padding: 15px 0;
      align-items: center;
      p {
        margin-bottom: 0;
        font-size: 16px;
        padding-bottom: 0;
        select {
          margin-left: 10px;
          font-size: 16px;
          padding: 10px 15px;
          background: #fff;
        }
      }
      .productreview-sortby {
        margin-left: 30px;
      }
    }
  }
  @media (max-width: 767px) {
    .productreview-filter {
      .productreview-filter-box {
        p {
          text-align: center;
          margin-bottom: 15px;
          font-size: 14px;
        }
        .productreview-filter-sort {
          justify-content: center;
          p {
            margin:0 10px;
            display: flex;
            align-items: center;
            text-align: right;
            font-size: 14px;
            select {
              font-size: 14px;
              padding: 10px 5px;
            }
          }
        }
      }
    }
  }
}
</style>
