<template>
  <div class="reviewlist">
    <div class="mt50 h5 container" v-if="!itemsPerPage || itemsPerPage.length === 0">
      {{ $t('No reviews have been posted yet. Please don\'t hesitate to share Your opinion and write the first review!') }}
    </div>
    <div class="mt25 review-title" v-for="(item, index) in itemsPerPage" :key="index">
        <div class="container">
          <div class="product-reviews-summary">
            <div class="rating-summary">
              <span class="rating-result" style="width:100%" />
            </div>
          </div>
          <h4 class="weight-400 m0">
            {{ item.title }}
          </h4>
          <p class="cl-gray lh25 product-brief">
            {{ item.detail }}
          </p>
          <p class="cl-tertiary mt10 mb20 fs-medium-small author-name">
            By <span class="link">{{ item.nickname }}</span> on {{ item.created_at | date(null, storeView) }}
          </p>
          <div class="like-review flex">
            <p><i class="material-icons">thumb_up</i>10</p>
            <p><i class="material-icons">thumb_down</i>5</p>
          </div>
        </div>
    </div>
     <div class="container">
      <router-link class="write-review btn" to="/">
        READ MORE REVIEWS
      </router-link>
     </div>
    <!-- <div class="row middle-xs center-xs mt25" v-if="pageCount > 1">
        <a href="#" class="mr10 no-underline" :class="{ inactive: currentPage === 1 }" @click.prevent="prevPage">
          <i class="material-icons">chevron_left</i>
        </a>
        <span class="mx10 pagination-page" v-for="pageNumber in pageList" :key="pageNumber">
          <span class="fs-medium block py15 px20 bg-cl-mine-shaft cl-white" v-if="pageNumber === currentPage">
            {{ pageNumber }}
          </span>
          <a href="#" class="fs-medium block py15 px20 bg-cl-secondary pointer" v-else @click.prevent="changePage(pageNumber)">
            {{ pageNumber }}
          </a>
        </span>
        <a href="#" class="ml10 no-underline" :class="{ inactive: currentPage === pageCount }" @click.prevent="nextPage">
          <i class="material-icons">chevron_right</i>
        </a>
      </div> -->
    <script v-html="getJsonLd" type="application/ld+json" />
  </div>
</template>

<script>
import { currentStoreView } from '@vue-storefront/core/lib/multistore'
import { reviewJsonLd } from '@vue-storefront/core/helpers'
export default {
  props: {
    perPage: {
      type: Number,
      required: false,
      default: 4
    },
    items: {
      type: Array,
      default: () => []
    },
    productName: {
      type: String,
      default: ''
    },
    product: {
      type: Object,
      required: true
    }
  },
  data () {
    return {
      currentPage: 1
    }
  },
  computed: {
    itemsPerPage () {
      let start = ((this.currentPage - 1) * this.perPage)
      let end = start + this.perPage
      return this.items.slice(start, end).filter(review => !!review.review_status)
    },
    pageCount () {
      return Math.floor(this.items.length / this.perPage) + Math.min(1, this.items.length % this.perPage)
    },
    pageList () {
      if (this.pageCount <= 5 || this.currentPage === 1 || this.currentPage === 2) {
        const pages = []
        for (let i = 1; i <= Math.min(this.pageCount, 5); i += 1) {
          pages.push(i)
        }
        return pages
      } else if (this.currentPage === this.pageCount || this.currentPage === this.pageCount - 1) {
        const pages = []
        for (let i = this.pageCount; i >= 1 && i >= this.pageCount - 4; i -= 1) {
          pages.unshift(i)
        }
        return pages
      } else {
        return [this.currentPage - 2, this.currentPage - 1, this.currentPage, this.currentPage + 1, this.currentPage + 2]
      }
    },
    storeView () {
      return currentStoreView()
    },
    getJsonLd () {
      return reviewJsonLd(this.itemsPerPage, this.product, this.$store.state.storeView.i18n.currencyCode)
    }
  },
  methods: {
    prevPage () {
      this.currentPage = Math.max(1, this.currentPage - 1)
    },
    nextPage () {
      this.currentPage = Math.min(this.pageCount, this.currentPage + 1)
    },
    changePage (pageNumber) {
      this.currentPage = Math.max(1, Math.min(this.pageCount, pageNumber))
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$mine-shaft: color(mine-shaft);
$white: color(white);
$black: color(black);
$red: color(red);
$gray-979797: color(gray-979797);
$light-gray: color(light-gray);
$black-464444: color(black-464444);
.inactive {
  opacity: 0.5;
  pointer-events: none;
}
.material-icons {
  font-size: 30px;
  line-height: 30px;
}
.pagination-page {
  a {
    &:hover {
      background-color: $mine-shaft;
      color: $white;
    }
  }
  @media (max-width: 767px) {
    margin: 0;
  }
  a, span {
    @media (max-width: 767px) {
      padding: 10px 12px;
      font-size: 16px;
    }
  }
}
.write-review {
  background: $black;
  line-height: 1;
  padding: 15px 20px 13px;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 30px;
  &:hover {
    background: $black-464444;
  }
}
.reviewlist {
  .like-review {
    p {
      margin-right: 10px;
      margin-bottom: 0;
      display: flex;
      align-items: center;
      color: $gray-979797;
      font-size: 16px;
      i {
        margin-right: 5px;
        color: $gray-979797;
        cursor: pointer;
      }
    }
  }
  .review-title {
    border-bottom: 1px solid $light-gray;
    padding-bottom: 25px;
    margin-top: 25px;
    .product-reviews-summary {
      padding: 0 0 10px;
      .rating-summary {
        background: url(/assets/icons/star.png);
        width: 100px;
        height: 20px;
        .rating-result {
          background: url(/assets/icons/star-active.png);
          display: block;
          height: 20px;
        }
      }
    }
    h4 {
      margin: 10px 0;
      font-size: 21px;
    }
    .product-brief {
      color: $black;
      font-size: 16px;
    }
    .author-name {
      color: $gray-979797;
      font-size: 16px;
      .link {
        color: $black;
        text-decoration: underline;
      }
    }
  }
}
</style>
