<template>
  <div>
    <div class="cms-content">
      <ul class="footer-menu">
        <li v-for="(linkData) in links" :key="linkData.id">
          <a :href="linkData.link">{{ linkData.label }}</a>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>

export default {
  props: {
    links: {
      type: Object,
      default: () => {}
    }
  }
}
</script>
