<template>
  <div class="newsletter-widget">
    <h2 class="widget-title">
      {{ $t('Offers & advice direct to your inbox') }}
    </h2>
    <div class="widget-content">
      <form @submit.prevent="login()" novalidate>
        <div class="newsletter-field-wrap">
          <base-input
            type="email"
            name="email"
            v-model="email"
            autocomplete="email"
            :placeholder="$t('Your email')"
            :validations="[
              {
                condition: $v.email.$error && !$v.email.required,
                text: $t('Field is required.')
              },
              {
                condition: !$v.email.email && $v.email.$error,
                text: $t('Please provide valid e-mail address.')
              }
            ]"
          />
          <div class="recaptcha-scale">
            <vue-recaptcha @verify="markRecaptchaAsVerified" sitekey="6LfRMCAaAAAAAHek28o05rPMpZEANousdP-_xmGr" :loadRecaptchaScript="true" />
            <div class="recaptch-red">
              <strong>
                {{ pleaseTickRecaptchaMessage }}
              </strong>
            </div>
          </div>
          <button-full
            type="submit"
            class="btn"
            :disabled="this.$v.$invalid"
            @click.native="$v.email.$touch"
          >
            {{ $t('Sign Up') }}
          </button-full>
        </div>
      </form>
    </div>
  </div>
</template>
<script>
import SubscriptionStatus from '@vue-storefront/core/modules/newsletter/mixins/SubscriptionStatus'
import Subscribe from '@vue-storefront/core/modules/newsletter/mixins/Subscribe'
import i18n from '@vue-storefront/i18n'
import VueRecaptcha from 'vue-recaptcha';
import ButtonFull from 'theme/components/theme/ButtonFull.vue'
import BaseInput from 'theme/components/core/blocks/Form/BaseInput.vue'

export default {
  data () {
    return {
      recaptchaVerified: false,
      pleaseTickRecaptchaMessage: ''
    };
  },
  beforeDestroy () {
    this.$off('validation-error')
  },
  methods: {
    login () {
      if (!this.recaptchaVerified) {
        this.pleaseTickRecaptchaMessage = 'Please verify that you are not a robot.'
      } else {
        this.$store.dispatch('notification/spawnNotification', {
          type: 'success',
          message: i18n.t('You have been successfully subscribed to our newsletter!'),
          action1: { label: i18n.t('OK') }
        })
      // subscribe(onSuccesfulSubmission)
      }
    },
    //  onSuccesfulSubmission (isSubscribed) {
    //     this.$store.dispatch('notification/spawnNotification', {
    //       type: 'success',
    //       message: i18n.t('You have been successfully subscribed to our newsletter!'),
    //       action1: { label: i18n.t('OK') }
    //     })
    // },
    markRecaptchaAsVerified (response) {
      this.pleaseTickRecaptchaMessage = '';
      this.recaptchaVerified = true;
    }
  },
  components: {
    ButtonFull,
    BaseInput,
    VueRecaptcha
  },
  mixins: [
    SubscriptionStatus, Subscribe
  ]
}
</script>
<style lang="scss">
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$color-secondary: color(secondary);
$white: color(white);

.newsletter-widget {
  margin-bottom: 20px;
  max-width: 275px;

  @media (max-width: 991px) {
    text-align: center;
    margin: 0 auto 15px;
    max-width: 380px;
  }

  .widget-title {
    font-weight: 700;
    font-size: 12px;
    margin-bottom: 30px;
    @media (max-width: 991px) {
      margin-bottom: 15px;
    }
  }
  input:not([type="submit"]):not([type="button"]) {
    background-color: $white;
    border-radius: 4px;
    padding: 20px 10px;
    font-size: 12px;
  }
  .base-input {
    margin-bottom: 15px;
    input:not([type="submit"]):not([type="button"]) + label {
      font-size: 12px;
      left: 10px;
      transform: translateY(-50%);
      top: 50%;
    }
    input:not([type="submit"]):not([type="button"]):focus ~ label, input:not(.empty):not([type="submit"]):not([type="button"]) ~ label {
      font-size: 12px;
      top: 8px;
      left: 10px;
      color: $color-secondary;
    }
  }
  .newsletter-field-wrap {
    @media (max-width: 991px) {
      position: relative;
      .base-input {
        margin-bottom: 0;
      }
      input:not([type="submit"]):not([type="button"]) {
        border-radius: 40px;
        padding: 13px 115px 13px 15px;
        height: auto;
        min-height: auto;
        line-height: 110%;
      }
      button {
        position: absolute;
        top: 0;
        right: 0;
        width: auto;
        padding: 13px 24px;
        border-radius: 0 50px 50px 0;
      }
      .button-full {
        border-radius: 0 50px 50px 0;
        position: absolute;
        top: 0;
        right: 0;
        padding:15px 14px 14px;
        width: 110px;
      }
    }
  }
  .recaptch-red{
    color:red;
  }
}
.recaptcha-scale{
  transform:scale(0.85);
  margin-left: -13px;
  div{
    width: auto !important;
    height: auto !important;
    margin: 0 auto;
    display: inline-flex;
    justify-content: center;
  }
  iframe{
    display: block;
  }
  @media (max-width: 991px) {
    margin-top: 10px;
    margin-left: 0;
  }
}
</style>
