<template>
  <div class="sidebar-menu fixed mw-100 bg-cl-secondary">
    <div class="sidebar-menu__container row" ref="container">
      <div class="col-xs-12 h4 serif">
        <ul class="p0 m0 relative sidebar-menu__list">
          <li
            @click="closeMenu"
            class="brdr-bottom-1 brdr-cl-bg-secondary bg-cl-primary"
          >
            <router-link
              class="block px25 py20 cl-accent no-underline"
              :to="localizedRoute('/')"
              exact
            >
              {{ $t('Home') }}
            </router-link>
          </li>
           <li
            class="brdr-bottom-1 brdr-cl-bg-secondary bg-cl-primary fcontent-1"
          >
            <label
              @click="openAccordian(1)"
              class="block px25 py20 cl-accent no-underline fs-medium-small"
            >
              {{ $t('Whats New') }}
              <span class="material-icons">keyboard_arrow_right</span>
            </label>
            <ul class="subcategory-item-list">
              <li>
                <router-link
                @click="closeMenu"
                class="block px25 py20  cl-accent no-underline fs-medium-small"
                :to="localizedRoute('/sale')"
                exact
                >
                {{ $t('Sale') }}
                </router-link>
              </li>
              <li>
               <router-link
               @click="closeMenu"
                class="block px25 py20 cl-accent no-underline fs-medium-small"
                :to="localizedRoute('/magazine')"
                exact
                >
                {{ $t('Magazine') }}
                </router-link>
              </li>
            </ul>
          </li>
          <li
            class="brdr-bottom-1 brdr-cl-bg-secondary bg-cl-primary"
            :key="category.slug"
            v-for="category in visibleCategories"
          >
            <div
              class="subcategory-item"
            >
              <router-link
                class="px25 py20 cl-accent no-underline col-xs"
                :to="categoryLink(category)"
              >
                {{ category.name }}
              </router-link>
            </div>
          </li>
          <li
            v-if="isCurrentMenuShowed"
            @click="closeMenu"
            class="brdr-cl-bg-secondary bg-cl-primary"
          >
            <router-link
              class="block px25 py20 cl-accent no-underline fs-medium-small"
              :to="localizedRoute('/magazine')"
              exact
            >
              {{ $t('Magazine') }}
            </router-link>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import i18n from '@vue-storefront/i18n'
import SidebarMenu from '@vue-storefront/core/compatibility/components/blocks/SidebarMenu/SidebarMenu'
import SubBtn from 'theme/components/core/blocks/SidebarMenu/SubBtn'
import SubCategory from 'theme/components/core/blocks/SidebarMenu/SubCategory'
import { formatCategoryLink } from '@vue-storefront/core/modules/url/helpers'
import { disableBodyScroll, clearAllBodyScrollLocks } from 'body-scroll-lock'

export default {
  components: {
    SubCategory,
    SubBtn
  },
  mixins: [SidebarMenu],
  data () {
    return {
      activeAcordian: null,
      myAccountLinks: [
        {
          id: 1,
          name: i18n.t('My profile'),
          url: '/my-account'
        },
        {
          id: 2,
          name: i18n.t('My shipping details'),
          url: '/my-account/shipping-details'
        },
        {
          id: 3,
          name: i18n.t('My newsletter'),
          url: '/my-account/newsletter'
        },
        {
          id: 4,
          name: i18n.t('My orders'),
          url: '/my-account/orders'
        },
        {
          id: 5,
          name: i18n.t('My loyalty card'),
          url: '#'
        },
        {
          id: 6,
          name: i18n.t('My product reviews'),
          url: '#'
        }
      ],
      componentLoaded: false
    }
  },
  computed: {
    ...mapState({
      submenu: state => state.ui.submenu,
      currentUser: state => state.user.current
    }),
    getSubmenu () {
      return this.submenu
    },
    visibleCategories () {
      return this.categories.filter(category => {
        return category.product_count > 0 || category.children_count > 0
      })
    },
    isCurrentMenuShowed () {
      return !this.getSubmenu || !this.getSubmenu.depth
    }
  },
  mounted () {
    this.$nextTick(() => {
      this.componentLoaded = true;
      disableBodyScroll(this.$refs.container)
    })
  },
  destroyed () {
    clearAllBodyScrollLocks()
  },
  methods: {
    openAccordian (digit) {
      if (this.activeAcordian !== null && this.activeAcordian !== digit) {
        document.getElementsByClassName(`fcontent-${this.activeAcordian}`)[0].classList.remove('active')
      }
      this.activeAcordian = this.activeAcordian === digit ? null : digit
      document.getElementsByClassName(`fcontent-${digit}`)[0].classList.toggle('active')
    },
    login () {
      if (!this.currentUser && this.isCurrentMenuShowed) {
        this.$nextTick(() => {
          this.$store.commit('ui/setAuthElem', 'login')
          this.$bus.$emit('modal-show', 'modal-signup')
          this.$router.push({ name: 'my-account' })
        })
      }
    },
    categoryLink (category) {
      return formatCategoryLink(category)
    }
  }
}
</script>

<style lang="scss" scoped>
@import "~theme/css/animations/transitions";
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$bg-secondary: color(secondary, $colors-background);
$color-gainsboro: color(gainsboro);
$black-464444: color(black-464444);
$color-mine-shaft: color(mine-shaft);
$black: color(black);
$white: color(white);
$gray-979797: color(gray-979797);
$red: color(red);

.sidebar-menu {
  height: 100vh;
  width: 350px;
  overflow: hidden;

  @media (max-width: 767px) {
    width: 100vh;
  }

  &__container {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    height: calc(100% - 0px);
  }

  &__list {
    transition: transform $duration-main $motion-main;
  }

  ul {
    list-style-type: none;
  }

  li {
    border-color: $gray-979797;
    a, label {
      color: $black;
      font-size:16px;
      font-weight:600;
      padding:13px 50px 13px 15px;
      cursor: pointer;
      &:hover{
        color: $red;
      }
    }
    label{
      position: relative;
      span{
        font-size:29px;
        position: absolute;
        right:13px;
        color: $red;
        line-height: 0;
        top: 50%;
        background: $white;;
      }
    }
  }
  .subcategory-item-list{
    padding: 0;
    max-height: 0;
    overflow: hidden;
    -webkit-transition: 0.5s ease all;
    -o-transition: 0.5s ease all;
    transition: 0.5s ease all;
    li {
      border-color: $gray-979797;
      a{
        font-size:14px;
        font-weight: 500;
        padding:13px 15px;
        border-top: solid 1px rgba( $gray-979797, 0.2);
      }
      &:last-child{
        margin-bottom:10px;
      }
    }
  }
   li.active {
    label{
      span{
        color: $black;
        transform: rotateZ(90deg);
      }
    }
    .subcategory-item-list{
      max-height: 2000px;
    }
   }

  .subcategory-item {
    display: flex;
    width: 100%;
  }

  button {
    color: $color-mine-shaft;a {
      color: $color-mine-shaft;
    }
  }
  .close-btn {
    i {
      color: $color-gainsboro;
    }
    &:hover,
    &:focus {
      i {
        color: $black-464444;
      }
    }
  }

}
</style>
