
<template>
  <div>
    <div class="brdr-1 brdr-cl-gray mt5 bg-cl-white">
      <h3 class="cl-accent summary-title brdr-none brdr-bottom-1 brdr-cl-gray p15">
        {{ $t('Your order') }}
      </h3>
      <!-- <product v-for="product in productsInCart" :key="product.server_item_id || product.id" :product="product" /> -->
      <router-link to="/local" class="summary-link p15 w-100 block brdr-bottom-1 brdr-cl-gray cl-red">{{ $t('I have a coupon code') }}</router-link>
      <router-link to="/local" class="summary-link p15 w-100 block brdr-bottom-1 brdr-cl-gray cl-red">{{ $t('Add PetCLUB voucher') }}</router-link>
      <div v-if="productsInCart && productsInCart.length" class="checkout cl-accent">
        <div v-for="(segment, index) in totals" :key="index" class="p15 flex brdr-bottom-1 brdr-cl-gray between-xs" v-if="segment.code !== 'grand_total'">
          <p class="cl-accent p0">
            {{ segment.title }}
          </p>
          <p v-if="segment.value != null" class="cl-accent p0">
            {{ segment.value | price(storeView) }}
          </p>
        </div>
        <div class="py10 px15 flex font-700 between-xs h3" v-for="(segment, index) in totals" :key="index" v-if="segment.code === 'grand_total'">
          <div class="">
            {{ segment.title }}
          </div>
          <div class="">
            {{ segment.value | price(storeView) }}
          </div>
        </div>
      </div>
    </div>
    <div class="brdr-1 brdr-cl-gray mt20 bg-cl-white p15">
      <h3 class="mb15 h3">
        {{ $t('Payment methods') }}
      </h3>
      <button-full class="cl-tertiary lh20 btn bg-cl-green add-payment mb20">
        + Add payment method
      </button-full>
      <h4 class="h3 mb0" v-if="!isVirtualCart">
        {{ $t('Shipping') }}
      </h4>
      <p class="cl-tertiary lh20" v-if="!isVirtualCart">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Nullam sed tempor lorem. Vivamus volutpat eros id est semper accumsan.
      </p>
      <h4 class="h3 mb0">
        {{ $t('Returns') }}
      </h4>
      <p class="cl-tertiary lh20">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Nullam sed tempor lorem. Vivamus volutpat eros id est semper accumsan.
      </p>
    </div>
  </div>
</template>

<script>
import { CartSummary } from '@vue-storefront/core/modules/checkout/components/CartSummary'
import { currentStoreView } from '@vue-storefront/core/lib/multistore'
import Product from './Product'
import ButtonFull from 'theme/components/theme/ButtonFull.vue'

export default {
  components: {
    Product,
    ButtonFull
  },
  computed: {
    storeView () {
      return currentStoreView()
    }
  },
  mixins: [CartSummary]
}
</script>

<style lang="scss" scoped>
@import '~theme/css/base/text';
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$bg-secondary: color(secondary, $colors-background);
$color-tertiary: color(tertiary);
$color-secondary: color(secondary);
$color-error: color(error);
$white: color(white);
$black: color(black);
$gray-979797: color(gray-979797);
$blue: color(blue);
$green: color(green);

.summary-title {
  font-size: 21px;
  @media (max-width: 767px) {
    margin-left: 0;
  }
}
.btn.add-payment {
    background: $green;
    font-size: 16px;
    text-transform: none;
    margin-bottom: 15px;
}

</style>
