<template>
  <div class="order-review">
    <div class="row">
      <!-- <div class="col-xs-1 col-sm-2 col-md-1">
        <div
          class="number-circle lh35 cl-white brdr-circle align-center weight-700"
          :class="{ 'bg-cl-th-accent' : isActive || isFilled, 'bg-cl-tertiary' : !isFilled && !isActive }"
        >
          {{ (isVirtualCart ? 3 : 4) }}
        </div>
      </div> -->
      <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="row">
          <div class="col-md-12" :class="{ 'cl-bg-tertiary' : !isFilled && !isActive }">
            <h3 class="m0 mb5 flex middle-xs py15 pt20">
              <img src="/assets/icons/icon-basket.png" alt="icon-review-basket" class="icon">
              {{ $t('Review basket') }}
            </h3>
          </div>
        </div>
      </div>
    </div>
    <div class="row" v-show="isActive">
      <!-- <div class="hidden-xs col-sm-2 col-md-1" /> -->
      <div class="col-xs-12 col-sm-12 col-md-12 p0 cart-sidebar right-sidebar">
        <!-- <p class="h4">
          {{ $t('Please check if all data are correct') }}
        </p> -->
        <ul v-if="productsInCart.length" class="m0 products">
          <product v-for="product in productsInCart" :key="product.server_item_id || product.id" :product="product" />
        </ul>
        <base-checkbox
          class="col-xs-12 col-sm-12 col-md-12 p15 mb0 ml10 mt15"
          id="acceptTermsCheckbox"
          @blur="$v.orderReview.terms.$touch()"
          v-model="orderReview.terms"
          :validations="[{
            condition: !$v.orderReview.terms.sameAs && $v.orderReview.terms.$error,
            text: $t('Field is required')
          }]"
        >
          {{ $t('I agree to') }}
          <span
            class="link pointer"
            @click.prevent="$bus.$emit('modal-toggle', 'modal-terms')"
          >
            {{ $t('Terms and conditions') }}
          </span>
        </base-checkbox>
      </div>
    </div>
    <div class="row" v-show="isActive">
      <!-- <div class="hidden-xs col-sm-2 col-md-1" /> -->
      <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="row">
          <div class="col-xs-12 col-md-4 px20 mb20 button-container">
            <slot name="placeOrderButton">
              <div :style="$v.orderReview.$invalid?'pointer-events:none; opacity: 0.5;': null" v-if="payment.paymentMethod === 'vsfpaypal'">
                <paypal-button />
              </div>
              <div :style="overlayPaymentMethod" v-else-if="payment.paymentMethod === 'klarna_kp'">
                <klarna-checkout />
              </div>
              <button-full
                v-else
                @click.native="placeOrder"
                data-testid="orderReviewSubmit"
                class="place-order-btn"
                :disabled="$v.orderReview.$invalid"
              >
                {{ $t('Place the order') }}
              </button-full>
            </slot>
          </div>
        </div>
      </div>
    </div>
    <modal name="modal-terms">
      <p slot="header">
        {{ $t('Terms and conditions') }}
      </p>
      <div slot="content">
        <p>
          This website ("website") is operated by Luma Inc., which includes Luma stores, and Luma Private Sales. This privacy policy only covers information collected at this website, and does not cover any information collected offline by Luma. All Luma websites are covered by this privacy policy.
        </p>
        <h2>
          Luma Security
        </h2>
        <p>
          Personal information provided on the website and online credit card transactions are transmitted through a secure server. We are committed to handling your personal information with high standards of information security. We take appropriate physical, electronic, and administrative steps to maintain the security and accuracy of personally identifiable information we collect, including limiting the number of people who have physical access to our database servers, as well as employing electronic security systems and password protections that guard against unauthorized access.
        </p>
        <h2>
          Luma Privacy Policy
        </h2>
        <p>
          To help us achieve our goal of providing the highest quality products and services, we use information from our interactions with you and other customers, as well as from other parties. Because we respect your privacy, we have implemented procedures to ensure that your personal information is handled in a safe, secure, and responsible manner. We have posted this privacy policy in order to explain our information collection practices and the choices you have about the way information is collected and used.
        </p>
        <p>
          As we continue to develop the Luma website and take advantage of advances in technology to improve the services we offer, this privacy policy likely will change. We therefore encourage you to refer to this policy on an ongoing basis so that you understand our current privacy policy.
        </p>
      </div>
    </modal>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import { sameAs } from 'vuelidate/lib/validators'
import Composite from '@vue-storefront/core/mixins/composite'

import BaseCheckbox from 'theme/components/core/blocks/Form/BaseCheckbox'
import ButtonFull from 'theme/components/theme/ButtonFull'
import CartSummary from 'theme/components/core/blocks/Checkout/CartSummary'
import Modal from 'theme/components/core/Modal'
import { OrderReview } from '@vue-storefront/core/modules/checkout/components/OrderReview'
import { OrderModule } from '@vue-storefront/core/modules/order'
import { registerModule } from '@vue-storefront/core/lib/modules'
import Product from 'theme/components/core/blocks/Microcart/Product'
import PaypalButton from 'src/modules/paypal/components/Button'
import KCO from 'src/modules/payment-klarna/components/KlarnaCheckout'

export default {
  components: {
    BaseCheckbox,
    ButtonFull,
    CartSummary,
    Modal,
    Product,
    PaypalButton,
    'klarna-checkout': KCO
  },
  mixins: [OrderReview, Composite],
  validations: {
    orderReview: {
      terms: {
        sameAs: sameAs(() => true)
      }
    }
  },
  computed: {
    ...mapGetters({
      productsInCart: 'cart/getCartItems',
      isOpen: 'cart/getIsMicroCartOpen'
    })
  },
  beforeCreate () {
    registerModule(OrderModule)
  },
  methods: {
    onSuccess () {
    },
    onFailure (result) {
      this.$store.dispatch('notification/spawnNotification', {
        type: 'error',
        message: this.$t(result.result),
        action1: { label: this.$t('OK') }
      })
    }
  }
}
</script>

<style lang="scss" scoped>
  .link {
    text-decoration: underline;
  }

  .cartsummary-wrapper {
    @media (min-width: 767px) {
      display: none;
    }
  }
</style>
