<template>
  <div class="col-sm-6 col-md-6 col-xs-6 col-lg-4 flex productslist col-xl-3">
    <div class="product w-100 roboto relative">
      <span class="sale-tag">
        <img data-v-11e36d0d="" src="/assets/icons/sale-label.png" alt="">
      </span>
      <div class="product__icons">
           <span @click="removeProductFromWhishList(product)"><i  class="material-icons">favorite</i></span>
      </div>
      <router-link :to="productLink" class="block no-underline product-link">
        <div class="product-cover" @click="closeWishlist">
            <product-image :image="image" class="product-cover__thumb" />
        </div>
        <p class="pro-title medium">
          {{ product.name | htmlDecode }}
        </p>
        <div class="product-reviews-summary short flex middle-sm">
          <div class="rating-summary">
            <span class="rating-result" style="width: 70%;"></span>
          </div>
          <span class="reviews-actions">{{ $t(' 3.5 Reviews ') }}</span>
        </div>
        <special-offer />
        <div class="product-price" v-if="product.price_incl_tax">
            <span class="price-special" v-if="product.special_price">
            {{ product.price_incl_tax | price(storeView) }}
            <del>{{ product.price_incl_tax | price(storeView) }}</del>
            </span>
            <span class="price-special" v-if="!product.special_price">
                  {{ product.price_incl_tax | price(storeView) }}
                  <del>{{ product.price_incl_tax | price(storeView) }}</del>
              </span>
            <div class="subscribe-offer-price flex">
              <span class="price-special" v-if="product.special_price">
              {{ product.original_price_incl_tax | price(storeView) }}
              <del>{{ product.original_price_incl_tax | price(storeView) }}</del>
            </span>
            <span class="price-special" v-if="!product.special_price">
              {{ product.price_incl_tax | price(storeView) }}
            </span>
              <span class="subscribe-link">
                <img src="/assets/icons/subscribe-icon.png" alt="">
                {{ $t(' Subscribe &amp; Save ') }}
              </span>
            </div>
        </div>
        <div class="availability-status align-right bold">
          {{ $t('Collect only') }}
        </div>
      </router-link>
    </div>
  </div>
</template>

<script>
import config from 'config'
import Product from '@vue-storefront/core/compatibility/components/blocks/Wishlist/Product'
import { currentStoreView } from '@vue-storefront/core/lib/multistore'
import { formatProductLink } from '@vue-storefront/core/modules/url/helpers'
import ProductImage from 'theme/components/core/ProductImage'
import i18n from '@vue-storefront/i18n'
import { htmlDecode } from '@vue-storefront/core/lib/store/filters'
import SpecialOffer from 'theme/components/core/blocks/Offers/SpecialOffer'

export default {
  components: {
    ProductImage,
    SpecialOffer
  },
  mixins: [Product],
  props: {
    showAddToCart: {
      type: Boolean,
      default: true
    }
  },
  computed: {
    productLink () {
      return formatProductLink(this.product, currentStoreView().storeCode)
    },
    image () {
      return {
        loading: this.thumbnail,
        src: this.thumbnail
      }
    },
    storeView () {
      return currentStoreView()
    }
  },
  methods: {
    removeProductFromWhishList (product) {
      this.$store.dispatch('notification/spawnNotification', {
        type: 'success',
        message: i18n.t('Product {productName} has been removed from wishlist!', { productName: htmlDecode(product.name) }),
        action1: { label: i18n.t('OK') }
      }, { root: true })
      this.removeFromWishlist(product)
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~theme/css/animations/transitions';
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';

$bg-secondary: color(secondary, $colors-background);
$border-secondary: color(secondary, $colors-border);
$gray-979797: color(gray-979797);

.blend {
  flex: 0 0 121px;
  opacity: .8;
  will-change: opacity;
  transition: .3s opacity $motion-main;
  &:hover{
     opacity: 1;
   }
}
.col-xs {
  flex-direction: column;
}
input {
  width: 30px;
}
.price-original {
  text-decoration: line-through;
  color: #828282;
  font-size: .95rem;
}
.wishlist-add-to-cart {
  padding: 10px;
  margin: 15px 0;
  min-width: 100px;
  font-size: 14px;
  text-align: center;
}
.price-original {
  text-decoration: line-through;
  color: #828282;
  font-size: .95rem;
}
.price-original {
  text-decoration: line-through;
  color: #828282;
  font-size: .95rem;
}
.product-reviews-summary{
  padding: 10px 0;
  &.short{
    .rating-summary{
      background: url(/assets/icons/star.png);
      background-size:auto 16px;
      width: 81px;
      height: 16px;
      .rating-result{
        background: url(/assets/icons/star-active.png);
        background-size:auto 16px;
        display: block;
        height: 16px;
      }
    }
    .reviews-actions{
      font-size: 12px;
      margin-left: 12px;
    }
  }
  @media (max-width: 767px) {
    .sale-tag{
      img{
        max-width:55px;
      }
    }
  }
}
.product-price{
  padding: 10px 0 5px 0;
  .price-special{
    font-weight: 700;
    font-size: 18px;
    del{
      color: $gray-979797;
    }
  }
  .subscribe-offer-price{
    padding-top: 5px;
  }
  .subscribe-link{
    font-size: 10px;
    padding: 0 0 0 5px;
    img{
      max-width: 12px;
      margin-right: 5px;
      vertical-align: bottom;
    }
  }
  @media (max-width: 767px) {
    .price-special{
      font-size:14px;
    }
    .availability-status{
      font-size:10px;
    }
  }
}
</style>
