@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap');

@font-face {
  font-family: 'montserrat';
  src: url('/assets/fonts/montserrat-regular.eot');
  src: url('/assets/fonts/montserrat-regular.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/montserrat-regular.woff2') format('woff2'),
       url('/assets/fonts/montserrat-regular.woff') format('woff'),
       url('/assets/fonts/montserrat-regular.woff') format('woff'),
       url('/assets/fonts/montserrat-regular.ttf') format('truetype'),
       url('/assets/fonts/montserrat-regular.svg#montserratregular') format('svg');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'montserrat';
  src: url('/assets/fonts/montserrat-bold.eot');
  src: url('/assets/fonts/montserrat-bold.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/montserrat-bold.woff2') format('woff2'),
       url('/assets/fonts/montserrat-bold.woff') format('woff'),
       url('/assets/fonts/montserrat-bold.ttf') format('truetype'),
       url('/assets/fonts/montserrat-bold.svg#montserratbold') format('svg');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'montserrat';
  src: url('/assets/fonts/montserrat-extrabold.eot');
  src: url('/assets/fonts/montserrat-extrabold.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/montserrat-extrabold.woff2') format('woff2'),
       url('/assets/fonts/montserrat-extrabold.woff') format('woff'),
       url('/assets/fonts/montserrat-extrabold.ttf') format('truetype'),
       url('/assets/fonts/montserrat-extrabold.svg#montserratextrabold') format('svg');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}