<template>
  <div data-testid="login">
    <header class="modal-header relative">
      <h2>
        {{ $t('Login to') }} <span class="cl-red">{{ $t('PetCLUB') }}</span>
      </h2>
      <i
        slot="close"
        class="modal-close material-icons cl-bg-tertiary"
        @click="closeLoginExtend"
        data-testid="closeLogin"
      >
        {{ $t('close') }}
      </i>
      <p class="align-center  mt15">
        {{ $t('Jollyes PetCLUB rewards you with discounts on shipping, earns you points when you shop which turn into vouchers you can spend on anything at Jollyes.') }}
      </p>
    </header>
    <div v-if="hasRedirect" class="pt10 redirect-error">
      <p class="h5 mb0 mt0">
        {{ $t('You need to be logged in to see this page') }}
      </p>
    </div>
    <div class="modal-content bg-cl-white pt30 cl-secondary">
      <div class="login-gmail-fb">
        <router-link to="/" class="gmail w-100 flex middle-xs"><img src="/assets/icons/icon-gmail.png" alt="icon-gmail" >{{ $t('Login with Google') }}</router-link>
        <router-link to="/" class="facebook w-100 flex middle-xs"><img src="/assets/icons/icon-facebook.png" alt="icon-gmail" >{{ $t('Login with Facebook') }}</router-link>
      </div>
      <p class="or align-center block cl-black">
        <span>{{ $t('OR') }}</span>
      </p>
      <form @submit.prevent="login" novalidate class="common-form">
        <base-input
          class="mb10 email"
          type="email"
          name="email"
          v-model="email"
          @blur="$v.email.$touch()"
          placeholder="E-mail address"
          :label="false"
          :validations="[
            {
              condition: !$v.email.required && $v.email.$error,
              text: $t('Field is required.')
            },
            {
              condition: !$v.email.email && $v.email.$error,
              text: $t('Please provide valid e-mail address.')
            }
          ]"
        />
        <base-input
          class="mb10 password"
          :type="passType"
          name="password"
          v-model="password"
          @blur="$v.password.$touch()"
          placeholder="Password"
          :label="false"
          :validations="[{
            condition: !$v.password.required && $v.password.$error,
            text: $t('Field is required.')
          }]"
        />
        <div class="row">
          <base-checkbox
            class="col-xs-6 col-sm-6 mb20"
            id="remember"
            v-model="remember"
          >
            {{ $t('Remember me') }}
          </base-checkbox>
          <div class="col-xs-6 col-sm-6 mb20 flex end-xs middle-xs">
            <label class="pointer">
              <button
                v-if="iconActive"
                type="button"
                class="
                  icon material-icons brdr-none no-outline
                  p0 bg-cl-transparent cl-brdr-secondary pointer
                "
                @click="togglePassType()"
                :aria-label="$t('Toggle password visibility')"
                :title="$t('Toggle password visibility')"
              >
                {{ icon }}
              </button>
              {{ $t('Show Password') }}
            </label>
          </div>
        </div>
        <button-full class="mb20" type="submit" data-testid="loginSubmit">
          {{ $t('Login') }}
        </button-full>
        <div class="center-xs login-link brdr-bottom-1 bg-cl-white brdr-cl-gray-979797 mb20 pb20 mt20">
          <a href="#" class="link" @click.prevent="remindPassword">
            {{ $t('Forgot the password?') }}
          </a>
        </div>
        <div class="center-xs login-link border-cl-gray">
          {{ $t('Don’t have an account?') }}
          <a href="#" class="link" @click.prevent="switchElem" data-testid="registerLink">
            {{ $t('Sign up') }}
          </a>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import Login from '@vue-storefront/core/compatibility/components/blocks/Auth/Login'

import ButtonFull from 'theme/components/theme/ButtonFull.vue'
import BaseCheckbox from '../Form/BaseCheckbox.vue'
import BaseInput from '../Form/BaseInput.vue'
import { required, email } from 'vuelidate/lib/validators'
import CryptoJS from 'crypto-js'

export default {
  mixins: [Login],
  validations: {
    email: {
      required,
      email
    },
    password: {
      required
    }
  },
  data () {
    return {
      passType: 'password',
      hasRedirect: !!localStorage.getItem('redirect'),
      iconActive: true,
      icon: 'visibility_off'
    }
  },
  methods: {
    close (e) {
      if (e) localStorage.removeItem('redirect')
      this.$bus.$emit('modal-hide', 'modal-signup')
    },
    togglePassType () {
      if (this.passType === 'password') {
        this.passType = 'text'
        this.icon = 'visibility'
      } else {
        this.passType = 'password'
        this.icon = 'visibility_off'
      }
    },
    created () {
      if (this.type === 'password') {
        this.iconActive = true
      }
    },
    toggleLogin () {
      this.$store.dispatch('ui/toggleLogin')
    },
    closeLoginExtend () {
      this.toggleLogin()
      this.$store.commit('ui/setSidebar', false)
    },
    login () {
      if (this.$v.$invalid) {
        this.$v.$touch()
        this.$store.dispatch('notification/spawnNotification', {
          type: 'error',
          message: this.$t('Please fix the validation errors'),
          action1: { label: this.$t('OK') }
        })
        return
      }
      this.callLogin()
    },
    remindPassword () {
      if (!(typeof navigator !== 'undefined' && navigator.onLine)) {
        this.$store.dispatch('notification/spawnNotification', {
          type: 'error',
          message: this.$t('Reset password feature does not work while offline!'),
          action1: { label: this.$t('OK') }
        })
      } else {
        this.callForgotPassword()
      }
    },
    onSuccess () {
      if (this.remember && this.email && this.password) {
        const encryptedPsw = CryptoJS.AES.encrypt(this.password, 'user_password').toString();
        console.log('encrypted: ', encryptedPsw);

        let LoginRemember = {
          e: this.email,
          p: encryptedPsw
        }
        console.log('LoginRemember', LoginRemember);
        this.setCookie('login_remember', JSON.stringify(LoginRemember), 30);
        console.log('getcheck', this.getCookie('login_remember'));
      } else {
        this.eraseCookie('login_remember');
      }

      this.$store.dispatch('notification/spawnNotification', {
        type: 'success',
        message: this.$t('You are logged in!'),
        action1: { label: this.$t('OK') }
      })
    },
    onFailure (result) {
      this.$store.dispatch('notification/spawnNotification', {
        type: 'error',
        message: this.$t(result.result),
        action1: { label: this.$t('OK') }
      })
    },
    setCookie (name, value, days) {
      var expires = '';
      if (days) {
        var date = new Date();
        date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
        expires = '; expires=' + date.toUTCString();
      }
      document.cookie = name + '=' + (value || '') + expires + '; path=/';
    },
    getCookie (name) {
      var nameEQ = name + '=';
      var ca = document.cookie.split(';');
      for (var i = 0; i < ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0) === ' ') c = c.substring(1, c.length);
        if (c.indexOf(nameEQ) === 0) return c.substring(nameEQ.length, c.length);
      }
      return null;
    },
    eraseCookie (name) {
      document.cookie = name + '=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    }
  },
  created () {
    const getRememberData = this.getCookie('login_remember');
    console.log('getRememberData ', getRememberData);
    if (getRememberData !== null) {
      const rememberJsonData = JSON.parse(getRememberData);
      const rememberPwd = CryptoJS.AES.decrypt(rememberJsonData.p, 'user_password').toString(
        CryptoJS.enc.Utf8
      );
      this.email = rememberJsonData.e
      this.password = rememberPwd
      this.remember = true
    }
  },
  components: {
    ButtonFull,
    BaseCheckbox,
    BaseInput
  }
}
</script>

<style lang="scss" >
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$color-error: color(error);
$white: color(white);
$black: color(black);
$gray-979797: color(gray-979797);
$bg-gmail: color(bg-gmail);
$bg-facebook: color(bg-facebook);

  .modal-header{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 40px 50px 0;
    @media (max-width: 767px) {
      padding: 40px 15px 0;
    }
    h2 {
      @media (max-width: 767px) {
        font-size: 24px;
      }
    }
  }
  .modal-close{
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 45px;
  }
  .login-gmail-fb {
    a.router-link-active {
      padding: 10px 10px;
      border-radius: 4px;
      margin-bottom: 15px;
      font-size: 16px;
      font-weight: 600;
      color: $white;
      &.gmail {
        background-color: $bg-gmail;
        &:hover {
          opacity: 0.9;
        }
      }
      &.facebook {
        background-color: $bg-facebook;
        &:hover {
          opacity: 0.9;
        }
      }
      img {
        margin-right: 15px;
        width: 30px;
      }
    }
  }
  .or {
    position: relative;
    background: $white;
    margin: 30px auto;
    z-index: 0;
    padding-bottom: 0;
    span {
      background: $white;
      padding: 0 5px;
      font-weight: 500;
    }
    &:after {
      content: "";
      position: absolute;
      left: 0;
      width: 100%;
      background: $gray-979797;
      height: 1px;
      top: 8px;
      z-index: -1;
    }
  }
  .common-form {
    input {
      border: 1px solid $gray-979797;
      border-radius: 4px;
      height: 60px;
      padding: 10px 10px 10px 60px;
      font-size: 16px;
      font-weight: 500;
      color: $black;
    }
    .email {
      input {
        background-image: url(/assets/icons/icon-mail.png);
        background-repeat: no-repeat;
        background-position: 15px calc(100% - 15px);
        background-size: auto 24px;
      }
    }
    .password {
      input {
        background-image: url(/assets/icons/icon-password.png);
        background-repeat: no-repeat;
        background-position: 15px calc(100% - 15px);
        background-size: auto 30px;
      }
    }
    button[type="submit"] {
      font-size: 20px;
      border-radius: 4px;
      font-weight: 600;
    }
    label {
      font-weight: 500;
      color: $black;
      font-size: 16px;
      .icon {
        display: inline-block;
        vertical-align: middle;
        color: $gray-979797;
      }
    }
  }
  .login-link {
    font-size: 16px;
    color: $black;
    .link {
      color: $bg-facebook;
      font-weight: 600;
      border-bottom: 1px solid;
    }
  }
  .modal-content {
    padding: 40px 50px 0;
    @media (max-width: 767px) {
      padding: 10px 15px 0;
    }
  }
  .redirect-error {
    background-color: $color-error;
    color: $white;
  }
</style>
