<template>
  <div>
    <header class="modal-header relative">
      <h2>
        {{ $t('Signup to') }} <span class="cl-red">{{ $t('PetCLUB') }}</span>
      </h2>
      <i
        slot="close"
        class="modal-close material-icons cl-bg-tertiary"
        @click="closeLoginExtend"
        data-testid="closeLogin"
      >
        {{ $t('close') }}
      </i>
      <p class="align-center  mt15">
        {{ $t('Jollyes PetCLUB rewards you with discounts on shipping, earns you points when you shop which turn into vouchers you can spend on anything at Jollyes.') }}
      </p>
    </header>

    <div class="modal-content bg-cl-white cl-secondary">
      <div class="login-gmail-fb">
        <router-link to="/" class="gmail w-100 flex middle-xs"><img src="/assets/icons/icon-gmail.png" alt="icon-gmail" >{{ $t('Sign up with Google') }}</router-link>
        <router-link to="/" class="facebook w-100 flex middle-xs"><img src="/assets/icons/icon-facebook.png" alt="icon-gmail" >{{ $t('Sign up with Facebook') }}</router-link>
      </div>
      <p class="or align-center block cl-black">
        <span>{{ $t('OR') }}</span>
      </p>
      <form @submit.prevent="register" novalidate class="common-form">
        <div class="row mb10">
          <base-input
            class="col-xs-6 name-field"
            type="text"
            name="first-name"
            :label="false"
            autocomplete="given-name"
            v-model="firstName"
            @blur="$v.firstName.$touch()"
            :placeholder="$t('First Name ')"
            :validations="[
              {
                condition: !$v.firstName.required && $v.firstName.$error,
                text: $t('Field is required.')
              },
              {
                condition: !$v.firstName.minLength,
                text: $t('Name must have at least 2 letters.')
              },
              {
                condition: !$v.firstName.alpha && $v.firstName.$error,
                text: $t('Accepts only alphabet characters.')
              }
            ]"
          />
          <base-input
            class="col-xs-6 name-field"
            type="text"
            name="last-name"
            :label="false"
            autocomplete="last-name"
            v-model="lastName"
            @blur="$v.lastName.$touch()"
            :placeholder="$t('Last name ')"
            :validations="[
              {
                condition: !$v.lastName.required && $v.lastName.$error,
                text: $t('Field is required.')
              },
              {
                condition: !$v.lastName.alpha && $v.lastName.$error,
                text: $t('Accepts only alphabet characters.')
              }
            ]"
          />
        </div>
        <base-input
          class="mb10 email"
          type="email"
          name="email"
          :label="false"
          autocomplete="email"
          v-model="email"
          @blur="$v.email.$touch()"
          :placeholder="$t('E-mail Address')"
          :validations="[
            {
              condition: !$v.email.required && $v.email.$error,
              text: $t('Field is required.')
            },
            {
              condition: !$v.email.email && $v.email.$error,
              text: $t('Please provide valid e-mail address.')
            }
          ]"
        />
        <base-input
          class="mb10 mobile"
          type="number"
          name="email"
          :label="false"
          :placeholder="$t('Mobile Number')"
        />
        <base-input
          class="mb10 password"
          type="password"
          name="password"
          ref="password"
          :label="false"
          autocomplete="new-password"
          v-model="password"
          @blur="$v.password.$touch()"
          :placeholder="$t('Password')"
          :validations="[
            {
              condition: !$v.password.required && $v.password.$error,
              text: $t('Field is required.')
            },
            {
              condition: !$v.password.minLength && $v.password.$error,
              text: $t('Password must have at least 8 letters.')
            }
          ]"
        />
        <base-input
          class="mb10 password"
          type="password"
          name="password-confirm"
          autocomplete="new-password"
          :label="false"
          v-model="rPassword"
          @blur="$v.rPassword.$touch()"
          :placeholder="$t('Repeat password')"
          :validations="[
            {
              condition: !$v.rPassword.required && $v.rPassword.$error,
              text: $t('Field is required.')
            },
            {
              condition: !$v.rPassword.sameAsPassword && $v.rPassword.$error,
              text: $t('Passwords must be identical.')
            }
          ]"
        />
        <base-checkbox
          class="mb10"
          id="terms"
          v-model="conditions"
          @blur="$v.conditions.$reset()"
          @change="$v.conditions.$touch()"
          :validations="[{
            condition: !$v.conditions.sameAs && $v.conditions.$error,
            text: $t('You must accept the terms and conditions.')
          }]"
        >
          {{ $t('I accept terms and conditions') }} *
        </base-checkbox>
        <button-full :disabled="$v.$invalid" class="mb20" type="submit">
          {{ $t('Sign up') }}
        </button-full>
        <div class="center-xs login-link mt20">
          <span>
            {{ $t('or') }}
            <a class="link" href="#" @click.prevent="switchElem">
              {{ $t('login to your account') }}
            </a>
          </span>
        </div>
      </form>
    </div>
  </div>
</template>
<script>
import Register from '@vue-storefront/core/compatibility/components/blocks/Auth/Register'
import ButtonFull from 'theme/components/theme/ButtonFull.vue'
import BaseCheckbox from 'theme/components/core/blocks/Form/BaseCheckbox.vue'
import BaseInput from 'theme/components/core/blocks/Form/BaseInput.vue'
import { required, email, minLength, sameAs, alpha } from 'vuelidate/lib/validators'

export default {
  validations: {
    email: {
      required,
      email
    },
    firstName: {
      minLength: minLength(2),
      required,
      alpha
    },
    lastName: {
      required,
      alpha
    },
    password: {
      minLength: minLength(8),
      required
    },
    rPassword: {
      required,
      sameAsPassword: sameAs('password')
    },
    conditions: {
      sameAs: sameAs(() => true)
    }
  },
  mixins: [Register],
  components: {
    ButtonFull,
    BaseCheckbox,
    BaseInput
  },
  methods: {
    register () {
      if (this.$v.$invalid) {
        this.$v.$touch()
        this.$store.dispatch('notification/spawnNotification', {
          type: 'error',
          message: this.$t('Please fix the validation errors'),
          action1: { label: this.$t('OK') }
        })
        return
      }
      this.callRegister()
    },
    onSuccess () {
      this.$store.dispatch('notification/spawnNotification', {
        type: 'success',
        message: this.$t('You are logged in!'),
        action1: { label: this.$t('OK') }
      })
    },
    onFailure (result) {
      this.$store.dispatch('notification/spawnNotification', {
        type: 'error',
        message: this.$t(result.result),
        action1: { label: this.$t('OK') }
      })
    },
    toggleLogin () {
      this.$store.dispatch('ui/toggleLogin')
    },
    closeLoginExtend () {
      this.toggleLogin()
      this.$store.commit('ui/setSidebar', false)
    }
  }
}
</script>

<style lang="scss">
  .modal-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .modal-close{
    cursor: pointer;
  }
  .modal-content {
    @media (max-width: 400px) {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  .common-form {
    .name-field {
      @media (min-width: 767px) {
        padding-right: 7.5px;
        &:last-child {
          padding-left: 7.5px;
        }
      }
      input {
        padding-left: 15px;
      }
    }
    .mobile {
      input {
        background-image: url(/assets/icons/icon-mobile.png),url(/assets/icons/icon-question.png);
        background-repeat: no-repeat;
        background-position: 15px calc(100% - 15px) , calc(100% - 15px);
        background-size: auto 30px;
      }
    }
  }
</style>
