<template>
  <div class="data-block">
    <div class="brand-search-box">
      <i class="search-icon" />
      <input type="text" name="" value="" placeholder="Search...">
    </div>
    <div class="brands-list">
      <div class="item-row" v-for="(brands, index) in brandsFilter" :key="index">
        <button class="select-box" />
        <strong>
          {{ $t( brands.name ) }}
        </strong>
      </div>
    </div>
    <button class="all-brands cl-red bold">
      {{ $t('See all brands') }}
    </button>
  </div>
</template>

<script>
import brandsFilter from 'theme/resource/filter/brands.json'
import NoSSR from 'vue-no-ssr';

export default {
  components: {
  },
  data () {
    return {
      brandsFilter: brandsFilter.brandsFilter
    }
  }
}
</script>
<style lang="scss">
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$oat: color(oat);
$gray-979797: color(gray-979797);
.all-brands{
  border: 0;
  margin:15px 0 0;
  padding:0;
  background: transparent;
  font-size: 16px;
}
.brand-search-box{
  position: relative;
  margin-bottom: 30px;
  i{
    background: url(/assets/icons/gray-search-icon.png) no-repeat;
    background-size: 100% auto;
    width: 20px;
    height: 20px;
    right: 10px;
    top: 10px;
    position: absolute;
  }
  input{
    border: solid 1px $gray-979797;
    color: $gray-979797;
    font-size: 18px;
    width: 100%;
    height: 40px;
    line-height: 40px;
    padding: 0 35px 0 10px;
  }
}
</style>
