<template>
  <div class="data-block">
    <div class="item-row" v-for="(selectType, index) in selectTypeFilter" :key="index">
      <button class="select-box" />
      <strong>
        {{ $t( selectType.name ) }}
      </strong>
    </div>
  </div>
</template>

<script>
import NoSSR from 'vue-no-ssr';
import selectTypeFilter from 'theme/resource/filter/select-type.json'

export default {
  components: {
  },
  data () {
    return {
      selectTypeFilter: selectTypeFilter.selectTypeFilter
    }
  }
}
</script>
<style lang="scss">
</style>
