<template>
  <div
    class="microcart cl-accent relative"
    :class="[productsInCart.length]"
    data-testid="microcart"
  >
    <transition name="fade">
      <div v-if="isEditMode" class="overlay" @click="closeEditMode" />
    </transition>
    <div class="close-icon">
      <button
        type="button"
        class="p0 brdr-none bg-cl-transparent close"
        @click="closeMicrocartExtend"
        data-testid="closeMicrocart"
      >
        <i class="material-icons pt15 cl-accent">
          close
        </i>
      </button>
    </div>
    <div class="actions cart-title">
      <h3 v-if="productsInCart.length" class="cl-accent icon-basket flex middle-xs">
        <img src="/assets/icons/icon_review_basket.png" alt="icon_review_basket">
        {{ $t('Review basket') }}
      </h3>
      <!-- <div class="col-xs-12 col-sm mt15 mb15 mt0 end-sm clearcart-col">
        <clear-cart-button
          v-if="productsInCart.length"
          @click.native="clearCart"
        />
      </div> -->
    </div>
    <div v-if="!productsInCart.length" class="cl-accent cart-title bottom-border">
      <h3 class="cl-accent icon-basket flex middle-xs">
        <img src="/assets/icons/icon_review_basket.png" alt="icon_review_basket">
        {{ $t('Review basket') }}
      </h3>
    </div>
    <div v-if="!productsInCart.length" class="cart-error" @click="closeMicrocartExtend">
      <h3>{{ $t("Your basket is empty.") }}</h3>
      <p>{{ $t('We have plenty of wonderful things your pet will love for you to fill it with though, so let’s get shopping!') }}</p>
      <router-link :to="localizedRoute('/')" class="btn">
        {{ $t('Continue shopping') }}
      </router-link>
    </div>
    <ul v-if="productsInCart.length" class="micro-products">
      <product v-for="product in productsInCart" :key="product.server_item_id || product.id" :product="product" />
    </ul>
    <!--<div v-if="productsInCart.length" class="summary px40 cl-accent serif">
      <h3 class="m0 pt40 mb30 weight-400 summary-heading">
        {{ $t('Shopping summary') }}
      </h3>
       <div v-for="(segment, index) in totals" :key="index" class="row py20" v-if="segment.code !== 'grand_total'">
        <div class="col-xs">
          {{ segment.title }}
          <button v-if="appliedCoupon && segment.code === 'discount'" type="button" class="p0 brdr-none bg-cl-transparent close delete-button ml10" @click="clearCoupon">
            <i class="material-icons cl-accent">
              close
            </i>
          </button>
        </div>
        <div v-if="segment.value != null" class="col-xs align-right">
          {{ segment.value | price(storeView) }}
        </div>
      </div>
      <div class="row py20">
        <div v-if="OnlineOnly && !addCouponPressed" class="col-xs-12">
          <button
            class="p0 brdr-none serif fs-medium-small cl-accent bg-cl-transparent"
            type="button"
            @click="addDiscountCoupon"
          >
            {{ $t('Add a discount code') }}
          </button>
        </div>
        <div v-if="OnlineOnly && addCouponPressed" class="col-xs-12 pt30 coupon-wrapper">
          <div class="coupon-input">
            <label class="h6 cl-secondary">{{ $t('Discount code') }}</label>
            <base-input type="text" id="couponinput" :autofocus="true" v-model.trim="couponCode" @keyup.enter="setCoupon" />
          </div>
          <button-outline color="dark" :disabled="!couponCode" @click.native="setCoupon">
            {{ $t('Add discount code') }}
          </button-outline>
        </div>
      </div>

      <div class="row pt30 pb20 weight-700 middle-xs" v-for="(segment, index) in totals" :key="index" v-if="segment.code === 'grand_total'">
        <div class="col-xs h4 total-price-label">
          {{ segment.title }}
        </div>
        <div class="col-xs align-right h2 total-price-value">
          {{ segment.value | price(storeView) }}
        </div>
      </div>
    </div>-->

    <div
      class="checkout-btn actions"
      v-if="productsInCart.length && !isCheckoutMode"
    >
      <!-- <div class="col-xs-12 col-sm first-sm">
        <router-link :to="localizedRoute('/')" class="no-underline cl-secondary link">
          <span @click="closeMicrocartExtend">
            {{ $t('Return to shopping') }}
          </span>
        </router-link>
      </div> -->
      <button-full
        class="btn proceed"
        :link="{ name: 'checkout' }"
        @click.native="closeMicrocartExtend"
      >
        {{ $t('Proceed to checkout') }}
      </button-full>
      <instant-checkout v-if="isInstantCheckoutRegistered" class="no-outline button-full block brdr-none w-100 px10 py20 bg-cl-mine-shaft :bg-cl-th-secondary ripple weight-400 h4 cl-white sans-serif fs-medium mt20" />
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import i18n from '@vue-storefront/i18n'
import { isModuleRegistered } from '@vue-storefront/core/lib/modules'
import { currentStoreView } from '@vue-storefront/core/lib/multistore'

import VueOfflineMixin from 'vue-offline/mixin'
import onEscapePress from '@vue-storefront/core/mixins/onEscapePress'
import InstantCheckout from 'src/modules/instant-checkout/components/InstantCheckout.vue'
import { registerModule } from '@vue-storefront/core/lib/modules'

import BaseInput from 'theme/components/core/blocks/Form/BaseInput'
import ClearCartButton from 'theme/components/core/blocks/Microcart/ClearCartButton'
import ButtonFull from 'theme/components/theme/ButtonFull'
import ButtonOutline from 'theme/components/theme/ButtonOutline'
import Product from 'theme/components/core/blocks/Microcart/Product'
import EditMode from './EditMode'
import { InstantCheckoutModule } from 'src/modules/instant-checkout'

export default {
  components: {
    Product,
    // ClearCartButton,
    ButtonFull,
    // ButtonOutline,
    // BaseInput,
    InstantCheckout
  },
  mixins: [
    VueOfflineMixin,
    EditMode,
    onEscapePress
  ],
  data () {
    return {
      addCouponPressed: false,
      couponCode: '',
      componentLoaded: false,
      isInstantCheckoutRegistered: isModuleRegistered('InstantCheckoutModule')
    }
  },
  props: {
    isCheckoutMode: {
      type: Boolean,
      required: false,
      default: () => false
    }
  },
  beforeCreate () {
    registerModule(InstantCheckoutModule)
  },
  mounted () {
    this.$nextTick(() => {
      this.componentLoaded = true
    })
  },
  computed: {
    ...mapGetters({
      productsInCart: 'cart/getCartItems',
      appliedCoupon: 'cart/getCoupon',
      totals: 'cart/getTotals',
      isOpen: 'cart/getIsMicroCartOpen'
    }),
    storeView () {
      return currentStoreView()
    }
  },
  methods: {
    ...mapActions({
      applyCoupon: 'cart/applyCoupon'
    }),
    addDiscountCoupon () {
      this.addCouponPressed = true
    },
    clearCoupon () {
      this.$store.dispatch('cart/removeCoupon')
      this.addCouponPressed = false
    },
    toggleMicrocart () {
      this.$store.dispatch('ui/toggleMicrocart')
    },
    async setCoupon () {
      const couponApplied = await this.applyCoupon(this.couponCode)
      this.addCouponPressed = false
      this.couponCode = ''
      if (!couponApplied) {
        this.$store.dispatch('notification/spawnNotification', {
          type: 'warning',
          message: i18n.t("You've entered an incorrect coupon code. Please try again."),
          action1: { label: i18n.t('OK') }
        })
      }
    },
    closeMicrocartExtend () {
      this.toggleMicrocart()
      this.$store.commit('ui/setSidebar', false)
      this.addCouponPressed = false
    },
    onEscapePress () {
      this.$store.dispatch('ui/closeMicrocart')
    },
    clearCart () {
      this.$store.dispatch('notification/spawnNotification', {
        type: 'warning',
        message: i18n.t('Are you sure you would like to remove all the items from the shopping cart?'),
        action1: { label: i18n.t('Cancel'), action: 'close' },
        action2: { label: i18n.t('OK'),
          action: async () => {
            // We just need to clear cart on frontend and backend.
            // but cart token can be reused
            await this.$store.dispatch('cart/clear', { disconnect: false })
          }
        },
        hasNoTimeout: true
      })
    }
  }
}
</script>

<style lang="scss">
@import "~theme/css/animations/transitions";
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$white: color(white);
$black: color(black);
$gray-979797: color(gray-979797);
$light-gray: color(light-gray);
$red-f14e46: color(red-f14e46);
$red: color(red);

  .bottom-border {
    border-bottom: 1px solid $gray-979797;
  }
  .close {
    i {
      opacity: 0.6;
    }
    &:hover,
    &:focus {
      i {
        opacity: 1;
      }
    }
  }
  .cart-title {
    h3 {
      padding: 10px 35px;
    }
  }
  .cart-error {
    padding: 20px 30px;
    h3 {
      padding: 0 20px 15px;
    }
    p{
      padding: 0 20px 15px;
    }
    .btn {
      display: block;
      text-transform: none;
      font-size: 16px;
    }
  }
  .micro-products {
      border-top: 1px solid $gray-979797;
      padding-top: 10px;
  }
  .mt0 {
    @media (max-width: 767px) {
      margin-top: 0;
    }
  }

  .clearcart {
    &-col {
      display: flex;
      align-self: center;
    }
  }

  .actions {
    @media (max-width: 767px) {
      padding: 0 15px;
    }
    .link {
      @media (max-width: 767px) {
        display: flex;
        justify-content: center;
        padding: 20px 70px;
        &.checkout {
          margin-top: 55px;
          padding: 0;
        }
      }
    }
  }

  .summary {
    @media (max-width: 767px) {
      padding:  0 15px;
      font-size: 12px;
    }
  }

  .summary-heading {
    @media (max-width: 767px) {
      font-size: 18px;
    }
  }

  .total-price-label {
    @media (max-width: 767px) {
      font-size: 18px;
    }
  }

  .total-price-value {
    @media (max-width: 767px) {
      font-size: 24px;
    }
  }

  .delete-button {
    vertical-align: middle;
  }

  .coupon-wrapper {
    display: flex;

    .button-outline {
      text-transform: inherit;
      width: 50%;
    }

    .coupon-input {
      margin-right: 20px;
      width: 100%;
    }
  }

  .fade-enter-active, .fade-leave-active {
    transition: opacity .4s;
  }
  .fade-enter, .fade-leave-to {
    opacity: 0;
  }
  .icon-basket {
    img {
      margin-right: 25px;
    }
  }
  .btn {
    &.proceed {
      text-transform: none;
    }
  }
  .cart-sidebar {
    &.right-sidebar {
      background: $white;
      width: 480px;
      .qty-element-label {
        display: none;
      }
      .material-icons {
        background: $gray-979797;
        color: $white;
        border-radius: 50%;
        margin: 15px 0 0;
        font-size: 20px;
        padding: 2px;
      }
      @media (max-width: 767px) {
        .micro-products {
          padding: 0;
          .cart-box {
            padding-left: 15px;
            padding-right: 0;
            width: 100%;
            .details {
              padding:0;
              .actions {
                padding: 0;
                position: absolute;
                right: 0;
                padding: 0;

              }
            }
          }
          .cart-list {
            padding: 15px;
          }
          .cart-box{
            padding-left: 10px;
          }
        }
      }
      @media (max-width: 575px) {
        width: 320px;
        .actions{
          padding-left: 10px;
          padding-right: 10px;
        }
        h3{
          padding-left: 0;
          padding-right: 0;
        }
        .close-icon{
          display: block;
          position: absolute;
          top: 19px;
          right: 10px;
          padding: 0;
          width: 21px;
          .material-icons{
            background: #000;
            font-size: 17px;
            margin: 0;
          }
        }
      }
    }
    .checkout-btn{
      padding:10px 25px;
    }
  }
  .microcart{
    .close-icon{
      display: none;
    }
  }
</style>
