<template>
  <section>
    <div class="home-slides">
      <no-ssr>
        <div class="relative">
          <div class="swiper-slider-wrap">
            <div v-swiper="swiperOption" :instance-name="sliderId">
              <div class="swiper-wrapper">
                <div class="swiper-slide hover-on-product" v-for="(slide, index) in bannerData" :key="index">
                  <router-link :to="slide.link">
                    <img :src="!isMobile ? slide.image : slide.mobile_image" :alt="slide.title" class="img-cover">
                  </router-link>
                </div>
              </div>
            </div>
          </div>
          <div :style="checkBannerLength" :id="sliderId + '-button-prev'" class="swiper-button-prev" slot="button-prev">
            <img src="/assets/icons/right-arrow.png" alt="Prev">
          </div>
          <div :style="checkBannerLength" :id="sliderId + '-button-next'" class="swiper-button-next" slot="button-next">
            <img src="/assets/icons/right-arrow.png" alt="Next">
          </div>
        </div>
      </no-ssr>
    </div>
  </section>
</template>

<script>
import NoSSR from 'vue-no-ssr';
import SwiperCore, { Navigation, Pagination } from 'swiper';
import { Swiper, SwiperSlide, directive } from 'vue-awesome-swiper'
import 'swiper/swiper.scss'

SwiperCore.use([Navigation, Pagination]);

export default {
  components: {
    'no-ssr': NoSSR
  },
  props: {
    bannerData: {
      type: Array,
      default: () => []
    },
    sliderId: {
      type: String,
      default: 'homepage-banners'
    }
  },
  data () {
    return {
      isMobile: false,
      display: 'display:block',
      swiperOption: {
        spaceBetween: 0,
        slidesPerView: 1,
        loop: false,
        pagination: {
          el: ('#' + this.sliderId + '-pagination'),
          clickable: true
        },
        navigation: {
          nextEl: ('#' + this.sliderId + '-button-next'),
          prevEl: ('#' + this.sliderId + '-button-prev')
        }
      }
    };
  },
  directives: {
    swiper: directive
  },
  computed: {
    checkBannerLength () {
      if (this.bannerData.length === 1) {
        return 'display:none';
      }
      return 'display:block';
    }
  },
  mounted () {
    this.checkIsMobileView();
    // this.checkBannerLength();
    window.addEventListener('resize', this.checkIsMobileView)
  },
  methods: {
    checkIsMobileView () {
      this.isMobile = window.innerWidth <= 767
    }
  }
};
</script>

<style lang="scss" scoped>
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$gray-D8D8D8: color(gray-D8D8D8);
.home-slides {
  .swiper-slide{
    img{
      display: block;
      width: 100%;
    }
  }
}
.home-slides {
  .swiper-button-prev,
  .swiper-button-next{
    position: absolute;
    z-index: 2;
    top: 50%;
    margin-top: -26px;
    &.swiper-button-disabled{
      opacity: 0.5;
    }
    @media (max-width: 767px) {
      display: none;
    }
  }
  .swiper-button-prev {
    transform: rotate(-180deg);
    left: 15px;
  }
  .swiper-button-next {
    right: 15px;
  }
}
</style>
