<template>
  <div class="bg-cl-red align-center gotham">
    <img :src="image" alt="">
  </div>
</template>

<script>
import NoSSR from 'vue-no-ssr';

export default {
  props: {
    image: {
      type: String,
      required: true,
      default: ''
    }
  }
}
</script>
<style lang="scss" scoped>
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$white: color(white);

.offer-banner{
  width: 100%;
  display: none;
  box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
  padding: 50px 20px 0;
  margin-bottom: 25px;
  position: relative;
  overflow: hidden;
  color: $white;
  p{
    margin: 0;
  }
  h2{
    margin: 0 0 15px;
  }
  button{
    position: absolute;
    bottom: 15px;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, 0);
    @media (max-width: 767px) {
      padding: 8px 10px;
      font-size: 10px;
    }
  }
  img{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    max-width: 100%;
  }
}
</style>
