<template>
  <span class="special-offer">
    <strong class="bold">Special offer!</strong>
    <span>Save an extra £100</span>
  </span>
</template>

<script>
import NoSSR from 'vue-no-ssr';

export default {
  name: 'SpecialOffer',
  components: {
  },
  data () {
    return {
    }
  }
}
</script>
<style lang="scss" scoped>
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$red: color(red);

.special-offer{
  color: $red;
  border: solid 1px $red;
  font-size: 12px;
  display: block;
  text-align: center;
  padding: 5px;
  border-radius: 4px;
}
</style>
