<template>
  <div class="breadcrumbs container montserrat semi-bold">
    <span class="home-icon">
      <router-link to="/">
        <img src="/assets/home.svg" alt="">
      </router-link>
      <span class="arrow2" />
    </span>
    <span v-for="link in paths" :key="link.route_link">
      <router-link :to="link.route_link">
        {{ link.name | htmlDecode }}
      </router-link>
      <span class="arrow2" />
    </span>
    <span class="cl-mine-shaft">
      {{ current | htmlDecode }}
    </span>
  </div>
</template>

<script>
import { Breadcrumbs } from '@vue-storefront/core/modules/breadcrumbs/components/Breadcrumbs.ts'

export default {
  mixins: [Breadcrumbs]
}
</script>
<style lang="scss" scoped>
.arrow2{
  &:after{
    content:'';
    border: solid 1px #000;
    border-left: 0;
    border-bottom: 0;
    width: 7px;
    height: 7px;
    display: inline-flex;
    transform: rotate(45deg);
  }
}
.breadcrumbs{
  padding-top:10px;
  padding-bottom:10px;
  font-size:16px;
  .arrow2{
    margin:0 8px;
  }
  span{
    display:inline-flex;
    align-items: center;
  }
  .home-icon{
    img{
      display:block;
    }
    .arrow2{
      padding-top:4px;
    }
  }
  @media (max-width: 767px) {
    font-size:14px;
  }
}
</style>
