<template>
  <transition name="fade" appear>
    <div class="cookie fixed w-100 bg-cl-th-accent cl-tertiary" v-if="isOpen">
      <div class="container">
        <div class="row between-xs middle-xs py20">
          <div class="col-xs-9 start-xs content-center">
            <span class="pr5 cl-white">
              {{ message }}
            </span>
            <router-link :to="localizedRoute(detailsLink)" :title="detailsLinkText" class="cl-white">
              {{ detailsLinkText }}
            </router-link>
          </div>
          <div class="col-xs-3 end-xs">
            <button
              class="p15 pointer okay btn bg-cl-white"
              @click="accept"
              @keyup.enter="accept"
              data-testid="closeCookieButton"
              tabindex="0"
              role="button"
            >
              Ok
            </button>
          </div>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
import i18n from '@vue-storefront/i18n'
export default {
  props: {
    detailsLinkText: {
      type: String,
      default: i18n.t('See details')
    },
    detailsLink: {
      type: String,
      default: '/privacy'
    },
    message: {
      type: String,
      default: i18n.t('We use cookies to give you the best website experience and for marketing and analytical purposes. By continuing to navigate you accept our Privacy and Cookie Policies. Alternatively please manage your cookie preferences.')
    }
  },
  data () {
    return {
      isOpen: false
    }
  },
  methods: {
    accept () {
      this.setVisited()
      this.isOpen = false
    },
    setVisited () {
      this.$store.dispatch('claims/set', { claimCode: 'cookiesAccepted', value: true })
    }
  },
  mounted () {
    this.$store.dispatch('claims/check', { claimCode: 'cookiesAccepted' }).then((cookieClaim) => {
      if (!cookieClaim) {
        this.isOpen = true
        this.$store.dispatch('claims/set', { claimCode: 'cookiesAccepted', value: false })
      } else {
        this.isOpen = !cookieClaim.value
      }
    })
  }
}
</script>

<style lang="scss" scoped>
@import '~theme/css/base/global_vars';
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$black: color(black);
$white: color(white);
$z-index: map-get($z-index, overlay) - 1;

.cookie {
  z-index: $z-index;
  bottom: 0;
  @media (max-width: 767px) {
    bottom: 70px;
  }
  .row {
    @media (max-width: 767px) {
      flex-direction: column;
      .content-center {
        text-align: center;
        padding: 0;
      }
      .btn {
        margin-top: 15px;
      }
    }
  }
}

.icon:hover {
  color: $black;
}
.btn.okay {
  background-color: $white;
  color: $black;
}
</style>
