<template>
  <div class="delivery-option col-md-12 col-xs-12 p0">
    <div class="delivery-box pt5 d-flex">
      <div class="delivery-item delivery-home flex middle-xs bg-cl-white brdr-1 brdr-cl-gray">
        <input type="radio" id="home-delivery24" name="delivery" value="home_delivery" />
        <label for="home-delivery24">
          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="21" viewBox="0 0 30 21" fill="none">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M21.5615 5.25H25.6043L29.6471 10.5V17.0625H26.9519C26.9519 19.2412 25.1461 21 22.9091 21C20.6721 21 18.8663 19.2412 18.8663 17.0625H10.7807C10.7807 19.2412 8.97497 21 6.73797 21C4.50096 21 2.69519 19.2412 2.69519 17.0625H0V2.625C0 1.18125 1.21283 0 2.69519 0H21.5615V5.25ZM4.94118 16.6765C4.94118 17.7018 5.76882 18.5294 6.79412 18.5294C7.81941 18.5294 8.64706 17.7018 8.64706 16.6765C8.64706 15.6512 7.81941 14.8235 6.79412 14.8235C5.76882 14.8235 4.94118 15.6512 4.94118 16.6765ZM24.4621 7.41176L27.1765 11.1176H21V7.41176H24.4621ZM21 16.6765C21 17.7018 21.8276 18.5294 22.8529 18.5294C23.8782 18.5294 24.7059 17.7018 24.7059 16.6765C24.7059 15.6512 23.8782 14.8235 22.8529 14.8235C21.8276 14.8235 21 15.6512 21 16.6765Z" fill="black"/>
          </svg>
          <h2 class="flex">Home delivery - express 24h<span>£4.95 or £2.95 for PetCLUB members</span></h2>
        </label>
      </div>
      <div class="delivery-item delivery-home flex middle-xs bg-cl-white brdr-1 brdr-cl-gray">
        <input type="radio" id="home-delivery48" name="delivery" value="home_delivery" />
        <label for="home-delivery48">
          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="21" viewBox="0 0 30 21" fill="none">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M21.5615 5.25H25.6043L29.6471 10.5V17.0625H26.9519C26.9519 19.2412 25.1461 21 22.9091 21C20.6721 21 18.8663 19.2412 18.8663 17.0625H10.7807C10.7807 19.2412 8.97497 21 6.73797 21C4.50096 21 2.69519 19.2412 2.69519 17.0625H0V2.625C0 1.18125 1.21283 0 2.69519 0H21.5615V5.25ZM4.94118 16.6765C4.94118 17.7018 5.76882 18.5294 6.79412 18.5294C7.81941 18.5294 8.64706 17.7018 8.64706 16.6765C8.64706 15.6512 7.81941 14.8235 6.79412 14.8235C5.76882 14.8235 4.94118 15.6512 4.94118 16.6765ZM24.4621 7.41176L27.1765 11.1176H21V7.41176H24.4621ZM21 16.6765C21 17.7018 21.8276 18.5294 22.8529 18.5294C23.8782 18.5294 24.7059 17.7018 24.7059 16.6765C24.7059 15.6512 23.8782 14.8235 22.8529 14.8235C21.8276 14.8235 21 15.6512 21 16.6765Z" fill="black"/>
          </svg>
          <h2 class="flex">Home delivery - standard 48h<span>£2.95 or FREE for PetCLUB members</span></h2>
        </label>
      </div>
      <div class="delivery-item delivery-collect flex middle-xs bg-cl-white brdr-1 brdr-cl-gray">
        <input type="radio" id="home-collect" name="delivery" value="home_collect" />
        <label for="home-collect">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <path d="M4.05228 10.8401C9.39228 10.8401 14.6223 10.8401 19.9423 10.8401C20.1123 14.5901 20.3823 18.3201 16.9923 21.0001C14.5323 22.9501 11.7723 23.3501 8.90228 22.1501C6.03228 20.9501 4.37228 18.6801 4.07228 15.5701C3.92228 14.0501 4.05228 12.5101 4.05228 10.8401Z" fill="black"/><path d="M4.06152 8.72C4.09152 4.72 7.05152 1.39 10.9315 1C10.9315 3.55 10.9315 6.09 10.9315 8.72C8.67152 8.72 6.41152 8.72 4.06152 8.72Z" fill="black"/><path d="M19.9016 8.72998C17.6716 8.72998 15.4316 8.72998 13.1016 8.72998C13.1016 6.19998 13.1016 3.64998 13.1016 1.08998C16.5916 0.999975 19.9516 4.72998 19.9016 8.72998Z" fill="black"/>
          </svg>
          <h2 class="flex">Collect in 2 hours<span>Ellesmere Port <router-link to="/local" class="link">change</router-link></span></h2>
        </label>
      </div>
    </div>
  </div>
</template>

<script>
export default {
}
</script>

<style lang="scss" scoped>
@import "~theme/css/variables/grid";
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$black: color(black);
$blue: color(blue);
$red: color(red);
$gray-979797: color(gray-979797);

label {
  margin: 5px 0 10px;
  font-size: 14px;
  display: block;
}

.delivery-option {
  .delivery-box {
    .delivery-item {
      margin-bottom: 15px;
      width: 33.33%;
      @media (max-width: 767px) {
        width: 100%;
      }
      &:not(:last-child) {
        margin-right: 1%;
      }
      h2 {
        font-size: 16px;
        flex-direction: column;
        margin: 0 6px;
        width: calc(100% - 40px);
        font-weight: 600;
        span {
          font-weight: normal;
          font-size: 14px;
          .link {
            border-bottom: 1px solid $blue;
            color: $blue;
          }
        }
      }
      input[type="radio"] {
        position: absolute;
        top: 3px;
        left: 0;
        opacity: 0;
      }
      input[type="radio"] + label {
        position: relative;
        width: 100%;
        padding: 10px;
        display: flex;
        align-items: center;
        margin: 0;
        cursor: pointer;
        &:after {
          position: absolute;
          content: "";
          transform: translateY(-50%);
          right: 10px;
          top: 50%;
          background-image: url(/assets/icons/icon-uncheck.png);
          background-repeat: no-repeat;
          background-position: 0 0;
          background-size: auto auto;
          height: 20px;
          width: 20px;
          appearance: none;
        }
      }
      input[type="radio"]:checked {
        + label {
          svg {
            path {
              fill: $red;
            }
          }
           &:after {
              background-image: url(/assets/icons/icon-checked.png);
            }
          }
        }
      }
    }
  }

</style>
