<template>
  <div class="pagination">
    <router-link class="prev" to="">
      <span class="arrow" />
    </router-link>
    <router-link class="active" to="">
      1
    </router-link>
    <router-link class="" to="">
      2
    </router-link>
    <router-link class="" to="">
      3
    </router-link>
    <router-link class="" to="">
      ...
    </router-link>
    <router-link class="" to="">
      33
    </router-link>
    <router-link class="next" to="">
      <span class="arrow" />
    </router-link>
  </div>
</template>
<script>

export default {
}
</script>

<style lang="scss" scoped>
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$black: color(black);
$gray-979797: color(gray-979797);
$red: color(red);
.pagination{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  border-top: solid 1px $gray-979797;
  a{
    border: solid 1px #C3C3C3;
    padding: 5px 10px;
    margin: 0 4px;
    font-weight: 700;
    line-height: 1.2;
    color: $black;
    &:hover{
      color: $red;
    }
    &.active{
      color: $red;
      border-color: $red;
    }
    &.prev{
      span{
        transform: rotate(225deg);
        margin-right: -3px;
      }
    }
    &.next{
      span{
        margin-left: -3px;
      }
    }
  }
}
</style>
