<template>
  <div class="product-listing m0 row center-xs start-md">
    <div
      v-for="(product, keyindex) in products"
      :key="product.id"
      class="productslist"
      :class="productClass(keyindex, columns)"
    >
      <div v-if="isCategoyPage">
        <looking-dog-food v-if="(keyindex===3) && printPromotionalBanner(keyindex, totalProducts)" :banner-place="keyindex" :image="printPromotionalBanner(keyindex, totalProducts)" />
        <product-tile v-else-if="(keyindex<=3)" :product="product" />
        <favorite-brands v-if="OurBrandData.length > 0 && keyindex===8" class="category-favorite-bands bg-cl-light-gray" :sec-title="'Our favourite brands'" :slider-id="'category-favorite-bands'" :per-page-custom="[[200, [4, 20]], [768, ['auto', 20]], [1380, ['auto', 42]]]" :brand-data="OurBrandData" />
        <looking-dog-food v-if="(keyindex===8) && printPromotionalBanner(keyindex, totalProducts)" :banner-place="keyindex" :image="printPromotionalBanner(keyindex, totalProducts)" />
        <product-tile v-else-if="(keyindex<=8 && keyindex>3)" :product="product" />
        <product-tile v-if="(keyindex>8)" :product="product" />
      </div>
      <product-tile v-else :product="product" />
    </div>
  </div>
</template>

<script>
import ProductTile from 'theme/components/core/ProductTile'
import LookingDogFood from 'theme/components/core/blocks/Offers/LookingDogFood'
import FavoriteBrands from 'theme/components/core/blocks/Category/FavoriteBrands'
import { getCategoryUrl } from 'theme/helpers'
import { chunk } from 'lodash';
let lastHero = 0
export default {
  name: 'ProductListing',
  data () {
    return {
      hasPromotionalBanner1: false,
      showTile: true,
      promotionalimage1: '',
      promotionalimage2: '',
      currentCategoryId: 0,
      OurBrandData: []
    }
  },
  components: {
    ProductTile,
    LookingDogFood,
    FavoriteBrands
  },
  props: {
    products: {
      type: null,
      required: true
    },
    category: {
      type: null,
      required: false,
      default: null
    },
    isCategoyPage: {
      type: Boolean,
      required: false,
      default: false
    },
    columns: {
      type: [Number, String],
      required: true
    },
    totalProducts: {
      type: Number,
      required: false,
      default: 0
    }
  },
  methods: {
    showTileProduct () {
      const chunkSize = 3;
      const arrayFromObject = Object.entries(this.products).map(([key, value]) => ({ [key]: value }));
      const final = chunk(arrayFromObject, chunkSize);
    },
    productClass (key, columns) {
      let cl = '';
      if (key === 8) {
        cl = 'w-100 full-width-block';
      } else {
        cl = 'col-sm-6 col-md-6 col-xs-6 col-lg-4 flex col-xl-' + (12 / columns);
      }
      return cl;
    },
    wide (isOnSale, isNew, index) {
      let deltaCondition = index > 0 && ((index - 1) - lastHero) % 2 === 0
      // last image always shouldn't be big, we also need to count from last promoted to check if it will look ok
      let isHero = ((isOnSale === '1' || isNew === '1') && deltaCondition) || (index === this.products.length - 1 && (index - lastHero) % 2 !== 0)
      if (isHero) {
        lastHero = index
      }
      return isHero ? 'col-xs-12' : 'col-xs-6'
    },
    printPromotionalBanner (key, productTotal) {
      console.log('this.category.promotionalimage1', this.category.promotionalimage1);
      if (productTotal > 3 && key === 3 && this.category.promotionalimage1 !== null) {
        console.log('ifin');
        this.hasPromotionalBanner1 = true;
        const banner1 = this.category.promotionalimage1.split(/[/ ]+/).pop();
        return this.getCategoryImage(banner1)
        // this.promotionalimage1 = this.getCategoryImage(banner1)
      } else if (!this.hasPromotionalBanner1 && productTotal > 8 && key === 8 && this.category.promotionalimage2 !== null) {
        console.log('else if');
        const banner2 = this.category.promotionalimage2.split(/[/ ]+/).pop();
        return this.getCategoryImage(banner2)
        // this.promotionalimage2 = this.getCategoryImage(banner2)
      }
      return false;
    },
    getCategoryImage (img) {
      return getCategoryUrl(img)
    }
  },
  async mounted () {
    if (this.currentCategoryId > 0) {
      await this.$store.dispatch('ourbrands/getOurBrandslist', this.currentCategoryId);
      this.OurBrandData = this.$store.getters['ourbrands/getOurBrandslist'] || [];
    }
    this.showTileProduct()
  },
  created () {
    console.log('this.category.id', this.category);
    if (this.category !== undefined) {
      this.currentCategoryId = 464
    }
  }
}
</script>
<style lang="scss" scoped>
</style>
