<template>
  <div class="product-thumb-slider" v-if="isOnline">
    <product-gallery-overlay
      v-if="isZoomOpen"
      :current-slide="currentSlide"
      :gallery="gallery"
      @close="toggleZoom"
    />
    <div class="thumb-slider-left" v-if="enableThumbSliderLeft">
      <div class="swiper-button-prev">
        <i class="material-icons">keyboard_arrow_up</i>
      </div>
      <swiper class="swiper gallery-thumbs" :options="swiperOptionThumbs" ref="swiperThumbs" @click-slide="onSwiperThumbsClick">
        <swiper-slide class="product-thumb-item" v-for="(images, index) in gallery" :key="images.src" :class="{ 'current-slide' : currentThumbSlide === index }">
          <product-image
            :image="images"
            :alt="productName | htmlDecode"
          />
        </swiper-slide>
      </swiper>
      <div class="swiper-button-next">
        <i class="material-icons">keyboard_arrow_down</i>
      </div>
    </div>
    <div class="thumb-slider-right">
      <div class="swiper-button-prev">
        <i class="material-icons">keyboard_arrow_left</i>
      </div>
      <swiper class="swiper gallery-top" :options="swiperOptionTop" ref="swiperTop">
        <swiper-slide
          v-for="(images, index) in gallery"
          :key="images.src"
        >
          <div
            class="product-image-container"
            :class="{'video-container w-100 h-100 flex relative': images.video}"
          >
            <product-image
              v-show="hideImageAtIndex !== index"
              class="pointer image"
              :image="images"
              :alt="productName | htmlDecode"
              @dblclick="openOverlay"
            />
            <product-video
              v-if="images.video"
              v-bind="images.video"
              :index="index"
              @video-started="onVideoStarted"
            />
          </div>
        </swiper-slide>
      </swiper>
      <div class="swiper-button-next">
        <i class="material-icons">keyboard_arrow_right</i>
      </div>
    </div>
  </div>
  <product-image v-else :image="offline" />
</template>

<script>
import ProductImage from './ProductImage'
import ProductVideo from './ProductVideo'
import reduce from 'lodash-es/reduce'
import map from 'lodash-es/map'
import { onlineHelper } from '@vue-storefront/core/helpers'
import SwiperCore, { Navigation } from 'swiper';
import { Swiper, SwiperSlide } from 'vue-awesome-swiper'
import 'swiper/swiper.scss'
import ProductGalleryOverlay from './ProductGalleryOverlay'

SwiperCore.use([Navigation]);

export default {
  components: {
    ProductImage,
    ProductVideo,
    Swiper,
    SwiperSlide,
    ProductGalleryOverlay
  },
  props: {
    gallery: {
      type: Array,
      required: true
    },
    productName: {
      type: String,
      default: ''
    }
  },
  data () {
    let current = this
    return {
      isZoomOpen: false,
      hideImageAtIndex: null,
      currentThumbSlide: 0,
      currentSlide: 0,
      enableThumbSliderLeft: true,
      swiperOptionTop: {
        spaceBetween: 0,
        navigation: {
          nextEl: '.thumb-slider-right .swiper-button-next',
          prevEl: '.thumb-slider-right .swiper-button-prev'
        },
        on: {
          slideChange () {
            current.swiperThumbs.slideTo(this.activeIndex, 500, false);
            current.currentThumbSlide = this.activeIndex;
            // current.swiperThumbs.updateSlidesClasses();
          }
        }
      },
      swiperOptionThumbs: {
        direction: 'vertical',
        spaceBetween: 0,
        slidesPerView: 'auto',
        touchRatio: 0.2,
        slideToClickedSlide: true,
        freeMode: true,
        navigation: {
          nextEl: '.thumb-slider-left .swiper-button-next',
          prevEl: '.thumb-slider-left .swiper-button-prev'
        },
        breakpoints: {
          0: {
            direction: 'horizontal'
          },
          768: {
            direction: 'vertical'
          }
        },
        on: {
          slideChange () {
            current.swiperTop.slideTo(this.activeIndex, 500, false);
          }
        }
      }
    }
  },
  computed: {
    isOnline (value) {
      return onlineHelper.isOnline
    },
    swiperTop () {
      return this.$refs.swiperTop.$swiper
    },
    swiperThumbs () {
      return this.$refs.swiperThumbs.$swiper
    }
  },
  mounted () {
    this.$emit('loaded');
    this.checkWindowWidth();
    window.addEventListener('resize', this.checkWindowWidth);
  },
  methods: {
    onSwiperThumbsClick (index) {
      this.swiperTop.slideTo(index, 500, false);
    },
    onSwiperTopClick (index) {
      this.swiperThumbs.slideTo(index, 500, false);
    },
    onVideoStarted (index) {
      this.hideImageAtIndex = index
    },
    openOverlay () {
      this.currentSlide = this.swiperTop.activeIndex
      this.$emit('toggle', this.currentSlide)
      this.toggleZoom()
    },
    toggleZoom () {
      this.isZoomOpen = !this.isZoomOpen
    },
    onEscapePress () {
      if (this.isZoomOpen) {
        this.toggleZoom()
      }
    },
    checkWindowWidth () {
      if (screen.width > 767) {
        this.enableThumbSliderLeft = true;
      } else {
        this.enableThumbSliderLeft = false;
      }
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~theme/css/animations/transitions';
.zoom-in {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}
.video-container {
  align-items: center;
  justify-content: center;
}
</style>
<style lang="scss">
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$color-primary: color(primary);
$color-secondary: color(secondary);
$color-white: color(white);
$gray-c3c3c3: color(gray-c3c3c3);

.product-thumb-slider {
  display: flex;
  overflow: hidden;
  max-height: 600px;

  .thumb-slider-right {
    border: 0 none;
    background-color: $color-white;
    flex: 0 0 calc(100% - 120px);
    max-width: calc(100% - 120px);
    border: 1px solid $gray-c3c3c3;
    position: relative;

    @media (max-width: 767px) {
      flex: 0 0 100%;
      max-width: 100%;
    }

    .product-image,
    .product-image-container,
    .swiper-container {
      height: 100%;
    }

    .product-image {
      padding: 0 !important;
    }

    .product-image__thumb {
      position: relative;
      max-width: 100%;
      max-height: 100%;
    }

    .swiper-button-prev,
    .swiper-button-next {
      display: none;
      cursor: pointer;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 2;

      @media (max-width: 767px) {
        display: block;
      }

      i {
        font-size: 50px;
      }

      &.swiper-button-disabled {
        opacity: 0.3;
      }
    }

    .swiper-button-prev {
      left: 0;
    }

    .swiper-button-next {
      right: 0;
    }
  }

  .thumb-slider-left {
    padding-right: 20px;
    flex: 0 0 120px;
    max-width: 120px;
    position: relative;
    display: flex;
    flex-direction: column;

    @media (max-width: 767px) {
      // display: none;
    }

    .product-image,
    .product-image-container,
    .swiper-container {
      height: 100%;
    }

    .swiper-container {
      width: 100%;

      .swiper-slide {
        flex-grow: 0;
        flex-shrink: 1;

        @media (max-width: 767px) {
          flex: 0 0 87px;
          max-width: 87px;
        }

        .product-image {
          border: 1px solid $gray-c3c3c3;
        }

        &.current-slide {
          .product-image {
            border-color: $color-secondary;
          }
        }
      }
    }

    .swiper-button-prev,
    .swiper-button-next {
      text-align: center;
      cursor: pointer;
      background-color: $color-white;
      line-height: 1;

      i {
        font-size: 50px;
      }

      &.swiper-button-disabled {
        opacity: 0.3;
      }
    }
  }

  @media screen and (max-width: 767px) {
    margin-bottom: 20px;
  }
}
</style>
