<template>
  <div class="product w-100 roboto relative" v-observe-visibility="visibilityChanged">
    <span class="sale-tag" v-if="product.sticker_ribbons_img"><img :src="product.sticker_ribbons_img" alt="Ribbons"></span>
    <ul class="product_stickers" v-if="product.product_sticker_img && product.product_sticker_img.length > 0">
      <li v-for="(sticker, index) in product.product_sticker_img" :key="index">
        <span class="sale-tag"><img :src="sticker" alt="Sticker"></span>
      </li>
    </ul>
    <div class="product__icons">
      <AddToWishlist :product="product">
        <div
          class="product__icon"
          :class="{'product__icon--active': isOnWishlist }"
          :title="isOnWishlist ? $t('Remove') : $t('Add to favorite') "
        >
          <i class="material-icons">{{ favoriteIcon }}</i>
        </div>
      </AddToWishlist>
      <!-- <AddToCompare :product="product">
        <div
          class="product__icon"
          :class="{'product__icon--active':isOnCompare } "
          :title="isOnCompare ? $t('Remove from compare') : $t('Add to compare')"
        >
          <i class="material-icons">compare</i>
        </div>
      </AddToCompare> -->
    </div>
    <router-link
      class="block no-underline product-link"
      :to="productLink"
      data-testid="productLink"
    >
      <div
        class="product-cover"
        :class="[{ sale: labelsActive && isOnSale }, { new: labelsActive && isNew }]"
      >
        <product-image
          class="product-cover__thumb"
          :image="thumbnailObj"
          :alt="product.name | htmlDecode"
          :calc-ratio="false"
          data-testid="productImage"
        />
      </div>

      <p class="pro-title medium" v-if="!onlyImage">
        {{ product.name | htmlDecode }}
      </p>
      <div class="product-reviews-summary short flex middle-sm">
        <div class="rating-summary">
          <span class="rating-result" style="width:70%" :style="productRatingLength" />
        </div>
        <span class="reviews-actions">{{ $t('3.5 Reviews') }}</span>
      </div>

      <special-offer />

      <div class="product-price">
        <span
          class="price-original mr5 lh30"
          v-if="product.special_price && parseFloat(product.original_price_incl_tax) > 0 && !onlyImage"
        >{{ product.original_price_incl_tax | price(storeView) }}</span>
        <span
          class="price-special lh30 cl-accent weight-700"
          v-if="product.special_price && parseFloat(product.special_price) > 0 && !onlyImage"
        >{{ product.price_incl_tax | price(storeView) }}</span>

        <span
          class="price-special"
          v-if="!product.special_price && parseFloat(product.price_incl_tax) > 0 && !onlyImage"
        >{{ product.price_incl_tax | price(storeView) }} <del>{{ $t('$70') }}</del></span>
        <div class="subscribe-offer-price flex">
          <span class="price-special">
            {{ product.price_incl_tax | price(storeView) }}
          </span>
          <span class="subscribe-link"> <img src="/assets/icons/subscribe-icon.png" alt="">
            {{ $t('Subscribe & Save') }}
          </span>
        </div>
      </div>
      <div class="availability-status align-right bold">
        {{ $t('Collect only') }}
      </div>
    </router-link>
  </div>
</template>

<script>
import rootStore from '@vue-storefront/core/store'
import { ProductTile } from '@vue-storefront/core/modules/catalog/components/ProductTile.ts'
import config from 'config'
import ProductImage from './ProductImage'
import AddToWishlist from 'theme/components/core/blocks/Wishlist/AddToWishlist'
// import AddToCompare from 'theme/components/core/blocks/Compare/AddToCompare'
import { IsOnWishlist } from '@vue-storefront/core/modules/wishlist/components/IsOnWishlist'
import { IsOnCompare } from '@vue-storefront/core/modules/compare/components/IsOnCompare'
import { currentStoreView } from '@vue-storefront/core/lib/multistore'
import SpecialOffer from 'theme/components/core/blocks/Offers/SpecialOffer'

export default {
  mixins: [ProductTile, IsOnWishlist, IsOnCompare],
  components: {
    ProductImage,
    AddToWishlist,
    // AddToCompare,
    SpecialOffer
  },
  props: {
    labelsActive: {
      type: Boolean,
      default: true
    },
    onlyImage: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    thumbnailObj () {
      return {
        src: this.thumbnail,
        loading: this.thumbnail
      }
    },
    favoriteIcon () {
      return this.isOnWishlist ? 'favorite' : 'favorite_border'
    },
    storeView () {
      return currentStoreView()
    },
    productRatingLength () {
      if (this.product.rating !== '' && this.product.rating > 0) {
        const ratingVal = Math.round(this.product.rating);
        return 'width:' + ratingVal + '%';
      } else {
        return 'width:0';
      }
    }
  },
  methods: {
    onProductPriceUpdate (product) {
      if (product.sku === this.product.sku) {
        Object.assign(this.product, product)
      }
    },
    visibilityChanged (isVisible, entry) {
      if (
        isVisible &&
        config.products.configurableChildrenStockPrefetchDynamic &&
        config.products.filterUnavailableVariants &&
        this.product.type_id === 'configurable' &&
        this.product.configurable_children &&
        this.product.configurable_children.length > 0
      ) {
        const skus = [this.product.sku]
        for (const confChild of this.product.configurable_children) {
          const cachedItem = rootStore.state.stock.cache[confChild.id]
          if (typeof cachedItem === 'undefined' || cachedItem === null) {
            skus.push(confChild.sku)
          }
        }
        if (skus.length > 0) {
          rootStore.dispatch('stock/list', { skus: skus }) // store it in the cache
        }
      }
    }
  },
  beforeMount () {
    this.$bus.$on('product-after-priceupdate', this.onProductPriceUpdate)
  },
  beforeDestroy () {
    this.$bus.$off('product-after-priceupdate', this.onProductPriceUpdate)
  }
}
</script>

<style lang="scss" scoped>
@import '~theme/css/animations/transitions';
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';

$bg-secondary: color(secondary, $colors-background);
$border-secondary: color(secondary, $colors-border);
$white: color(white);
$oat: color(oat);
$gray-979797: color(gray-979797);

.product{
  position: relative;
  border-radius: 8px;
  background-color: $white;
  padding:10px;
  margin-bottom:25px;
  a{
    &:hover{
      color: #000;
    }
  }
  .sale-tag{
    position: absolute;
    left: -2px;
    top: -2px;
  }
  .pro-title{
    margin: 10px 0 0;
    padding:0;
    min-height: 36px;
    font-size:14px;
  }
  @media (max-width: 767px) {
    padding: 5px;
  }
  &__icons {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
  }
  &__icon {
    opacity: 1;
    z-index: 2;
    transition: 0.3s opacity $motion-main;
    @media (max-width: 767px) {
      opacity: 1;
    }
    &--active {
      opacity: 1;
    }
  }
  .product__icon{
    .material-icons{
      opacity:0.3;
    }
  }
}
.product-reviews-summary{
  padding: 10px 0;
  &.short{
    .rating-summary{
      background: url(/assets/icons/star.png);
      background-size:auto 16px;
      width: 81px;
      height: 16px;
      .rating-result{
        background: url(/assets/icons/star-active.png);
        background-size:auto 16px;
        display: block;
        height: 16px;
      }
    }
    .reviews-actions{
      font-size: 12px;
      margin-left: 12px;
    }
  }
  @media (max-width: 767px) {
    .sale-tag{
      img{
        max-width:55px;
      }
    }
  }
}
.product-price{
  padding: 10px 0 5px 0;
  .price-special{
    font-weight: 700;
    font-size: 18px;
    del{
      color: $gray-979797;
    }
  }
  .subscribe-offer-price{
    padding-top: 5px;
  }
  .subscribe-link{
    font-size: 10px;
    padding: 0 0 0 5px;
    img{
      max-width: 12px;
      margin-right: 5px;
      vertical-align: bottom;
    }
  }
  @media (max-width: 767px) {
    .price-special{
      font-size:14px;
    }
    .availability-status{
      font-size:10px;
    }
  }
}
.availability-status{
  font-size: 12px;
   @media (max-width: 767px) {
    .availability-status{
      font-size:10px;
    }
  }
}
.price-original {
  text-decoration: line-through;
}

%label {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: $border-secondary;
  text-transform: uppercase;
  color: $white;
  font-size: 12px;
}

.product-cover {
  overflow: hidden;
  padding: 0 30px;

  &__thumb {
    padding-bottom: calc(143.88% / (164.5 / 100));
    @media screen and (min-width: 768px) {
      padding-bottom: calc(300% / (276.5 / 115));
    }
    opacity: 0.8;
    will-change: opacity, transform;
    transition: 0.3s opacity $motion-main, 0.3s transform $motion-main;
  }

  @media screen and (min-width: 768px) {
    &:hover {
      .product-cover__thumb {
        opacity: 1;
        transform: scale(1.1);
      }
      &.sale::after,
      &.new::after {
        opacity: 0.8;
      }
    }
  }

  &.sale {
    &::after {
      @extend %label;
      content: 'Sale';
    }
  }
  &.new {
    &::after {
      @extend %label;
      content: 'New';
    }
  }
}
</style>
