<template>
  <div
    class="inline-flex relative dropdown"
    @click="openLogin"
    data-testid="openLogin"
    @keyup.enter="goToPetclubPoints"
    tabindex="0"
    role="button"
    @mouseover="showMenu = true"
    @mouseout="showMenu = false"
    :aria-label="$t('Open my account')"
  >
    <button type="button" class="account-icon bg-cl-transparent brdr-none p0 bold">
      <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M23.4 11C23.4 14.866 20.266 18 16.4 18C12.534 18 9.40002 14.866 9.40002 11C9.40002 7.13401 12.534 4 16.4 4C20.266 4 23.4 7.13401 23.4 11Z" fill="#111111" />
        <path d="M4 29C4 23.9505 8.0934 19.8571 13.1429 19.8571H18.8571C23.9066 19.8571 28 23.9505 28 29H4Z" fill="#111111" />
      </svg>
      <span>
        {{ $t('Sign In') }}
      </span>
    </button>

    <no-ssr>
      <div v-show="currentUser" :class="['dropdown-content bg-cl-primary align-left sans-serif lh20 weight-400', !showMenu ? 'dropdown-content__hidden' : 'dropdown-content__show']">
        <div class="py5">
          <div v-for="(page, index) in navigation" :key="index" @click="notify(page.title)">
            <router-link @click.native="showMenu = false" class="no-underline block py10 px15" :to="localizedRoute(page.link)">
              {{ page.title }}
            </router-link>
          </div>
        </div>
        <div class="py5 brdr-top-1 brdr-cl-bg-secondary">
          <a href="#" class="no-underline block py10 px15" @click.prevent="logout">
            {{ $t('Logout') }}
          </a>
        </div>
      </div>
    </no-ssr>
  </div>
</template>

<script>
import NoSSR from 'vue-no-ssr'
import { mapActions } from 'vuex'
import AccountIcon from '@vue-storefront/core/compatibility/components/blocks/Header/AccountIcon'
import EventBus from '@vue-storefront/core/compatibility/plugins/event-bus'
export default {
  mixins: [AccountIcon],
  components: {
    'no-ssr': NoSSR
  },
  data () {
    return {
      showMenu: false,
      navigation: [
        { title: this.$t('PetCLUB Points'), link: '/my-account/petclub-points' },
        { title: this.$t('PetCLUB Vouchers'), link: '/my-account/petclub-vouchers' },
        { title: this.$t('My profile'), link: '/my-account' },
        { title: this.$t('My shipping details'), link: '/my-account/shipping-details' },
        { title: this.$t('My newsletter'), link: '/my-account/newsletter' },
        { title: this.$t('My orders'), link: '/my-account/orders' },
        { title: this.$t('My loyalty card'), link: '#' },
        { title: this.$t('My product reviews'), link: '#' },
        { title: this.$t('My Recently viewed products'), link: '/my-account/recently-viewed' }
      ]
    }
  },
  methods: {
    notify (title) {
      if (title === 'My loyalty card' || title === 'My product reviews') {
        this.$store.dispatch('notification/spawnNotification', {
          type: 'warning',
          message: this.$t('This feature is not implemented yet! Please take a look at https://github.com/DivanteLtd/vue-storefront/issues for our Roadmap!'),
          action1: { label: this.$t('OK') }
        })
      }
    },
    ...mapActions({
      openLogin: 'ui/toggleLogin'
    }),
    goToPetclubPoints () {
      if (this.currentUser) {
        this.$router.push(this.localizedRoute('/my-account/petclub-points'))
      } else {
        this.$store.commit('ui/setAuthElem', 'login')
        EventBus.$emit('modal-show', 'modal-signup')
      }
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$color-icon-hover: color(secondary, $colors-background);
$white: color(white);
$black: color(black);
$red: color(red);

.account-icon{
  font-size: 14px;
  padding: 0 35px;
  span{
    display: block;
    padding: 2px 0 0;
  }
  @media (max-width: 1200px) {
    padding: 0 20px;
    font-size: 13px;
    img{
      height: 25px;
    }
  }
}
.dropdown {
  .dropdown-content {
    display: none;
    position: absolute;
    right:35px;
    top: 100%;
    width:260px;
    z-index: 1;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    a{
      color:$white;
      font-weight: 500;
      &:hover{
        background:$red;
      }
    }
  }

  @media (min-width: 768px) {
    &:hover .dropdown-content:not(.dropdown-content__hidden),
    &:focus .dropdown-content:not(.dropdown-content__hidden) {
      display: block;
    }

    // &:focus-within {
    //   background-color: $color-icon-hover;
    //   opacity: 1;
    //   .dropdown-content:not(.dropdown-content__hidden) {
    //     display: block;
    //   }
    // }
  }

}
</style>
