<template>
  <div>
    <div class="main-menu brdr-bottom-1 bg-cl-white brdr-cl-gray-979797 hide-m">
      <div class="container menu-header-links">
        <ul v-if="categories.length > 0" class="flex center-xs gotham extra-bold">
          <li
            :class="[category.children_count > 0 ? 'has-children' : '', 'head-category-list']"
            v-for="(category, index) of categories"
            :key="index"
            @mouseover="getSubCategory(category.id)"
            @mouseleave="leaveSubCategory"
          >
            <span>{{ category.name }}</span>
            <transition name="fade">
              <div
                class="mega-menu"
                v-if="childData !== null && hover && parentID === category.id"
              >
                <div class="flex">
                  <div class="sub-menu-list">
                    <ul class="mega-menu-link flex" v-if="childData !== null">
                      <li class="p-c-name sub-title" v-for="(sub,indexin) of childData" :key="indexin">
                        <router-link
                          :to="categoryLink(sub)"
                          @click.native="leaveSubCategory"
                        >
                          {{ sub.name }}
                        </router-link>
                        <ul class="s-mega-menu-link" v-if="sub.children_data && sub.children_data.length > 0">
                          <li class="s-c-name subcategory-item" v-for="ssub of sub.children_data" :key="ssub.url_key">
                            <router-link
                              class="no-underline f-s-16 cl-gray-969196 weight-600"
                              :to="categoryLink(ssub)"
                            >
                              {{ ssub.name }}
                            </router-link>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                  <div class="sub-menu-banners">
                    <div class="category-img relative">
                      <h3>
                        {{ category.name }}
                      </h3>
                      <router-link :to="categoryLink(category)" class="f-s-14 cl-purple-D3B3E6 no-underline flex middle-xs center-xs">
                        <img
                          :src="getCategoryImage(category.image)"
                          :alt="category.name"
                        >
                      </router-link>
                    </div>
                  </div>
                </div>
              </div>
            </transition>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>
<script>
import config from 'config';
import { formatCategoryLink } from '@vue-storefront/core/modules/url/helpers';
import { getCategoryUrl } from 'theme/helpers'

export default {
  name: 'CategoryMenu',
  data () {
    return {
      childData: null,
      hover: false,
      parentID: null,
      menu_hover: false
    };
  },
  props: {
    categories: {
      type: [Object, Array],
      required: true
    }
  },
  methods: {
    async getSubCategory (parent_id) {
      this.menu_hover = !this.menu_hover;
      this.parentID = parent_id;
      let childCatData = await this.$store.dispatch('category/list', {
        parent: parent_id
      });
      this.childData =
        childCatData && childCatData.items.length > 0
          ? childCatData.items
          : null;

      if (this.childData != null) {
        if (this.childData.length > 0) {
          this.hover = true;
        } else {
          this.hover = false;
        }
      }
    },
    leaveSubCategory () {
      this.childData = null
      this.hover = false
      this.parentID = null
      this.menu_hover = false
    },
    categoryLink (category) {
      return formatCategoryLink(category);
    },
    getCategoryImage (img) {
      return getCategoryUrl(img)
    }
  }
};
</script>

<style lang="scss">
@import "~theme/css/variables/colors";
@import "~theme/css/helpers/functions/color";
$gray-979797: color(gray-979797);
$light-gray: color(light-gray);
.main-menu{
  ul{
    list-style-type: none;
    .head-category-list{
      font-size: 16px;
      text-transform: uppercase;
      padding: 20px 25px;
      &:first-child{
        padding-left: 0;
      }
      &:last-child{
        padding-right: 0;
      }
      span{
        display: flex;
        align-items: center;
        position: relative;
        cursor: pointer;
      }
      &.has-children {
        > span{
          padding-right: 36px;
          &::after{
            content: '';
            display: inline-block;
            background: url(/assets/icons/down-arrow.png) no-repeat;
            width: 16px;
            height: 9px;
            position: absolute;
            right: 0;
          }
        }
      }
      .mega-menu{
        position: absolute;
      }
    }
  }
  @media (max-width: 1360px) {
    ul{
      .head-category-list{
        padding-left: 13px;
        padding-right: 13px;
        &.has-children {
          a{
            padding-right: 26px;
          }
        }
      }
    }
  }
  @media (max-width: 1160px) {
    ul{
      .head-category-list{
        > span{
          font-size: 16px;
          &::after{
            margin-left: 9px;
            background-size: 100% auto;
            width: 12px;
            height: 7px;
          }
        }
      }
    }
  }
  .menu-header-links{
    position: relative;
    .mega-menu{
      left: 0;
      top: 60px;
      background: $light-gray;
      border-top: solid 1px $gray-979797;
      width: 100%;
      text-align: left;
      max-height: 440px;
      overflow-y: scroll;
      .sub-menu-list{
        width: 75%;
        padding: 25px;
        .mega-menu-link{
          display: flex;
          flex-wrap: wrap;
          > li{
            padding: 10px;
            width: 33.333333%;
            > a{
              text-decoration: none;
              font-weight: 500;
              text-transform: capitalize;
              display: block;
              padding: 0 0 5px;
              border-bottom: solid 1px $gray-979797;
            }
            .s-mega-menu-link{
              font-weight: normal;
              font-size: 14px;
              text-transform: capitalize;
              padding: 10px 0 0 0;
              li{
                padding: 5px 0 0 0;
              }
            }
          }
        }

      }
      .sub-menu-banners{
        padding: 25px;
        padding-left: 0;
        width: 25%;
        h3{
          margin-bottom: 10px;
        }
        img{
          max-width: 100%;
        }
      }
    }
  }
}

</style>
