<template>
  <div class="header" :class="{ 'active' : hamburger}">
    <header
      class="fixed w-100"
      :class="{ 'is-visible': navVisible }"
    >
      <TopPromotionalBar />
      <div class="main-header brdr-bottom-1 bg-cl-white brdr-cl-gray-979797">
        <div class="container">
          <div class="flex middle-xs" v-if="!isCheckoutPage || isThankYouPage">
            <div class="main-logo flex middle-md">
              <div @click="openbox(1)" :class="{ 'active' : hamburger}">
                <hamburger-icon class="visible-xs pointer" />
              </div>
              <logo width="auto" height="auto" />
            </div>
            <div class="search-icon" :class="isMSearchInput ? 'mobile-search' : 'end-xs'">
              <search-icon class="pointer" :is-mobile-search="isMSearchInput" />
            </div>
            <div class="right-icons flex middle-xs end-xs">
              <wishlist-icon class="pointer hidden-md" />
              <store-locator class="pointer" />
              <account-icon class="pointer" />
              <microcart-icon class="pointer" />
            </div>
          </div>
          <div class="row between-xs middle-xs py5" v-if="isCheckoutPage && !isThankYouPage">
            <!-- <div class="col-xs-5 col-md-3 middle-xs">
              <div>
                <router-link
                  :to="localizedRoute('/')"
                  class="cl-tertiary"
                >
                  {{ $t('Return to shopping xyz') }}
                </router-link>
              </div>
            </div> -->
            <div class="col-xs-12 col-md-12 flex bottom-xs">
              <logo width="auto" height="41px" />
              <p class="secure-checkout ml15">
                <img src="/assets/icons/icon-locked.png" alt="icon-locked">
                {{ $t ('Secure checkout') }}
              </p>
            </div>
            <!-- <div class="col-xs-5 col-md-3 end-xs">
              <div>
                <a
                  v-if="!currentUser"
                  href="#"
                  @click.prevent="gotoAccount"
                  class="cl-tertiary"
                >{{ $t('Login to your account') }}</a>
                <span v-else>{{ $t('You are logged in as {firstname}', currentUser) }}</span>
              </div>
            </div> -->
          </div>
        </div>
      </div>
      <!-- <category-menu class="hidden-xs" /> -->
      <category-menu :categories="categories" />
    </header>
    <div class="header-placeholder" />
  </div>
</template>

<script>
import { mapState, mapGetters } from 'vuex'
import CurrentPage from 'theme/mixins/currentPage'
import AccountIcon from 'theme/components/core/blocks/Header/AccountIcon'
import HamburgerIcon from 'theme/components/core/blocks/Header/HamburgerIcon'
import Logo from 'theme/components/core/Logo'
import MicrocartIcon from 'theme/components/core/blocks/Header/MicrocartIcon'
import SearchIcon from 'theme/components/core/blocks/Header/SearchIcon'
import TopPromotionalBar from 'theme/components/core/blocks/Header/TopPromotionalBar.vue'
import StoreLocator from 'theme/components/core/blocks/Header/StoreLocator.vue'
import CategoryMenu from './CategoryMenu'
import config from 'config'
import WishlistIcon from 'theme/components/core/blocks/Header/WishlistIcon'

export default {
  name: 'Header',
  components: {
    AccountIcon,
    HamburgerIcon,
    Logo,
    MicrocartIcon,
    SearchIcon,
    TopPromotionalBar,
    StoreLocator,
    CategoryMenu,
    WishlistIcon
  },
  mixins: [CurrentPage],
  data () {
    return {
      navVisible: true,
      isScrolling: false,
      scrollTop: 0,
      lastScrollTop: 0,
      navbarHeight: 95,
      isMSearchInput: false,
      hamburger: false
    }
  },
  computed: {
    ...mapState({
      isOpenLogin: state => state.ui.signUp,
      currentUser: state => state.user.current,
      categoryList: state => state.category.list
    }),
    ...mapGetters('category-next', ['getMenuCategories']),
    isThankYouPage () {
      return this.$store.state.checkout.isThankYouPage
        ? this.$store.state.checkout.isThankYouPage
        : false
    },
    categories () {
      let filteredCategory = this.getMenuCategories.filter(
        category => category.include_in_menu === 1 && category.parent_id === 2
      );
      return filteredCategory;
    }
  },
  beforeMount () {
    window.addEventListener(
      'scroll',
      () => {
        this.isScrolling = true
      },
      { passive: true }
    )
    setInterval(() => {
      if (this.isScrolling) {
        this.hasScrolled()
        this.isScrolling = false
      }
    }, 250)

    this.$bus.$on('open-search-input', () => {
      this.isMSearchInput = !this.isMSearchInput
    })
  },
  methods: {
    openbox (index) {
      this.hamburger = !this.hamburger;
    },
    gotoAccount () {
      this.$bus.$emit('modal-toggle', 'modal-signup')
    },
    hasScrolled () {
      this.scrollTop = window.scrollY
      if (
        this.scrollTop > this.lastScrollTop &&
        this.scrollTop > this.navbarHeight
      ) {
        this.navVisible = false
      } else {
        this.navVisible = true
      }
      this.lastScrollTop = this.scrollTop
    },
    beforeDestroy () {
      this.$bus.$off('open-search-input')
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$color-icon-hover: color(secondary, $colors-background);
$white: color(white);
$black: color(black);
$red: color(red);

header {
  height: 182px;
  left: 0;
  right: 0;
  top: 0;
  z-index: 3;
  transition: top 0.3s ease-in-out;
  &.is-visible {
    top: 0;
    .top-promotional-bar {
      display: block;
    }
  }
  .top-promotional-bar {
    display: none;
  }
  .main-logo{
    width: 19%;
  }
  .search-icon{
    width: 55%;
  }
  .right-icons{
    width: 26%;
  }
  .secure-checkout {
    img {
      display: inline-block;
      vertical-align: bottom;
      margin-right: 5px;
    }
  }
  @media (max-width: 1200px) {
    .search-icon{
      width: 45%;
    }
    .right-icons{
      width: 36%;
    }
  }
  @media (max-width: 767px) {
    top: -95px;
    height: 95px;
    .main-logo{
      width: 42%;
    }
    .search-icon{
      width: 58%;
    }
    .right-icons{
      position:fixed;
      width: 100%;
      bottom:0;
      left:0;
      background: $red;
      .pointer{
        width: 25%;
        text-align: center;
        justify-content: center;
        padding: 10px 0 8px;
        font-size: 18px;
        span{
          color: $white;
        }
      }
    }
  }
}
.header-placeholder {
  height: 182px;
  @media (max-width: 767px) {
    top: -95px;
    height: 95px;
  }
}
.icon {
  opacity: 0.6;
  &:hover,
  &:focus {
    background-color: $color-icon-hover;
    opacity: 1;
  }
}
.main-header{
  padding: 15px 0;
}
@media (max-width: 767px) {
  .row.middle-xs {
    margin: 0 -15px;
    &.py5 {
      margin: 0;
    }
  }
  .col-xs-2:first-of-type {
    padding-left: 0;
  }
  .col-xs-2:last-of-type {
    padding-right: 0;
  }
  a,
  span {
    font-size: 12px;
  }
  .main-header{
    padding: 10px 0;
  }
}
</style>
<style lang="scss">
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';

$white: color(white);
$black: color(black);

  @media (max-width: 767px) {
    .site-footer{padding-bottom: 68px;}
    .right-icons{
      .pointer{
        justify-content: center;
        button{
          padding:0;
          left: auto;
          right: auto;
          margin: auto;
          display: block;
          .bg-cl-red{
            background: $black;
          }
          .whishlist-count{
            background: #000;
            top: -5px;
            right: 0px;
            width: 20px;
            height: 20px;
            font-size:11px;
            line-height: 21px;
            font-weight: 700;
            border-radius: 100%;
          }
        }
        span{
          color: $white;
          font-size:14px;
          font-weight:500;;
        }
        svg{
          width:28px;
          height:28px;
          path{
            fill: $white;
          }
        }
        .cart-icon{
          width: auto;
          height: auto;
          border-radius: inherit;
          background:none;
          span{
            display:block;
          }
          .minicart-count{
            top: -5px;
            right: 0px;
            min-width: 20px;
            min-height:20px;
            font-size:11px;
            line-height: 21px;
          }
        }
      }
    }
    .header.active{
      position: relative;
      z-index: 111;
    }
  }
</style>
