<template>
  <div>
    <button
      type="button"
      class="cart-icon bg-cl-light-gray brdr-none inline-flex relative p0 bold"
      @click="openMicrocart"
      data-testid="openMicrocart"
      :aria-label="$t('Open microcart')"
    >
      <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M11.2 23.2C9.874 23.2 8.812 24.274 8.812 25.6C8.812 26.926 9.874 28 11.2 28C12.526 28 13.6 26.926 13.6 25.6C13.6 24.274 12.526 23.2 11.2 23.2ZM4 4V6.4H6.4L10.714 15.502L9.094 18.442C8.908 18.79 8.8 19.18 8.8 19.6C8.8 20.926 9.874 22 11.2 22H25.6V19.6H11.71C11.542 19.6 11.41 19.468 11.41 19.3C11.41 19.246 11.422 19.198 11.446 19.156L12.52 17.2H21.46C22.36 17.2 23.146 16.702 23.56 15.964L27.85 8.176C27.946 8.008 28 7.81 28 7.6C28 6.934 27.46 6.4 26.8 6.4H9.058L7.918 4H4ZM23.2 23.2C21.874 23.2 20.812 24.274 20.812 25.6C20.812 26.926 21.874 28 23.2 28C24.526 28 25.6 26.926 25.6 25.6C25.6 24.274 24.526 23.2 23.2 23.2Z" fill="#111111"/>
      </svg>
      <span
        class="minicart-count absolute flex center-xs middle-xs bg-cl-red"
        v-cloak
        v-show="totalQuantity"
        data-testid="minicartCount"
      >
        {{ totalQuantity }}
      </span>
      <span class="hidden-md">
        {{ $t('Basket') }}
      </span>
  </button>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import MicrocartIcon from '@vue-storefront/core/compatibility/components/blocks/Header/MicrocartIcon'
import { syncCartWhenLocalStorageChange } from '@vue-storefront/core/modules/cart/helpers'

export default {
  mounted () {
    syncCartWhenLocalStorageChange.addEventListener()
    this.$once('hook:beforeDestroy', () => {
      syncCartWhenLocalStorageChange.removeEventListener()
    })
  },
  computed: {
    ...mapGetters({
      totalQuantity: 'cart/getItemsTotalQuantity'
    })
  },
  methods: {
    ...mapActions({
      openMicrocart: 'ui/toggleMicrocart'
    })
  }
}
</script>

<style lang="scss" scoped>
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$white: color(white);
.cart-icon{
  width: 60px;
  height: 60px;
  border-radius: 100%;
  align-items: center;
  justify-content: center;
  span{
    color: $white;
  }
  .minicart-count {
    top: 9px;
    right: 10px;
    min-width: 18px;
    min-height: 18px;
    font-size: 11px;
    font-weight: 700;
    border-radius: 100%;
  }
}
</style>
