<template>
  <div class="relative">
    <div class="search-group flex bg-cl-light-gray">
      <input
        class="search-input"
        :placeholder="$t('I’m shopping for....')"
        type="search"
        v-model="search"
        @input="makeSearch"
        @focus="openSearchBox"
      >
      <span class="search-icons"><img src="/assets/icons/search-icon.png" alt=""></span>
    </div>
    <div class="search-lists bg-cl-white" v-if="isSeachBoxOpen">
      <search-result :search-result="visibleProducts" />
    </div>
    <div class="overlay fixed w-100" @click="openSearchBox" v-if="isVisible" />
  </div>
</template>

<script>
import SearchIcon from '@vue-storefront/core/compatibility/components/blocks/Header/SearchIcon';
import SearchPanel from '@vue-storefront/core/compatibility/components/blocks/SearchPanel/SearchPanel';
import SearchResult from './SearchResults';
export default {
  mixins: [SearchIcon, SearchPanel],
  components: {
    SearchResult
  },
  props: {
    isMobileSearch: {
      type: Boolean,
      default: false,
      required: false
    }
  },
  data () {
    return {
      isSeachBoxOpen: false,
      isVisible: false
    };
  },
  watch: {
    $route (to, from) {
      this.isSeachBoxOpen = false;
      this.isVisible = false;
    }
  },
  computed: {
    visibleProducts () {
      const productList = this.products || [];
      return productList;
    }
  },
  methods: {
    openSearchBox () {
      this.isVisible = !this.isVisible;
      this.isSeachBoxOpen = !this.isSeachBoxOpen;
    },
    openMobileSearchBox () {
      this.$bus.$emit('open-search-input');
    }
  }
};
</script>
<style lang="scss" scoped>
@import "~theme/css/variables/colors";
@import "~theme/css/helpers/functions/color";
@import "~theme/css/base/global_vars";
$cl-cccccc: color(gray-CCCCCC);
$cl-eeeeee: color(white-EEEEEE);
$bg-cl-eaeaec: color(black-EAEAEC);
$black: color(black);
$z-index-overlay: map-get($z-index, overlay);

.search-group {
  border-radius: 35px;
  padding: 5px 0;
  position: relative;
  input {
    border: none;
    padding:0 65px 0 28px;
    background-color: transparent;
    width: 100%;
    &::placeholder {
      color: $black;
    }
  }
  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-results-button,
  input[type="search"]::-webkit-search-results-decoration {
    display: none;
  }
  .search-icons {
    position:absolute;
    right: 28px;
    top: 50%;
    transform: translate(0, -50%);
    img{
      display: block;
      max-width: 28px;
    }
  }
  @media (max-width: 767px) {
    padding: 0;
    input {
    padding:0 45px 0 20px;
    }
    .search-icons {
      right: 20px;
      img{
        width: 21px;
      }
    }
  }
}
.overlay {
  height: 100vh;
  top: 0;
  left: 0;
  z-index: $z-index-overlay;
}
.search-lists {
  height: auto;
  width: 100%;
  position: absolute;
  z-index: 9999;
  top: 70px;
  left: 0;
  border-radius: 4px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4);
  &::after {
    content: "";
    position: absolute;
    top: -10px;
    left: 160px;
    right: 0;
    width: 20px;
    height: 20px;
    transform: rotate(225deg);
    -webkit-transform: rotate(225deg);
    background: #fff;
    box-shadow: 1px 1px 0 0 rgba(0, 0, 0, 0.2);
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    width: 610px;
  }
}
@media (max-width: 767px) {
    .close-search {
      height: 25px;
      width: 25px;
      border-radius: 50%;
      margin-left: 5px;
    }
  }
</style>
