<template>
<div>
  <button
    type="button"
    class="relative bg-cl-transparent brdr-none p0 bold"
    @click="toggleWishlistPanel"
    data-testid="wishlist-icon"
    :aria-label="$t('Open wishlist')"
  >
    <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M25.9833 6.22333C23.2173 3.17 18.661 3.25861 16 6.50738C13.3382 3.25695 8.78125 3.17165 6.01675 6.22333C4.71625 7.66015 4 9.569 4 11.6004C4 13.6318 4.71625 15.5415 6.01675 16.9767L16 28L25.9833 16.9759C27.2838 15.5407 28 13.6318 28 11.6004C28 9.569 27.2838 7.66015 25.9833 6.22333Z" fill="#111111"/>
    </svg>
    <span
      class="whishlist-count absolute flex center-xs middle-xs border-box py0 px2 h6 lh16 weight-700 cl-white bg-cl-silver"
      v-cloak
      v-show="getWishlistItemsCount"
    >
      {{ getWishlistItemsCount }}
    </span>
    <span class="block">
        {{ $t('Favourites') }}
    </span>
  </button>
 </div>
</template>

<script>
import WishlistIcon from '@vue-storefront/core/compatibility/components/blocks/Header/WishlistIcon'

export default {
  mixins: [WishlistIcon]
}
</script>

<style scoped>
  .whishlist-count {
    top: 7px;
    left: 50%;
    min-width: 16px;
    min-height: 16px;
    border-radius: 10px;
  }
</style>
