<template>
  <section class="dog-groomer container p0">
    <cms-block :identifier="'community_pet'" />
  </section>
</template>

<script>
import CmsBlock from 'theme/components/core/blocks/Cms/Block'
export default {
  name: 'CommunityPet',
  components: {
    CmsBlock
  }
};
</script>

<style lang="scss">
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$white: color(white);
$black: color(black);
.dog-groomer{
  .cms-content{
    display: flex;
  }
  .dog-image{
    display: inline-flex;
    align-items: center;
    width: 50%;
    background-size: cover;
    overflow: hidden;
  }
  .dog-service{
    display: inline-flex;
    align-items: center;
    color:$white;
    width: 50%;
    padding: 25px;
    .dog-service-caption{
      max-width: 490px;
      margin: 0 auto;
    }
    p{
      padding: 10px 0 15px;
    }
    .dog-care-box{
      justify-content: center;
      padding: 0 0 10px 0;
      .dog-care-item{
        border: solid 6px $white;
        border-radius: 100%;
        width: 100px;
        height: 100px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin: 0 10px;
        img{
          height: 45px;
        }
      }
    }
  }
  @media only screen and (max-width: 1200px) {
    .dog-service{
      .dog-care-box{
        .dog-care-item{
          width: 80px;
          height: 80px;
          margin: 0 5px;
          img{
            height: 40px;
          }
        }
      }
    }
  }
  @media only screen and (max-width: 992px) {
    .dog-image{
      display: none;
    }
    .dog-service{
      width: 100%;
    }
  }
}
</style>
