<template>
  <section class="perfect-puppy bg-cl-yellow container">
    <cms-block :identifier="'perfect_puppy'" />
  </section>
</template>

<script>
import CmsBlock from 'theme/components/core/blocks/Cms/Block'

export default {
  name: 'perfectPuppy',
  components: {
    CmsBlock
  }
};
</script>

<style lang="scss">
.perfect-puppy{
  overflow: hidden;
  img{
    display: block;
    width: 100%;
  }
}
</style>
