<template>
  <section class="shop-by-department container small-space align-center">
   <cms-block :identifier="'shop_by_department'" />
  </section>
</template>

<script>
import CmsBlock from 'theme/components/core/blocks/Cms/Block'
export default {
  name: 'ShopByDepartment',
  components: {
    CmsBlock
  }
};
</script>

<style lang="scss" scoped>
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';

.shop-by-department{
  h2{
    margin-bottom: 10px;
  }
  .quick-links{
    margin-left: -10px;
    margin-right: -10px;
    flex-wrap: wrap;
    .item{
      padding: 25px 10px 0;
      width: 16.666666667%;
      span{
        img{
          width: 100%;
          max-width: 150px;
          border-radius: 100%;
          display: block;
          margin: 0 auto;
        }
      }
      h4{
        margin-top: 15px;
      }
      @media only screen and (max-width: 1200px) {
        width: 20%;
      }
      @media only screen and (max-width: 992px) {
        width: 25%;
      }
      @media only screen and (max-width: 767px) {
        padding-top: 12px;
        h4{
          margin-top: 8px;
        }
      }
    }
  }
}
</style>
