<template>
  <section class="speical-offers section-padding">
    <div class="inner-container">
      <cms-block :identifier="'specail_offer'" />
    </div>
  </section>
</template>

<script>
import CmsBlock from 'theme/components/core/blocks/Cms/Block'
export default {
  components: {
    CmsBlock
  }
};
</script>

<style lang="scss">
.speical-offers{
  .offer-content {
    order: 1;
    max-width: 360px;
    p{
      font-size: 14px;
      padding: 15px 0;
    }
  }
  .offer-img{
    order: 2;
  }
  @media (max-width: 767px) {
    text-align: center;
    .offer-content{
      margin: 10px auto 0;
      h2{
        max-width: 220px;
        margin: 0 auto;
      }
    }
  }
}
</style>
