<template>
  <section class="what-need bg-cl-oat container small-space">
    <cms-block :identifier="'pet_needs'" />
  </section>
</template>

<script>
import CmsBlock from 'theme/components/core/blocks/Cms/Block'
export default {
  components: {
    CmsBlock
  }
};
</script>

<style lang="scss">
.what-need{
  .cms-content{
    max-width: 1300px;
    margin: 0 auto;
  }
  h2{
    margin-bottom: 20px;
  }
  .what-need-block{
    margin-left:-5px;
    margin-right:-5px;
  }
  .d-flex{
    padding: 0 5px;
  }
  .what-need-content{
    padding-left: 10px;
    h3{
      margin-bottom: 5px;
    }
    p{
      padding: 0 0 5px;
      a{
        text-decoration: underline;
      }
    }
  }
  @media only screen and (max-width: 992px) {
    img{
      max-width: 80px;
    }
    .what-need-content{
      padding-left: 0;
      p{
        font-size: 13px;
      }
    }
    .d-flex{
      display: inline-block;
      text-align: center;
      width: 33.333333%;
    }
  }
}
</style>
