<template>
  <section class="whiskas-ocean bg-cl-yellow container p0">
    <cms-block :identifier="'whiskas_ocean'" />
  </section>
</template>

<script>
import CmsBlock from 'theme/components/core/blocks/Cms/Block'
export default {
  name: 'WhiskasOcean',
  components: {
    CmsBlock
  }
};
</script>

<style lang="scss">
.whiskas-ocean{
  overflow: hidden;
  img{
    display: block;
    width: 100%;
  }
}
</style>
