<template>
  <div class="store-event">
    <h2 class="block-title">
      {{ $t('Store events') }}
    </h2>
    <div class="border-box d-flex">
      <div class="event-photo">
        <img src="/assets/store-photo.jpg" alt="Store Event">
      </div>
      <div class="event-details">
        <h3>
          {{ $t('Puppy training class') }}
        </h3>
        <span class="date flex middle-xs">
          <img src="/assets/icons/calendar-icon.png" alt="Calendar">
          <strong>
            {{ $t('4th January 2021') }}
          </strong>
        </span>
        <p>
          {{ $t('Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sagittis ultrices sapien non ullamcorper. In vehicula vehicula urna, ut molestie arcu ultrices vitae. Nam sollicitudin varius enim. Mauris sodales lectus felis, eu suscipit nunc pharetra et. Sed quis quam pretium ex fermentum semper. In odio arcu, ullamcorper sit amet ullamcorper id, congue eu odio. Curabitur ut ligula et lectus pulvinar elementum. Aliquam at sem ut ante vulputate fermentum. Proin quis posuere nibh. Nulla dui leo, fringilla sed volutpat eu, pretium id magna. Proin fringilla ornare turpis, vitae tristique nunc volutpat quis. Nam at turpis consequat, porta augue nec, accumsan urna.') }}
        </p>
        <router-link class="btn black" to="/">
          {{ $t('INTERESTED') }}
        </router-link>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  components: {
  },
  data () {
    return {
    }
  }
}
</script>
<style lang="scss" scoped>
.store-event{
  .event-photo{
    margin-right: 20px;
  }
  .event-details{
    max-width: 920px;
    .date{
      padding: 15px 0;
      img{
        margin-right: 10px;
      }
    }
  }
  @media (max-width: 767px) {
    h3{
      font-size: 16px;
    }
    .event-photo{
      margin: 0 0 15px;
      img{
        width: 100%;
      }
    }
  }
}
</style>
